@font-face {
  font-family: "bpmenu";
  src: url("../fonts/bpmenu/bpmenu.eot");
  src: url("../fonts/bpmenu/bpmenu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bpmenu/bpmenu.woff") format("woff"),
    url("../fonts/bpmenu/bpmenu.ttf") format("truetype"),
    url("../fonts/bpmenu/bpmenu.svg#bpmenu") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Main menu wrapper */
.cbp-hsmenu-wrapper {
  position: relative;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
  background: #000;
  position: relative;
  z-index: 100;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
  /*    width: 90%;*/
  max-width: 108em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.cbp-hsmenu > li {
  margin-left: 1.5em;
  display: inline-block;
}

.cbp-hsmenu > li:first-child {
  margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
  color: #fff;
  font-size: 1.5em;
  line-height: 3em;
  display: inline-block;
  position: relative;
  z-index: 10000;
  outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
  color: #02639d;
}

/* Add an arrow to the main menu link if it has a submenu (not the only child) */
/* .cbp-hsmenu > li > a:not(:only-child):before {
    display: inline-block;
    font-family: 'bpmenu';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f107";
    font-size: 80%;
    margin-right: 0.3em;
    opacity: 0.4;
    vertical-align: middle;
} */

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
  content: "\f106";
}

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #47a3da;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* Submenu style */
.cbp-hssubmenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 999999;
  text-align: center; /* for aligning the sub items */
  visibility: hidden;
}

.cbp-hssubmenu:before,
.cbp-hssubmenu:after {
  content: " ";
  display: table;
}
.cbp-hssubmenu:after {
  clear: both;
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
  width: 16.2%;
  display: inline-block;
  vertical-align: top;
  box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0s;
  -moz-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.cbp-hssubmenu > li:nth-child(-n + 6) {
  box-shadow: -28px 0 0 -27px #ddd;
}

/* Every 7th item does not have a left box shadow */
.cbp-hssubmenu > li:nth-child(6n + 1) {
  box-shadow: 0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
  box-shadow: none;
}

.cbp-hssubmenu > li a {
  display: block;
  text-align: center;
  color: #3399ff;
  outline: none;
  padding: 1em 1em 1em 1em;
  font-weight: bold;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
  color: #888;
}

.cbp-hssubmenu > li a img {
  border: none;
  outline: none;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
  opacity: 0.5;
}

.cbp-hssubmenu > li a span {
  display: block;
  min-height: 3em;
  margin-top: 0.4em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
  z-index: 1000;
  visibility: visible;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.1s;
  -moz-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
  background: #f7f7f7;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 0;
  height: 0px;
}

.no-touch .cbp-hsmenubg {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

@media screen and (max-width: 65em) {
  .cbp-hsmenu-wrapper {
    font-size: 80%;
  }
}

@media screen and (max-width: 51.4375em) {
  .cbp-hsmenu-wrapper {
    font-size: 100%;
  }

  .cbp-hsmenu-wrapper .cbp-hsmenu {
    padding: 0;
    max-width: none;
    width: 100%;
  }

  .cbp-hsmenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .cbp-hsmenu > li:first-child {
    border-top: none;
  }

  .cbp-hsmenu > li > a {
    display: block;
  }

  .cbp-hsmenu > li > a:not(:only-child):before {
    line-height: 1.8;
    right: 0;
    position: absolute;
    font-size: 200%;
  }

  .cbp-hsmenubg {
    display: none;
  }

  .cbp-hssubmenu {
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    height: 0;
  }

  .cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
    height: auto;
  }

  /* Let's only allow 3 item in a row now */
  .cbp-hssubmenu > li {
    width: 30%;
  }

  /* Reset box shadows for the 6 items in row case */
  .cbp-hssubmenu > li:nth-child(-n + 6),
  .cbp-hssubmenu > li:nth-child(6n + 1) {
    box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
  }

  /* First 4 items don't have upper box shadow */
  .cbp-hssubmenu > li:nth-child(-n + 3) {
    box-shadow: -28px 0 0 -27px #ddd;
  }

  /* Every 5th item does not have a left box shadow */
  .cbp-hssubmenu > li:nth-child(3n + 1) {
    box-shadow: 0 -28px 0 -27px #ddd;
  }
}

@media screen and (max-width: 25em) {
  /* Let's only allow 1 item in a row now */
  .cbp-hssubmenu > li {
    width: 100%;
    display: block;
  }

  .cbp-hsmenu-wrapper .cbp-hssubmenu > li {
    box-shadow: 0 1px #cecece;
    text-align: left;
  }

  .cbp-hssubmenu > li a {
    text-align: left;
    line-height: 50px;
    padding: 0.4em 1em;
  }

  .cbp-hssubmenu > li a img {
    float: left;
    max-height: 50px;
  }

  .cbp-hssubmenu > li a span {
    min-height: 0;
    margin: 0;
  }
}

.order-item-table {
  border-bottom: 1px solid;
}
.order-item-table td {
  line-height: 20px;
}

.order-summary {
}
.order-summary tr td:nth-child(1) {
  width: 160px;
}
.shipping-rates {
  display: block;
}

.grid-list {
  /*display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
  display: flex;
  flex-wrap: wrap;
}
.grid-list > li {
  flex: 1 1 150px;
  margin-top: 10px;
}

@media (min-width: 620px) {
}

@media (min-width: 960px) {
}

.prod-img-responsive {
  max-width: 100%;
  max-height: 275px;
  align-self: center;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}

/* Start New Homepage Industries Styles */


.industrial-features{display:inline-block;list-style:none;margin:0;padding:0;overflow:hidden}.industrial-features__feature{float:left;width:100%;background:#333;color:#fff;position:relative}.industrial-features__feature p{padding:14px;font-size:12px;width:60%;float:right;position:absolute;right:0;z-index:999;top:50%;transform:translateY(-50%)}@media (min-width:768px){.industrial-features__feature p{width:100%;float:none;position:relative;top:0;transform:translateY(0)}.industrial-features__feature{width:20%;padding-bottom:500px;margin-bottom:-500px}.industrial-features__feature~.industrial-features__feature{margin-left:-1px;border-left:1px solid #fff}}
.industrial-features__title{background:rgba(0,0,0,.6);text-transform:uppercase;margin:0px 1px 0 0;text-align:center;position:relative;padding:7px 1px;font-size:12px;color:#fff;z-index:20;width:40%}
@media (min-width:540px){.industrial-features__title{font-size:20px}}@media (min-width:768px){.industrial-features__title{width:99.5%}}@media (min-width:768px) and (max-width:1199px){.carousel-5.slick-slider{max-height:320px}.industrial-features__title{font-size:15px;}}.industrial-features img{width:40%;z-index:0;margin-top:0;max-height:160px}.email-signup__copy{color:#999;font-family:'avenir heavy';font-size:22px}.slide-1 .stat,.slide-1 .stat span{font-family:'Avenir Black'}.email-signup__copy--red{color:#BA3747;text-transform:uppercase;font-size:24px}.email-signup__iframe{height:65px;border:0;margin-top:10px;overflow-y:hidden}@media (max-width:767px){.email-signup__copy{text-align:center}.email-signup__iframe{width:100%}}.slide-1 .stat{text-transform:uppercase;color:#fff;font-size:12px;line-height:20px}.slide-1 .stat.first{margin:0 -13px 0 13px}.slide-1 .stat span{color:#BA3747;font-size:24px;margin-top:-10px;display:block}.slide-1 h1{color:#fff;font-size:16px;margin-top:15px}@media (min-width:480px){.slide-1 .stat{font-size:19px;line-height:32px}.slide-1 .stat span{margin-top:0;font-size:42px}.slide-1 h1{font-size:28px;margin-top:-1px}}@media (min-width:768px){.industrial-features img{width:100%;max-height:none}
.industrial-features {
  width: 100%;
}
.industrial-features__feature-3col {
  min-height: 200px !important;
}
.industrial-features__feature-3col .image-wrapper {
  max-height: 205px;
  overflow: hidden;
  width: 100%;
  margin-top: -35px;
}
.industrial-features__feature-3col .industrial-features__title {
  width: 100%;
  padding: 0;
  line-height: 35px;
}
.industrial-features__feature-3col p {
  padding: 14px;
  color: #fff;
}

@media (max-width: 1200px) {
  .industrial-features__feature-3col .image-wrapper {
    max-height: 200px;
  }
}
@media (max-width: 991px) {
  .industrial-features__feature-3col {
    min-height: 150px !important;
  }
  .industrial-features__feature-3col .image-wrapper img {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .industrial-features__feature-3col {
    float: left;
    width: 33.333333%;
    width: 33%;
    min-height: 360px;
    margin: 5px 0.333333% 3px 0;
  }
  .industrial-features__feature-3col p {
    width: 100%;
    float: none;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}

/* End New Homepage Industries Styles */

.rowWithFullWidth {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


#related_products {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
#related_products .product_box {
  border-right: 1px solid rgb(90, 134, 255);
}
#related_products .product_box:last-child {
  border-right: none;
}

a.btn1{
  color:#fff !important;
}