body,td {
color: #000000;font-family:tahoma, verdana, helvetica; font-size: 11px; font-weight:none;
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #000000;
	scrollbar-base-color : #ffffff;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #000000;
}
a { color:#000000; text-decoration:none; font-weight:bold;}
a:hover { color:#000000; text-decoration:none; font-weight:bold;}
a:active { color:#000000; text-decoration:none; font-weight:bold ;}

.Menu
{width: 100%; height: 15px; padding:2 5 3 2; border-right: buttonshadow 0px solid; border-top: #0000FF 0px solid; border-left: #0000FF 1px solid; border-bottom: buttonshadow 0px solid; background-color: #0000FF; cursor:hand; color:#FFFFFF;}
.Option
{width: 100%; height: 15px; padding:2 5 3 16; border: 0 0 0 0 solid #0000FF; background-color: #0000FF; cursor:hand;}
.Options {padding:1 1 1 1}