* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	font-size: 100%;
	color: #0000FF;
}

#shoppingcart {
	position: absolute;
	top: 150px;
	left: 10px;
	height: 100px;
	width: 500px;
	background: #eee;
	border: 1px solid #444;
}

#shoppingcart p {
	margin: 0 1em 1em;
}

h1 {
	font-size: 140%;
}

#booklist, #contents {
	position: absolute;
	top: 300px;
	left: 10px;
	width: 500px;
	background: #ddd;
	border: 1px solid #333;
}

#booklist ul {
	list-style-type: none;
}

#booklist ul li {
	margin: 0 1em 1em;
}

#contents table {
	font-size: 90%;
	border-collapse: collapse;
}

#contents table td {
	border: 1px solid #999;
	width: 20%;
}

#contents p, #contents button {
	margin: 1em;
}

body,td {
color: #000000;font-family:tahoma, verdana, helvetica; font-size: 8px; font-weight:none;
    scrollbar-face-color: #ffffff;
    scrollbar-shadow-color: #000000;
    scrollbar-base-color : #ffffff;
    scrollbar-highlight-color: #000000;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #f8f8f8;
    scrollbar-arrow-color: #006699;
}
a { color:#0000FF; text-decoration:none; font-weight:bold;}
a:hover { color:#FF0000; text-decoration:none; font-weight:bold;}
a:active { color:#FF0000; text-decoration:none; font-weight:bold ;}

.Menu
{width: 100%; height: 20px; padding:2 5 3 2; border-right: buttonshadow 1px solid; border-top: #0000FF 1px solid; border-left: #0000FF 1px solid; border-bottom: buttonshadow 1px solid; background-color: #0000FF; cursor:hand; color:#000000;}
.Option
{width: 100%; height: 20px; padding:2 5 3 16; border: 1 1 1 1 solid #ffffff; background-color: #0000FF; cursor:hand;}
.Options {padding:1 1 1 1}

#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #313131;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}

/* CSS class for zoomed area */
.MagicZoomBigImageCont {
	border:			1px solid #91b817;
}

/* Header look and feel CSS class */
/* header is shown if "title" attribute is present in the <A> tag */
.MagicZoomHeader {
	font:			10px Tahoma, Verdana, Arial, sans-serif;
	color:			#fff;
	background:		#91b817;
	text-align:     center !important; 
}


/* CSS class for small looking glass square under mouse */
.MagicZoomPup {
	border: 		1px solid #aaa;
	background: 	#ffffff;
}

/* CSS style for loading animation box */
.MagicZoomLoading {
	text-align:		center;
	background: 	#ffffff;
	color:			#444;
	border: 		1px solid #ccc;
	opacity:		0.8;
	padding:		3px 3px 3px 3px !important;
	display: 		none; /* do not edit this line please */
}

/* CSS style for gif image in the loading animation box */
.MagicZoomLoading img {
	padding-top:	3px !important;
}