.verdana10wht {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.blue_txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #02004C;
}
.arial12blue_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #030250;
}
.arial11blue_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0C0866;
}
.arial10blue_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0C0866;
}

.arial10italic {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #6B6B6B;
	font-style: italic;
}
.arial12italic {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6B6B6B;
	font-style: italic;
}
.arial14blue_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #030250;
}
.arial16blue_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #030250;
}
.arial12red_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
}
.arial24red_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #CC0000;
}
.arial26red_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #CC0000;
}
.arial12_yellow {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFC072;
}
.arial14red_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.arial20red:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #CC0000;
}
.arial20red:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #CC0000;
}
.arial20red:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #CC0000;
}
.arial12grey_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #212528;
}
.left_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #02004C;
}
.left1_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #00005E;
}
.20_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #00005E;
}
.left2_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #00005E;
}
.red1_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC0000;
}
.red_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CC0000;
}
.acenter:link {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #030250;
	text-decoration: underline;
}
.acenter:visited {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #030250;
	text-decoration: underline;
}
.acenter:hover {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #030250;
	text-decoration: none;
}
.main_txt {
	font-family:verdana;
	font-size: 11px;
	color: #212528;
}
.left_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC0000;
}form {
	margin: 0px;
}
.border1 {
	border: 1px solid #C0D7E9;
}
.grey_border {
	border: 1px solid #E3E3E3;
}
.footer_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}
.links:link {
	font-family: verdana, Helvetica, sans-serif, Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
}
.links:visited {
	font-family: verdana, Helvetica, sans-serif, Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none ;
	text-transform: capitalize;
}
.links:hover {
	font-family: verdana, Helvetica, sans-serif, Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration:underline;
	text-transform: capitalize;
}
a.grey_link:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
a.grey_link:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
a.grey_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: underline;
}
