#main{
    padding: 10px 0 50px 0;
}
.content td, .content th {
    border-top: none;
}

.w-100{
    width: 100%;
}


#time-selector
{
    float:left;
}
#time-selector ul {
    overflow: auto;

    width: 100%;
    padding: 0;
    margin: 0.5em 0;
    color:#FFF;
}

#time-selector li {
    border-width: .25px;
    border-style: solid;
    padding: 0;
    margin: 0.25em 0.25em;
    line-height: 1em;
    white-space: nowrap;
    width: 3em;
    display: block;
    float: left;
    text-align: center;
}

#calender_window
{
    float:left;
    width:300px;
}


.waiting-color a, .booked-color a, .available-color a, .timeoff-color a, .unavailable-color a
{
    color:#000000;
}
.waiting-color
{
    color:#000000;
    background-color:#00349a;
    /*background-color:#933;*/
}
.booked-color
{
    color:#000000;
    background-color:#F00;
    /*background-color:#F00;*/
}
.available-color, .available-color a
{
    color:#000000;
    background-color:#C2E7B3;
    /*background-color:#78B450;*/
}
.timeoff-color
{
    color:#000000;
    background-color:#F39;
    /*background-color:#F39;*/
}
.unavailable-color
{
    color:#000000;
    background-color:#F1F0A3;
    /*background-color:#F90;*/
}



.waiting-color_bg
{
    background-color:#00349a;	
}
.booked-color_bg
{
    background-color:#F00;	
    color:#fff;
}
.available-color_bg 
{
    background-color:#C2E7B3;	
    color:#fff;
}
.timeoff-color_bg
{
    background-color:#F39;	
}
.unavailable-color_bg
{
    background-color:#F1F0A3;	
}

#ntsLegend th, #ntsLegend td
{
    font-size: 10px;
}

.testimonial{
    margin-top: 20px;
}

.testimonial .image span{
    font-size: 2rem;
    font-weight: bold;
    color:blue;
}
.testimonial .message{
    padding-left: 20px;

}
.testimonial .message.even{
    background: #fcc;
}
.testimonial .message.odd{
    background: #F1F0A3;
}
.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}



div.pagination {
    padding: 3px;
    margin: 3px;
    text-align:center;
    color:#000;
    font-size:16px;
}
div.pagination a {
    border: 1px solid #909090;
    margin-right:3px;
    padding:2px 5px;
    background-position:bottom;
    text-decoration: none;
    color: #000;
    font-size:16px;
}
div.pagination a:hover, div.meneame a:active {
    border: 1px solid #f0f0f0;
    background-color:#404040;
    color: #000;
    font-size:16px;
}
div.pagination span.current {
    margin-right:3px;
    padding:2px 5px;
    border: 1px solid #ffffff;
    font-weight: bold;
    background-color: #606060;
    color: #000;
    font-size:16px;
}
div.pagination span.disabled {
    margin-right:3px;
    padding:2px 5px;
    border: 1px solid #606060;
    color: #000;
    font-size:16px;
}

.credit-title{
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    text-align: right;
    float: right;
    padding-right: 20px;
}

input[type="text"], input[type="tel"], input[type="url"], input[type="email"], input[type="number"], input[type="date"], input[type="range"], input[type="password"], select, textarea {
color: #555;
    border: 1px solid #000;
    background-color: #fff;

}