.syn-Chip {
    font-weight: bold;
    left: 50%;
    margin-left: -500px;
    position: fixed;
    text-align: center;
    top: 5px;
    width: 1000px;
}
.syn-Chip-info {
    display: inline-block;
}
.syn-Chip-standalone {
    bottom: 0;
    font-weight: bold;
    position: fixed;
    right: 0;
}
.syn-Chip-message {
    display: inline;
}
.syn-Chip-undoLink {
    display: inline;
    padding: 0 0 0 5px;
}
.syn-Chip-sub-message {
    display: inline;
}
.syn-ValidationErrorBox {
    border: 1px solid #FFFFFF;
    padding: 1px;
}
.syn-ValidationErrorBox.visible {
    background-color: #FFF1A8;
    border-color: #999999;
}
.syn-ValidationErrorBox .syn-ValidationError {
    color: #FF0000;
    font-weight: bold;
    vertical-align: bottom;
}
.syn-WidgetDecoration .widget-horizontal {
    vertical-align: top;
}
.syn-WidgetDecoration .hint-horizontal {
    color: #666666;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.syn-WidgetDecoration .link-horizontal {
    padding: 0 10px;
    vertical-align: top;
}
.syn-WidgetDecoration .widget-vertical {
    vertical-align: top;
}
.syn-WidgetDecoration .hint-vertical {
    color: #666666;
    font-size: 11px;
    padding: 2px 0;
    vertical-align: top;
}
.syn-WidgetDecoration .currency-leading {
    padding-left: 0;
    padding-right: 3px;
}
.syn-WidgetDecoration .currency-trailing {
    padding-left: 3px;
    padding-right: 0;
}
.syn-PageSectionTitle {
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    width: 100%;
}
.syn-PageSectionTitle .title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 10px 3px 0;
    vertical-align: baseline;
}
.syn-PageSectionTitle .link {
    vertical-align: baseline;
}
.syn-InlineEditingFormGrid {
    padding: 5px 0;
}
.syn-InlineEditingFormGrid .FormGrid .label {
    width: 159px;
}
.syn-InlineEditingFormGrid .readonly {
    padding: 1px;
}
.syn-InlineEditingFormGrid .editable {
    background-color: #EFF3F8;
    border: 1px solid #DCE5EE;
}
.syn-InlineEditingFormGrid .submit {
    font-weight: bold;
}
.syn-InlineEditingFormGrid .editable .FormGrid .label-cell-border-left {
    border-left: 1px solid #EFF3F8;
}
.syn-InlineEditingFormGrid .editable .FormGrid .label-cell-border-right {
    border-right: 1px solid #EFF3F8;
}
.syn-InlineEditingFormGrid .editable .button-panel-container {
    padding-bottom: 4px;
    padding-top: 4px;
}
.syn-InlineEditingFormGrid .editable .FormGrid .button-panel-separator {
    height: 1px;
    margin: 0;
}
.syn-InlineEditingFormGrid .editable .gwt-TextBox {
    border: 1px solid #809DB9;
    padding: 2px;
}
.syn-low-key {
    color: #666666;
    font-style: italic;
}
.syn-CommandLink {
    white-space: nowrap;
}
.syn-MainMenu-background {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAhCAIAAACX21boAAAAOklEQVQYGQXBAQEAMAyDMIZ/yy9P2OY2ASsB6wSsBNyyMrAmYGVL0JWVHbJsE/CRGwJe+ZaANAMBVx9Ryjj2PZG0HwAAAABJRU5ErkJggg==") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    height: 32px;
    padding: 0 7px;
}
.syn-MainMenu .clear {
    clear: both;
}
.syn-MainMenu .gwt-TabBar {
    bottom: -3px;
    display: inline;
    float: left;
    left: -3px;
    position: relative;
}
.syn-MainMenu .gwt-TabBarRest-wrapper {
    width: inherit;
}
.syn-MainMenu .syn-Tab-body {
    height: 15px;
    padding: 4px 10px 8px;
    white-space: nowrap;
}
.syn-RoundedBox .syn-MainMenu {
    background: none repeat scroll 0 0 #5184D2;
    border-left-color: #829DC0;
    border-right-color: #829DC0;
}
.syn-MainMenu .gwt-TabBarItem .ops-control-centre .syn-Tab, .syn-MainMenu .gwt-TabBarItem .ops-control-centre a:hover .syn-Tab {
    background: none repeat scroll 0 0 #DFFADD;
    border-left-color: #4075C0;
    border-right-color: #4075C0;
    color: #000000;
}
.syn-MainMenu .gwt-TabBarItem a:hover .syn-Tab {
    background: none repeat scroll 0 0 #98B8E1;
    border-left-color: #829DC0;
    border-right-color: #829DC0;
}
.syn-MainMenu .gwt-TabBarItem .syn-Tab {
    background: none repeat scroll 0 0 #3A6AAD;
    border-left-color: #4075C0;
    border-right-color: #4075C0;
}
.syn-MainMenu .gwt-TabBarItem .syn-Tab-disabled {
    background: none repeat scroll 0 0 #5689D7;
    color: #BBBBCC;
    cursor: default;
}
.syn-MainMenuTab {
    display: block;
    font-size: 1em;
    margin-right: 5px;
    text-decoration: none;
}
.gwt-TabBarItem .syn-MainMenuTab {
    cursor: pointer;
}
.gwt-TabBarItem-selected .syn-MainMenuTab {
    cursor: default;
}
.syn-MainMenu .gwt-TabBarItem-selected .ops-control-centre .syn-Tab, .syn-MainMenu .gwt-TabBarItem-selected .ops-control-centre a:hover .syn-Tab {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAhCAIAAACX21boAAAAOklEQVQImV2LQQ4AIAzCOv7/YbO5eZgx6oEUAsjLlYQAZVXTpgDVzkGczby6xxPCrLl//8ZtCHiU5AKHmCzhOiSc0wAAAABJRU5ErkJggg==") repeat-x scroll -6px 50% #E1E3EC;
    border-left-color: #829DC0;
    border-right-color: #829DC0;
}
.syn-MainMenu .gwt-TabBarItem-selected .syn-Tab, .syn-MainMenu .gwt-TabBarItem-selected a:hover .syn-Tab {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAhCAIAAACX21boAAAAOklEQVQYGQXBAQEAMAyDMIZ/yy9P2OY2ASsB6wSsBNyyMrAmYGVL0JWVHbJsE/CRGwJe+ZaANAMBVx9Ryjj2PZG0HwAAAABJRU5ErkJggg==") repeat-x scroll -6px 50% #E1E3EC;
    border-left-color: #829DC0;
    border-right-color: #829DC0;
}
.syn-MainMenuTab {
    color: #FFFFFF;
}
.gwt-TabBarItem-selected .syn-MainMenuTab {
    color: #333333;
    font-weight: bold;
}
.syn-MenuBox {
    width: 100%;
}
.syn-MenuBox .subitem {
    padding: 1px 4px 1px 20px;
}
.syn-MenuBox .syn-RoundedBox .selected a.syn-pev-mode {
    color: #000000;
}
.syn-PageHeader {
    clear: both;
    position: relative;
    width: 100%;
}

.asfe-form input[type="checkbox"], .asfe-form input[type="radio"] {
    -moz-box-sizing: border-box;
    border: 1px solid #C6C6C6;
    border-radius: 1px;
    cursor: default;
    height: 13px;
    margin: 0 4px 0 0;
    position: relative;
    vertical-align: -2px;
    width: 13px;
}
.asfe-form input[type="radio"] {
    border-radius: 50%;
    height: 15px;
    vertical-align: -3px;
    width: 15px;
}
.asfe-form input[type="checkbox"]:active, .asfe-form input[type="radio"]:active {
    background: none repeat scroll 0 0 #EBEBEB;
    border-color: #666666;
}
.asfe-form input[type="checkbox"]:hover, .asfe-form input[type="radio"]:hover {
    border-color: #666666;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.asfe-form input[type="radio"]:focus, .asfe-form input.focus[type="radio"], .asfe-form input[type="checkbox"]:focus, .asfe-form input.focus[type="checkbox"] {
    border-color: #4D90FE;
    outline: medium none;
}
.asfe-form input.disabled[type="checkbox"], .asfe-form input[type="checkbox"]:disabled, .asfe-form input.disabled[type="radio"], .asfe-form input[type="radio"]:disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F1F1F1;
    box-shadow: none;
}
.asfe-form input[type="radio"]:checked:after {
    background: none repeat scroll 0 0 #666666;
    border-radius: 50%;
    content: "";
    display: block;
    height: 7px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px;
}
.asfe-form input[type="checkbox"]:checked:after {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOpJREFUeNpi/P//PwO1ARMDDcAwNZSRkRGFjYQlgZidLEORIxXEhvLNgbgSiG0wJInBWIA9EC8B4ihks1goCLpAIPYA4ktAvAJZghxDWYE4CYiNgPgy0GVTkMOaHEO5gTgPiBWA+A4QzyQp9oG2g1zgD8Qs0BgWAwpXQA18CsRTgPg3Vr24sinQEEcgFQHED4F4HxCHQV36Coi7gPgzLHJg3oeZhc9QEJUKxCZIwh+AuBOI3yGnHnRDCaVTUHJ5CWWDXDYJ2UC8CZpAmpQF4h5oWBKVIQh5HwY4gfg7LkOJDtPRom9wGQoQYADRjokrpemFfAAAAABJRU5ErkJggg==");
    display: block;
    left: -5px;
    position: absolute;
    top: -6px;
}
.asfe-form input[type="text"], .asfe-form textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: inline-block;
    height: 29px;
    line-height: 15px;
    margin: 0;
    padding: 6px 8px;
    vertical-align: baseline;
}
.asfe-form textarea {
    height: 156px;
    width: 312px;
}
.asfe-form input[type="text"]:hover, .asfe-form textarea:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.asfe-form input[type="text"]:focus, .asfe-form input.focus[type="text"], .asfe-form textarea:focus, .asfe-form textarea.focus {
    border-color: #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
    position: relative;
    z-index: 1;
}
.asfe-form input[type="text"]:disabled, .asfe-form input.disabled[type="text"], .asfe-form textarea:disabled, .asfe-form textarea.disabled {
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: none;
    color: #B8B8B8;
    outline: medium none;
}



.syn-reports-loading.gwt-GlassPanel {
    background-color: #FFFFFF !important;
    z-index: 200;
}
.syn-reports-loading.gwt-Label {
    background: url("https://www.google.com/adsense/gwt/8741593958B62D2176E52D792C0E6712.cache.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    height: 32px;
    width: 32px;
    z-index: 201;
}
.header-row .gwt-Anchor, .header-row .gwt-Anchor:hover {
    color: #000000;
    font-weight: bold;
}
.syn-report-graph-message {
    color: #666666;
    padding: 3em;
    text-align: left;
}
.syn-report-sidebar {
    z-index: 2 !important;
}
.syn-report-graph-series-selector {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.syn-report-graph-series-selector .gwt-CheckBox {
    font-size: 0.923em;
    padding: 0 4px;
    white-space: nowrap;
}
.syn-report-graph-series-back {
    font-size: 1.1em;
    margin: 0 4px 0 10px;
}
.syn-report-graph-series-selector .gwt-CheckBox input {
    vertical-align: middle;
}
.syn-report-graph-metrics {
    border-left: 1px solid #CCCCCC;
    height: 240px;
    overflow-y: auto;
    padding: 0.385em 0.769em 0.385em 0.385em;
    width: 20em;
}
.syn-report-graph-metrics-metric {
    cursor: pointer;
    display: block;
    padding: 0.15em;
}
.syn-report-graph-metrics-reset {
    margin-left: 0.7em;
}
.GG2XYKACCTB .annotationsdiv {
    display: none;
}
.syn-report-graph-metrics-series {
    display: block;
    margin-left: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.syn-report-graph-metrics-total {
    font-size: 1.15em;
    font-weight: bold;
    margin: 0 0.3em;
}
.syn-report-graph-metrics-series .syn-report-graph-metrics-total {
    font-size: 1em;
}
.syn-report-graph-metrics-checkbox-wrapper {
    border-radius: 2px;
    padding: 1px 2px;
}
.syn-report-graph-metrics-checkbox-wrapper input {
    margin: 0;
    vertical-align: top;
}
.syn-report-graph-metrics-colorbox {
    border-radius: 2px;
    height: 0.846em;
    width: 0.846em;
}
.GG2XYKACETB {
    border-top: 1px solid #CCCCCC;
    margin-top: 6px;
    padding-top: 6px;
}
.no-data {
    color: #666666;
    padding: 10px;
}
.GG2XYKACDTB .asfe-DynamicTableCell {
    vertical-align: middle;
}
.syn-report-summary-row td {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
}
.syn-report-table-link {
    color: #086AAD;
    text-decoration: underline;
}
.syn-report-edit-link {
    margin-left: 1em;
}
.GG2XYKACDTB {
    border-collapse: collapse;
    width: 100%;
}
.syn-report-cell-category .gwt-Label, .syn-report-table-link, .syn-report-edit-link, .syn-report-cell-metric {
    white-space: nowrap;
}
.syn-reports-footnote-text, .syn-reports-timestamp-label {
    color: #666666;
    font-size: 0.846em;
    padding: 0.769em;
}
.syn-reports-timestamp-label {
    max-height: 4em;
    white-space: pre-wrap;
}
.syn-reports-timestamp-label:hover {
    max-height: 30em;
    overflow-y: auto;
}
.syn-reports-footnote-text {
    padding-bottom: 0;
}
.reports-saved-box {
    width: 100%;
}
.reports-saved-manage {
    float: right;
    font-size: 0.9em;
    font-weight: normal;
    padding-top: 0.1em;
}
.reports-saved-entry {
    clear: both;
    padding: 8px 10px 0;
}
.reports-saved-name {
    float: left;
    width: 90%;
}
.reports-saved-name-selected {
    font-weight: bold;
}
.reports-saved-delete-panel {
    text-align: right;
}
.reports-saved-entry-mouseover {
    text-decoration: underline;
}
.reports-quick-button.goog-button-base {
    margin: 5px 10px;
}
.reports-quick-loading {
    color: #666666;
    font-style: italic;
    padding: 4px;
}
.reports-saved-error {
    padding: 5px 5px 5px 10px;
}
.syn-report-column-metric, .syn-report-column-category {
    margin: 10px;
}
.syn-report-column-narrow {
    width: 0.1%;
}
.syn-report-column-category {
    border-right: 1px solid #DDDDDD;
}
.syn-report-cell-metric, .syn-report-column-metric {
    text-align: right;
}
.syn-report-cell-tooltip {
    border-bottom: 1px dotted #AAAAAA;
}
.syn-report-tooltip {
    font-weight: normal;
    text-align: left;
    white-space: normal;
    width: 30em;
}
.nav-bar {
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
}
.search-message {
    color: #999999;
}
.GG2XYKACNSB {
    background: none repeat scroll 0 0 #F0F0F0;
}
.syn-reports-buttons-group {
    padding: 0.2em 0.2em 0.2em 16px;
}
.syn-reports-buttons-group .goog-button-base {
    margin-left: 0.3em;
}
.syn-reports-event-commands .syn-reports-buttons-group {
    margin-left: 1em;
}
.syn-panelDropDown-controlBar {
    background-color: #E0E6F1;
    border-top: 1px solid #DDDDDD;
    clear: both;
    padding: 0.5em;
}
.syn-panelDropDown-popup .gwt-Anchor {
    color: #0066CC;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}
.syn-panelDropDown-popup .gwt-Anchor:hover {
    text-decoration: underline;
}
.syn-panelDropDown-controlBar .goog-button-base, .syn-panelDropDown-controlBar .gwt-Anchor {
    padding-right: 0.5em;
    vertical-align: middle;
}
.GG2XYKACCTB {
    width: 100%;
}
.GG2XYKACCTB .asfe-LayoutBox {
    margin: 0;
}
.syn-report-filters-widget .datechooser {
    float: right;
}
.syn-report-filters-widget .command-link {
    font-weight: bold;
    margin-left: 1em;
}

.syn-report-filters-widget .reports-commands-buttons .goog-button-base-collapse-right {
    padding-right: 0;
}
.syn-report-filters-widget .reports-commands-buttons > * {
    margin-right: 3px;
}
div.reports-commands-export-dropdown {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}
.syn-report-filters-widget .control-bar {
    clear: both;
    padding-top: 0.8em;
}
.syn-report-filters-widget .selector {
    padding-top: 0.8em;
}
.syn-report-filters-widget .reports-commands-buttons {
    float: left;
}
.syn-report-filters-widget .chart-controls {
    float: right;
}
.syn-report-filters-widget .chart-controls > * {
    padding-left: 8px;
}
.syn-report-filters-widget .view-by {
    display: block;
    float: left;
}
.syn-report-filters-widget .entityfilter {
    width: 100%;
}
.syn-report-filters-widget .entityfilter .report-too-big.visible {
    display: block;
}
.syn-report-filters-widget .entityfilter .report-too-big {
    display: none;
    font-weight: bold;
    margin: 1em;
}
.clear {
    clear: both;
}
.GG2XYKACCTB .gbox-top .gbox-b2, .GG2XYKACCTB .gbox-top .gbox-b3 {
    background: none repeat scroll 0 0 #EEF3F8;
}
.GG2XYKACCTB .GG2XYKACBTB .gbox-bottom .gbox-b2, .GG2XYKACCTB .GG2XYKACBTB .gbox-bottom .gbox-b3 {
    background: none repeat scroll 0 0 #EEF3F8;
}
.GG2XYKACDTB .GG2XYKACPSB .asfe-DynamicTableCell {
    vertical-align: text-top;
}
.syn-report-historytable-annotationcolumn {
    border-right: 1px solid #DDDDDD;
    width: 4em;
}
.syn-report-historytable-datecolumn {
    border-right: 1px solid #DDDDDD;
    width: 10em;
}
.syn-report-historytable-eventscolumn {
    text-align: left;
}
.syn-report-historytable-changeowner {
    color: #666666;
    font-style: italic;
}
.syn-report-historytable-disclosure-panel {
    width: 100%;
}
.GG2XYKACCTB .chartclient-annotation-letter {
    color: #0066CC;
    cursor: default;
    font-weight: bold;
}
.GG2XYKACCTB .chartclient-annotation-letter-selected {
    background: none repeat scroll 0 0 #0066CC;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    cursor: default;
    display: inline;
    font-weight: bold;
    margin: 0 5px 0 -2px;
    padding: 0 1px;
    text-decoration: none;
}
.syn-report-historytable-grouptitle {
    color: #086AAD;
    padding: 0.2em;
}
.syn-report-historytable-groupeditem {
    padding: 0.1em 0 0.1em 1em;
}
.syn-report-historytable-rootitem {
    padding: 0.2em;
}
.syn-report-internal-field {
    background-color: #DFFADD;
}
.GG2XYKACBTB .GG2XYKACATB {
    display: none;
}
.syn-Tooltip {
    position: absolute;
    z-index: 1000;
}
.clear-both {
    clear: both;
}
.GG2XYKACOSB {
    color: #666666;
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 2px;
    vertical-align: super;
}
.syn-DateRangePickerDropdown {
    padding: 0 0.5em;
}
.syn-DateRangePickerDateRangeSection {
    float: left;
    padding-right: 3em;
}
.syn-DateRangePickerDateRangeSection label {
    color: #666666;
}
.syn-DateRangePickerDateRange {
    padding: 0 0.3em;
    white-space: nowrap;
}
.syn-DateRangePickerQuickDatesSection {
    float: left;
    padding: 0 0 1em;
}
.syn-DateRangePickerQuickDatesSection .gwt-Anchor {
    line-height: 1.5em;
    margin-right: 0.5em;
}
.syn-DateRangePickerSectionLabel {
    font-weight: bold;
    padding: 0.8em 0 1.2em 0.2em;
}
.syn-DateRangePickerButtonMainRange {
    font-size: 18px;
    line-height: normal;
    text-align: left;
}
.syn-DateRangePickerButtonOtherRange {
    color: #808080;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
}
.syn-DateRangePickerDateRangeButton:focus {
    outline: medium none;
}
.syn-DateRangePickerCompareCheckBox {
    display: block;
    padding: 0.3em;
}
.syn-DateRangePickerCompareCheckBox input {
    margin-left: 0;
}
.syn-DateRangePickerDateBox {
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    font-family: inherit;
    font-size: 13px;
    margin: 0;
    padding: 5px 2px;
    width: 6.5em;
}
.syn-DateRangePickerDateBox:focus {
    border-color: #4D90FE !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
}
.syn-DateRangePickerDateBox:hover {
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.gwt-DatePicker .datePickerDayIsDisabled {
    color: #999999;
}
.syn-panelDropDown-controlBar {
    background-color: #FAFAFA;
    border-top: 1px solid #EEEEEE;
    clear: both;
    padding: 0.5em;
    text-align: right;
}
.syn-panelDropDown-popup .gwt-Anchor {
    color: #0066CC;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}
.syn-panelDropDown-popup {
    z-index: 100;
}
.syn-panelDropDown-popup .gwt-Anchor:hover {
    text-decoration: underline;
}
.syn-panelDropDown-controlBar button, .syn-panelDropDown-controlBar .goog-button-base, .syn-panelDropDown-controlBar .gwt-Anchor {
    margin-right: 0.5em;
    vertical-align: middle;
}
.syn-panelDropDown-popup .gux-dropdown-c {
    background-color: #FFFFFF !important;
}
.syn-panelDropDown-popup .gux-dropdown-c {
    border: 1px solid #DEDEDE;
    box-shadow: 0 3px 2px 1px rgba(222, 222, 222, 0.5);
}
.syn-panelDropDown-popup .gux-dropdown-b {
    border: 0 none;
    margin-left: 0;
}
.syn-DateRangePickerDatePicker .datePickerMonthSelector {
    background-color: #DDDDDD;
    color: #4192D3;
    font-weight: normal;
}
.syn-DateRangePickerDatePicker .datePickerDays td {
    border-bottom: 1px solid #F7F7F7;
    border-left: 1px solid #F7F7F7;
    border-right: 1px solid #F7F7F7;
}
.syn-DateRangePickerDatePicker .datePickerDays td.datePickerWeekdayLabel, .syn-DateRangePickerDatePicker .datePickerDays td.datePickerWeekendLabel {
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
    font-weight: bold;
}
.syn-DateRangePickerDatePicker .datePickerDayIsWeekend {
    background-color: #FFFFFF;
}
.syn-DateRangePickerDatePicker .datePickerDayIsHighlighted {
    background-color: #DEDEDE;
    color: #000000;
}
.syn-DateRangePickerDatePicker .datePickerDayIsValue {
    background-color: #207BCA !important;
    color: #FFFFFF;
}
.syn-removableItemsList {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 16.1em;
    width: 49.9%;
}
.syn-removableItemsList .syn-sectionsList {
    height: 13.35em;
    list-style: none outside none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.syn-removableItemsList .headerPanel {
    background: none repeat scroll 0 0 #88AACC;
    color: #FFFFFF;
    height: 2em;
    line-height: 1em;
    padding: 0.385em 0.154em 0.385em 0.385em;
}
.syn-removableItemsList .headerPanel:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.syn-removableItemsList .headerPanel .gwt-Label {
    float: left;
    font-weight: bold;
    overflow: hidden;
    width: 75%;
}
.syn-removableItemsList .headerPanel .gwt-Anchor {
    color: #FFFFFF;
    float: right;
    overflow: hidden;
    text-align: right;
    text-decoration: underline;
    width: 20%;
}
.syn-removeableItemsList li {
    padding: 0;
}
.syn-removableItemsList .syn-sectionsList .itemPanel .gwt-Label {
    float: left;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.syn-removableItemsList .syn-sectionsList .itemPanel {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 0.4em;
    font-size: 0.923em;
    margin: 0.2em 0.3em;
    padding: 0.2em 0.3em;
    text-align: right;
    white-space: nowrap;
}
.syn-removableItemsList .syn-sectionsList ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0.2em;
}
.syn-removableItemsList .syn-sectionsList li {
    padding: 0;
}
.syn-removableItemsList .syn-sectionsList .sectionHeader {
    background-color: #D8E3EE;
    font-size: 0.923em;
    font-weight: bold;
    overflow: hidden;
    padding: 0.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.syn-removableItemsList .messageLabel {
    color: #666666;
    padding: 2em 0.5em;
    text-align: center;
}

.GG2XYKACKUD.GG2XYKACBUD:hover, .GG2XYKACKUD.GG2XYKACHUD {
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
}
.GG2XYKACEUD.GG2XYKACBUD:hover, .GG2XYKACEUD.GG2XYKACHUD {
    background-color: #C53727;
    border-color: #B0281A #B0281A #AF301F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.GG2XYKACEUD.GG2XYKACBUD:hover, .GG2XYKACEUD.GG2XYKACHUD {
    background-image: -moz-linear-gradient(center top , #DD4B39, #C53727);
}
.GG2XYKACMUD.GG2XYKACBUD:hover, .GG2XYKACMUD.GG2XYKACHUD {
    background-color: #357AE8;
    border-color: #2F5BB7;
}
.GG2XYKACMUD.GG2XYKACBUD:hover, .GG2XYKACMUD.GG2XYKACHUD {
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
}
.GG2XYKACLUD.GG2XYKACBUD:hover, .GG2XYKACLUD.GG2XYKACHUD {
    background-color: #368200;
    border: 1px solid #2D6200;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.GG2XYKACLUD.GG2XYKACBUD:hover, .GG2XYKACLUD.GG2XYKACHUD {
    background-image: -moz-linear-gradient(center top , #3D9400, #368200);
}
.GG2XYKACBUD:hover img, .GG2XYKACHUD img {
    opacity: 0.72;
}
.GG2XYKACBUD:focus, .GG2XYKACGUD {
    outline: medium none;
}
.GG2XYKACKUD.GG2XYKACBUD:focus, .GG2XYKACKUD.GG2XYKACGUD, .GG2XYKACKUD.GG2XYKACBUD.GG2XYKACNUD:focus, .GG2XYKACKUD.GG2XYKACGUD.GG2XYKACNUD {
    border-color: #4D90FE;
}
.GG2XYKACEUD.GG2XYKACBUD:focus, .GG2XYKACEUD.GG2XYKACGUD, .GG2XYKACMUD.GG2XYKACBUD:focus, .GG2XYKACMUD.GG2XYKACGUD, .GG2XYKACLUD.GG2XYKACBUD:focus, .GG2XYKACLUD.GG2XYKACGUD {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}
.GG2XYKACEUD.GG2XYKACBUD:focus, .GG2XYKACEUD.GG2XYKACGUD, .GG2XYKACMUD.GG2XYKACBUD:focus, .GG2XYKACMUD.GG2XYKACGUD, .GG2XYKACLUD.GG2XYKACBUD:focus, .GG2XYKACLUD.GG2XYKACGUD {
}
.GG2XYKACBUD::-moz-focus-inner {
    border-color: rgba(0, 0, 0, 0);
}
.GG2XYKACBUD:active, .GG2XYKACJUD {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.GG2XYKACBUD:active, .GG2XYKACJUD {
}
.GG2XYKACKUD.GG2XYKACBUD:active, .GG2XYKACKUD.GG2XYKACJUD {
    background-color: #F6F6F6;
}
.GG2XYKACKUD.GG2XYKACBUD:active, .GG2XYKACKUD.GG2XYKACJUD {
    background-image: -moz-linear-gradient(center top , #F6F6F6, #F1F1F1);
}
.GG2XYKACEUD.GG2XYKACBUD:active, .GG2XYKACEUD.GG2XYKACJUD {
    background-color: #B0281A;
    border: 1px solid #992A1B;
}
.GG2XYKACEUD.GG2XYKACBUD:active, .GG2XYKACEUD.GG2XYKACJUD {
    background-image: -moz-linear-gradient(center top , #DD4B39, #B0281A);
}
.GG2XYKACBUD:active img, .GG2XYKACJUD img {
    opacity: 1;
}
.GG2XYKACNUD {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.GG2XYKACNUD {
}
.GG2XYKACKUD.GG2XYKACNUD {
    background-color: #EEEEEE;
    border-color: #CCCCCC;
    color: #333333;
}
.GG2XYKACKUD.GG2XYKACNUD {
    background-image: -moz-linear-gradient(center top , #EEEEEE, #E0E0E0);
}
.GG2XYKACNUD img {
    opacity: 0.9;
}
.GG2XYKACFUD {
    cursor: default;
    pointer-events: none;
}
.GG2XYKACFUD, .GG2XYKACFUD img {
    opacity: 0.5;
}
.GG2XYKACKUD.GG2XYKACFUD {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.1);
    color: #707070;
}
.GG2XYKACBUD {
    outline: medium none;
    position: relative;
}
.GG2XYKACAUD {
    border-color: #777777 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
}
.GG2XYKACIUD {
    padding-right: 10px;
}
.gux-dropdown-c {
    background-color: #F9F9F9;
    border-color: #E5E5E5 #E5E5E5 #B3B3B3;
    border-style: solid;
    border-width: 1px;
}
.gux-dropdown-b {
    border-bottom: 1px solid #E5E5E5;
    margin-left: 2px;
}






.goog-button-base {
    cursor: default;
    font: 0.846em/1 Arial,sans-serif;
    letter-spacing: normal;
    margin: 0 1px;
    outline: medium none;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    word-spacing: normal;
}
.goog-button-base-outer-box {
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #BBBBBB;
}
.goog-button-base-inner-box {
    background: none repeat scroll 0 0 #E3E3E3;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #AAAAAA;
    margin: 0 -1px;
}
.goog-button-base-pos {
    height: 100%;
    position: relative;
}
.goog-button-base-top-shadow {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 0.23em solid #EEEEEE;
    height: 0.692em;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.goog-button-base-content {
    color: #333333;
    line-height: 1.7em;
    padding: 0 0.545em;
    position: relative;
    text-align: center;
}
.goog-button-base-hover .goog-button-base-content, .goog-button-base-focused .goog-button-base-content {
    color: #000000;
}
.goog-button-base-hover .goog-button-base-outer-box, .goog-button-base-hover .goog-button-base-inner-box, .goog-button-base-focused .goog-button-base-outer-box, .goog-button-base-focused .goog-button-base-inner-box {
    border-color: #888888;
}
.goog-button-base-active .goog-button-base-inner-box, .goog-button-base-open .goog-button-base-inner-box {
    background: none repeat scroll 0 0 #F9F9F9;
}
.goog-button-base-active .goog-button-base-top-shadow, .goog-button-base-open .goog-button-base-top-shadow {
    background: none repeat scroll 0 0 #E3E3E3;
}
.goog-button-base-active .goog-button-base-content, .goog-button-base-open .goog-button-base-content {
    color: #000000;
}
.goog-button-base-primary .goog-button-base-content {
    color: #000000;
    font-weight: bold;
}
.goog-button-base-disabled {
    cursor: default;
}
.goog-button-base-disabled .goog-button-base-inner-box, .goog-button-base-disabled .goog-button-base-top-shadow {
    background: none repeat scroll 0 0 #EEEEEE;
}
.goog-button-base-disabled .goog-button-base-top-shadow {
    border-color: #EEEEEE;
}
.goog-button-base-disabled .goog-button-base-content {
    color: #999999;
}
.goog-button-base-collapse-right, .goog-button-base-collapse-right .goog-button-base-inner-box {
    margin-right: 0;
}
.goog-button-base-collapse-left, .goog-button-base-collapse-left .goog-button-base-inner-box {
    margin-left: 0;
}
.goog-button-base-collapse-left .goog-button-base-inner-box {
    border-left: 1px solid #FFFFFF;
}
.goog-button-base-hover.goog-button-base-collapse-left, .goog-button-base-focused.goog-button-base-collapse-left {
    border-left: 1px solid #888888;
    margin-left: -1px;
    z-index: 1;
}
.goog-button-base-selected .goog-button-base-outer-box, .goog-button-base-selected .goog-button-base-inner-box {
    background-color: #777777;
    border-color: #888888;
}
.goog-button-base-selected .goog-button-base-top-shadow {
    background-color: #999999;
    border-bottom-color: #888888;
}
.goog-button-base-selected .goog-button-base-content {
    color: #EEEEEE;
}
.goog-button-base-collapse-left.goog-button-base-selected .goog-button-base-inner-box {
    border-left: 1px solid #555555;
}





.GG2XYKACD5F {
    position: relative;
}
.GG2XYKACB5F {
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.GG2XYKACC5F {
    background-color: #DDDDDD;
    border-bottom: 1px solid #808080;
    padding: 5px;
}
.GG2XYKACPSG {
    color: #CCCCCC;
}
.GG2XYKACCSG {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAI0lEQVR42mNgGHkgLS3tPyl4iBo2NCNgGBk2tHPAMDBs+AIAIPS4FTyKmEMAAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    width: 19px;
}
.GG2XYKACJSG {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABZklEQVQ4y9WUzauCQBTF+2uNoJYlalARFn2IkViUtGhRQtDKgnJbmzZtcxOGWFQELXJ/HjPQ49VY+No1cJiN/uaeOfdOLPbVa7fb4Xa74WPAZrNBs9kEx3GQJInugiDAtu3o0CAI0Ov1UCgUMBwOqS6XC0qlEnRdp3u9Xo8GJB92Op0Hnc9n5PP5X9VqNbRarffA6XQKRVHQ7XYfYKfT6QFGlM1msV6vXwNFUaS2nis7Ho8MTFVVVKvVcJjneUilUjAMg4EdDgcGViwWkUgkaNUMzHEc8DzPgO53dr1eGaXTaZD/GNh+v6cnhVVGbFqWxSiZTGK73YZbLZfL6Pf7oTafQfP5HJlM5nUAy+USuVyOSdP3fQZGem48Hr9vj0ajgXa7TYF3kXD+ggaDAW3eSI0ryzIqlQpM06S2XdfFbDbDZDIBuQpN0/43p6PRiKYVj8fpTJLZJAcsFovPB55Ev1qt8N3v3g+YDMWyr2msCAAAAABJRU5ErkJggg==") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    width: 19px;
}
.GG2XYKACFSG {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABoUlEQVR42uWTO2tCQRCF/bMqFj46FfwBAbHwAT4QRLBRFCx8ND4bxcJCK1Gw0cZebU/yDWy44SaSNuTCcHdnd86eOTMTCPyp73K5hOr1utLptILBoLLZrGKxmO3xc/4roNlsplAopHK5rEKhoGq1+mnNZlO5XM7OF4uFXgL1ej0lEgkNh0M1Go0vQMvl0ox1qVQypqPR6HvA4/FoQFz0gmC1Wk2TyUTP51OHw8F8PMj90+nkBywWi4IZr3lBMNbr9VqPx0PT6dT24/FY3W5XxPnAEPpDWPX7/U+wSqWiVqul7XZrQPv93nyctdttXa9XK5APDFEJcCkQeD6fzecMdt6H8L0EQ5tOp6Pb7Wb7+/1uxhpwr5b4wuGwHwwnaTp2aAUognvZwZozqk2akPCB0VMUgAAAXGsQCCMqCcPNZmMpksGPBXCtwZ9A11OYY4ytVit7AP3i8bh2u933vUZb0IyuaWFAdZ126Ejqg8HAgMjk5RQwMuiQyWSsgQl2rGCbz+dN9Pl8rl/NJxoxg9FoVJFIRMlk0loglUq5QX8L/N/vHb3FNQGqfo17AAAAAElFTkSuQmCC") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    width: 19px;
}
.GG2XYKACNSG {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAApElEQVQoz2NgGLbAydFpPtUMAuL/1DCoAWQQxYYBDUiAGQTE+6ll0HkgFiCkQQGHuAEQv0c2CK9hQMkCJMUJMMVoBoFoA6j4ebyxg4bfQ8WxGYQ9NnEYhA0HoKvHZth/tLBwwGJBAlRtP7I4LsMwYgdqcAGSQQnorsVmGDx2oC5CiQBcBuEyDGbQeRwRkIArHHEZdp7ISCDKm/+pZdh/qhlGDQAAKtb3Ka0SwlcAAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    width: 19px;
}
.GG2XYKACDSG {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAxUlEQVR42mNgoAdwcHBQAOIDQPwAiBMoNcwAiP8jYZDBDuQadgDNMBhuINWgIzgMAruQaIPs7e0r8Rj0AhSWpLjqAR7DGkiKQaDLfuIyDChnS4phK/C4CoYXALEAIYMa8BjwD43/Aa+XgZIBeAwzgGL05AIK3wBcBjqga3B0dJyExdIHWBK0AS5DE5A0JOAJlg9IBl7A520BQgENVbOA5MRMFHB2dtYDmvoFR8CDxG1ISVsXCKSrD0RnISQ/48IXCCZSWgAAgv/k8pdTYqwAAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    width: 19px;
}
.GG2XYKACCSG, .GG2XYKACJSG, .GG2XYKACFSG, .GG2XYKACDSG, .GG2XYKACNSG {
    display: inline-block;
    margin-bottom: -5px;
    margin-top: -1px;
}
.GG2XYKACKSG {
    display: inline-block;
    margin-bottom: 0.4em;
}
.GG2XYKACESG .goog-button-base-hover.goog-button-base-collapse-left, .GG2XYKACESG .goog-button-base-focused.goog-button-base-collapse-left {
    z-index: auto;
}
.GG2XYKACMSG {
    margin-right: 0.4em;
}
.GG2XYKACOSG {
    height: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.GG2XYKACBSG {
    height: 0;
    margin-bottom: 0;
    position: relative;
    top: -49px;
}
.GG2XYKACM0G {
    -moz-box-sizing: border-box;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    color: #444444;
    cursor: pointer;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    outline: medium none;
    padding: 0;
    position: absolute;
    text-align: center;
    transition: all 0.1s ease 0s;
    width: 20px;
}
.GG2XYKACM0G {
    margin: 0 0 0 -10px;
}
.GG2XYKACO0G {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #E0E0E0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    z-index: 1;
}
.GG2XYKACM0G:hover {
    z-index: 2;
}
.GG2XYKACM0G:after {
    background-color: #000000;
    content: "";
    height: 10px;
    left: 9px;
    position: absolute;
    top: 19px;
    width: 1px;
}
.GG2XYKACM0G.GG2XYKACP0G:before {
    background-color: #888888;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.GG2XYKACL0G span {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAApUlEQVR42mNgQAIFy2/9T5p/9b9Hz6n/DLhA4Ypb/+PnXvnv2HIUt6Kcxdf/h0+/8N+q9gCqopCp5/9Hzbz0P3b25f/RMy/+d+k4/t8gd/t/vbRN//UyNoFpBpu6g/9tag/+twTqNi3b818/ffN/vXSQ5EY4ZtDPgOrI2PzfAKxgI1iRbhqEBomhWK0PsgKkEKQbF9BNh7gBZAJORTpQK0BWIosDAHH0bZefDJ7+AAAAAElFTkSuQmCC") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    margin: 0 auto;
    overflow: hidden;
    width: 9px;
}
.GG2XYKACL0G {
    opacity: 0.5;
}
.GG2XYKACL0G:hover {
    opacity: 1;
}
.GG2XYKACN0G {
    top: -19px;
}
.GG2XYKACN0G:after {
    display: none;
}
.GG2XYKACB-F {
    border-bottom: 1px solid #AAAAAA;
    padding-top: 70px;
    position: relative;
}
.GG2XYKACA-F {
    clear: both;
    text-align: center;
    width: 100%;
}
.GG2XYKACOYF {
    float: right;
    padding-right: 15px;
    padding-top: 6px;
}
.GG2XYKACC-F {
    cursor: pointer;
    padding-top: 9px;
}
.GG2XYKACPYF {
    cursor: pointer;
}
.GG2XYKACD-F {
    padding: 0.5em;
}
.GG2XYKACE-F {
    font-size: 110%;
    margin: 0 0.3em;
    vertical-align: middle;
}
.GG2XYKACD-F button {
    min-width: 0;
}
.GG2XYKACH-F {
    background: none repeat scroll 0 0 #FFFFCB;
    padding: 0 0.5em;
}
.GG2XYKACJ-F {
    padding: 0.5em 0;
}
.GG2XYKACH-F .gwt-Anchor {
    margin-left: 0.5em;
}
.GG2XYKACG-F {
    vertical-align: middle;
}
.GG2XYKACI-F {
    margin: 0 1em;
}
.goog-inline-block {
    display: -moz-inline-box;
}
.goog-inline-block {
    display: inline-block;
    position: relative;
}




.GG2XYKACBXF {
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
    position: relative;
}
.GG2XYKACBXF > a {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAJCAYAAACbtcTcAAABmElEQVQ4jZ2TPUvDUBSGu6iDRItQi9Wqs3TRmnYTHEqddBEHt4D+izZIZ0Ed/UOllNJBKPQDoTjqkKQ4NdD4nnIunAZtTz3wwLnJTbhP8p6E4zgJYIMU90QGFMw6iqJfEfsPgSXWSb4293lT6G2QEusMKCRE/fWO6Xv4sD54YxES6IIAnCok6LDPwGUREqiBF3CwSIIOC/wwDDv1en2XBbogaLVa51qJNOiAiEW63LfBlkJiAzyAVxapcV8B6wqJNATo0NFoNHqfTCY96oMg6Nu2fYMtSY1EXGRGQBknKTIjoIlTs9nMQmAYcZFAPp+/xa0zsKKVoAj1hISJllbCRMhImGhpZyKDP9A3Ep7nDUul0qUR0EhIgXYsWimFhBSoxKJlKeJEMzCNkO/7A/BhokUzopXIgU8RoW0W8cCxQoI+wqOIkMUiTyCrkMjhL3yRAEWoXC5fUbTG4/F3tVq9w5ZVbZyO5AywyMkScdqRM8Ai+0vMhF0sFq/NDDQajT3Xde/RX4BNrcRcFBL/ej5WlpwB1JoRWCTxA63xkpAH8OehAAAAAElFTkSuQmCC") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 9px;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 9px;
    z-index: 20;
}
.GG2XYKACBXF.GG2XYKACIXF {
    background-color: #E04B39;
    border-bottom: 1px solid #B13D2E;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.GG2XYKACBXF.GG2XYKACIXF > a {
    background-position: -32px 0;
}
.GG2XYKACBXF.GG2XYKACKXF {
    background-color: #F9EDBE;
    border-bottom: 1px solid #F0C36D;
}
.GG2XYKACEXF {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.GG2XYKACGXF {
    margin-right: 75px;
}
.GG2XYKACJXF {
    margin-right: 125px;
}
.GG2XYKACEXF a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}
.GG2XYKACBXF.GG2XYKACKXF > .GG2XYKACEXF a {
    color: #0066CC;
}
.GG2XYKACCXF {
    display: inline-block;
    margin-left: 10px;
}
.GG2XYKACAXF {
    position: absolute;
    right: 30px;
    top: 10px;
}
.GG2XYKACHXF span, .GG2XYKACFXF span {
    overflow: visible;
}
.GG2XYKACHXF .GG2XYKACDXF, .GG2XYKACFXF .GG2XYKACDXF {
    margin: 2px;
}
.GG2XYKACD0F {
    margin-left: 0.5em;
}
.goog-inline-block {
    display: -moz-inline-box;
}
.goog-inline-block {
    display: inline-block;
    position: relative;
}



.GG2XYKACA0F {
    background: none repeat scroll 0 0 #FFFFC3;
    border-top: 1px solid #AAAAAA;
    line-height: 20px;
    white-space: nowrap;
}
.GG2XYKACP-F {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAZElEQVQoU2NgSDvznzEdgkFsBjTw//9/OGYAKYIBhqqvIFwJxLxglegGIStmzDgLUjwBiM8BcTlj5kWEHEgDVmdUfZUD4hqGwodoivEAFFtJV0yKM7B4sB+nB7EEXRXOoCMlUgCD1t0LZ10eHQAAAABJRU5ErkJggg==") no-repeat scroll left 3px rgba(0, 0, 0, 0);
    color: #0066CC;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px;
    margin-left: 8px;
    padding-left: 15px;
    vertical-align: middle;
}
.GG2XYKACP-F:hover {
    text-decoration: underline;
}
.GG2XYKACP-F.GG2XYKACO-F {
    color: #CCCCCC;
    cursor: default;
    text-decoration: none;
}
.GG2XYKACP-F.GG2XYKACO-F:hover {
    text-decoration: none;
}
.GG2XYKACC0F {
    color: #666666;
    vertical-align: top;
    white-space: pre;
}
.GG2XYKACN-F {
    background: none no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline;
    position: relative;
}
.GG2XYKACK-F {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAWCAYAAAAb+hYkAAAAfUlEQVQY072NwQ2AMAwDzUgsVRbi051YhRnMq1FJYpUigaU+bPUuwMMs20HMpAEBVCa/W1emvq/7yaEpA26gH+SFvitTMAMgqT9mgEFZFGAQyen3I/RpSil8BQRQmfxuXZn6Xmvl0JQBN9AP8kLflSmYAZDUHzPAoCwKaNAF31IG3GgUKHEAAAAASUVORK5CYII=") no-repeat scroll left 3px rgba(0, 0, 0, 0);
    color: #0066CC;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px;
    padding-left: 17px;
    text-decoration: none;
    vertical-align: middle;
}
.GG2XYKACK-F:hover {
    text-decoration: underline;
}
.GG2XYKACK-F.GG2XYKACO-F {
    background-position: left -10px;
    color: #999999;
    cursor: default;
    text-decoration: none;
}
.GG2XYKACK-F.GG2XYKACO-F:hover {
    text-decoration: none;
}
.GG2XYKACL-F {
    left: 0;
    width: auto;
}
.GG2XYKACB0F {
    display: inline;
    font-weight: bold;
    padding-left: 30px;
    vertical-align: middle;
}
.GG2XYKACM-F {
    cursor: pointer;
    padding-left: 25px;
    vertical-align: middle;
}
.GG2XYKACM-F:hover {
    text-decoration: none;
}
.GG2XYKACP3D {
    position: relative;
}
.GG2XYKACO3D {
    display: block;
    outline: medium none;
    position: absolute;
}
.GG2XYKACA4D {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAALCAYAAACZIGYHAAAAa0lEQVR42r3PwQnAIAxAUQfrWoVuUCh0sETPnh3DgJKag1BEwVjov+SUR2LMHznntk8AIp7ee7bW7stACIFjjCxTDQHAJYspJZbUUAVyzvxuGhoBLVRePZaAGhH1oXLiPQMMIS3QhVaAFnoADXVsQk0Y2DwAAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 11px;
    overflow: hidden;
    width: 17px;
}
.GG2XYKACK3D {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAALCAYAAACZIGYHAAAAa0lEQVR42r3PwQmAMAyF4QzmWoIbCIKDJe25547RQktsDgFB1JiD//19JJBz5t47e6q1suwhhLB7IAWIaAHpK3QBNETcLNAtYIVKKc/AG6TAeH0GSwq11nyANk5eZegGzlBKyQ9oMcYJ/ugAKIVsQsF+aB8AAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 11px;
    overflow: hidden;
    width: 17px;
}
.GG2XYKACN3D {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 1em;
}
.GG2XYKACM3D {
    margin-top: 10px;
}
.GG2XYKACM3D a:hover {
    text-decoration: underline;
}
.GG2XYKACJ3D {
    margin-bottom: 0;
}
.GG2XYKACI3D {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA+ElEQVR42mNgGAVDG5SXl58B4nRschUVFQ1AuR3kGPgfiK8BDTBGlisrK3MGit8H4n8gdaQYmg7U/AhkMJC+UF1dbQYSr6mpcQPyb0AtvILLJ/gMtgPi26Wlpf9ra2vPtbe3zwXS10F8oPhZoOFmZIUr0AB7oOuOAQ37D3Tt/7q6OhC9i2wDYaChoaEbZGhRURHY0Pr6+iJKU4A30GXnQIaCMMjQqqqqI8DIcyDbQKDmB9AwPdLa2toBDIrz0DC9QrLB0HT4Ahr7R4Fe1gOJAw23BfLPQ2P/DkgdKa7cAdV4pqSkRAdNzgqIrwPxb3IzAPVy1CgYfAAAl7yqxPBkQwQAAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: default;
    height: 21px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 21px;
}
.GG2XYKACI3D:hover {
    opacity: 1;
}
.GG2XYKACP3D {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #BBBBBB #BBBBBB #A8A8A8;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 300px;
}
.GG2XYKACA4D {
    top: -11px;
}
.GG2XYKACK3D {
    bottom: -11px;
}
.GG2XYKACJ3D {
    color: #666666;
}
.GG2XYKACG5F {
    color: #999999;
}
.GG2XYKACE5F {
    margin-left: 0.3em;
}
.GG2XYKACP0D {
    margin-left: 3px;
}
.GG2XYKACB1D .GG2XYKACP0D {
    color: #B8B8B8;
}
.GG2XYKACA1D {
    cursor: default;
    outline: medium none;
}
.GG2XYKACH0D {
    margin: 0 1px;
    vertical-align: text-bottom;
}
.GG2XYKACO0D {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    border: 1px solid #DCDCDC;
    border-radius: 50%;
    height: 15px;
    margin: 0;
    outline: medium none;
    text-align: left;
    width: 15px;
}
.GG2XYKACJ0D .GG2XYKACO0D {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
}
.GG2XYKACJ0D .GG2XYKACO0D:after {
    background: none repeat scroll 0 0 #606060;
    border-radius: 50%;
    content: "";
    display: block;
    height: 7px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px;
}
.GG2XYKACI0D .GG2XYKACO0D {
    background: none repeat scroll 0 0 #EBEBEB;
    border-color: #C6C6C6;
}
.GG2XYKACM0D .GG2XYKACO0D {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.GG2XYKACL0D .GG2XYKACO0D {
    border: 1px solid #4D90FE;
}
.GG2XYKACB1D .GG2XYKACO0D {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F1;
}
.GG2XYKACGDG {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0.2em;
}
.GG2XYKACGDG li {
    margin-bottom: 5px;
}
.bouvierMenuButton {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-radius: 2px;
    cursor: pointer;
}
.button-hover .bouvierMenuButton, .button-focused .bouvierMenuButton {
    border: 1px solid #AAAAAA;
}
.GG2XYKACEQC {
    border-right: 1px solid #CCCCCC;
    display: table-cell;
    padding: 2px 5px;
}
.button-focused .GG2XYKACEQC, .button-hover .GG2XYKACEQC {
    border-right: 1px solid #AAAAAA;
}
.GG2XYKACGQC {
    background-color: #E8E8E8;
    display: table-cell;
    vertical-align: middle;
    width: 20px;
}
.GG2XYKACFQC {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgIBukpaX9x4VxKsBpAk4riHYPAFk3IxHXgIOAAAAAAElFTkSuQmCC") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 7px;
    margin: 0 auto;
    overflow: hidden;
    width: 7px;
}
.bouvierMenuButton-selected .GG2XYKACFQC {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHklEQVR42mNgIBakpaX9xykBwzglUBRgk8BqAkkAAFr0IxHvnHmWAAAAAElFTkSuQmCC") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 7px;
    margin: 0 auto;
    overflow: hidden;
    width: 7px;
}
.GG2XYKACCUG A {
    color: #0066CC;
}
.GG2XYKACBUG {
    margin-right: 10px;
}
.GG2XYKACDUG {
    float: right;
}
.GG2XYKACGXD {
    box-shadow: 0 4px 16px #CCCCCC;
    color: #222222;
}
.GG2XYKACAXD {
    border: 1px solid #CCCCCC;
    outline: medium none;
    width: 512px;
}
.GG2XYKACBXD {
    background-color: #FFFFFF;
    padding: 30px 42px;
}
div.GG2XYKACCXD {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.GG2XYKACFXD {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 1em;
}
.GG2XYKACDXD {
    -moz-user-select: none;
    cursor: move;
    margin-top: -30px;
    padding-top: 30px;
}
.GG2XYKACEXD {
    margin-top: 16px;
}
.GG2XYKACPWD {
    display: none;
}
.GG2XYKACHXD {
    background-color: #FFFFFF;
    opacity: 0.75;
    position: fixed;
    z-index: 9999;
}
.GG2XYKACKUG {
    height: 100px;
}
.GG2XYKACJUG {
    margin-right: 10px;
}
.GG2XYKACNUG {
    float: right;
}
.GG2XYKACMUG {
    font-size: 16px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.GG2XYKACOUG {
    display: inline-block;
    vertical-align: sub;
}
.GG2XYKACLUG {
    padding-top: 30px;
}
.GG2XYKACPUG {
    color: #0066CC;
    display: inline-block;
    vertical-align: sub;
}
.GG2XYKACOPD {
    direction: ltr;
    display: inline-block;
    height: 19px;
    position: relative;
    width: 19px;
}
.GG2XYKACBQD {
    background: url("//ssl.gstatic.com/ui/v1/activityindicator/offline.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 19px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.218s linear 0.44s;
    width: 19px;
}
.GG2XYKACPPD {
    border-radius: 50%;
    height: 19px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;
}
.GG2XYKACCQD {
    overflow: hidden;
    position: absolute;
}
.GG2XYKACAQD {
    height: 19px;
    position: relative;
    width: 19px;
}
.GG2XYKACDQD {
    transition: all 0.22s ease-in 0s;
}
.GG2XYKACEQD {
    transition: all 0.22s ease-out 0.22s;
}
.GG2XYKACEUG {
    font-size: 11px;
}
.GG2XYKACHUG {
    padding-bottom: 10px;
    padding-top: 10px;
}
.GG2XYKACFUG {
    margin-right: 10px;
}
.GG2XYKACGUG {
    float: right;
}
.GG2XYKACASG {
    float: right;
    margin-right: -90px;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
.GG2XYKACORG:hover .GG2XYKACASG {
    opacity: 1;
}
.GG2XYKACPRG {
    min-width: 0;
    padding: 0 2px;
}
.GG2XYKACNAG .goog-button-base-content {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAYAAADam2dgAAAABHNCSVQICAgIfAhkiAAAAE5JREFUGJVtjcENwCAMA89Vx2HxZB3Yx32BgPResWXllJkGsI0kbLMjiRegtbbKMcaRe+88XPx9UkR4aiSt4aHOTO9ERMlFd1N0s9xvgA9JrEfZZLjqzQAAAABJRU5ErkJggg==") no-repeat scroll left center rgba(0, 0, 0, 0);
    margin-left: 6px;
    padding-left: 13px;
}
.GG2XYKACOAG {
    font-style: italic;
}
.GG2XYKACLAG {
    font-weight: bold;
}
.GG2XYKACIAG {
    padding: 10px;
    white-space: nowrap;
}
.GG2XYKACIAG .gwt-CheckBox input, .GG2XYKACIAG .gwt-ListBox input, .GG2XYKACIAG .gwt-RadioButton input {
    margin-left: 0;
}
.GG2XYKACFAG {
    font-weight: bold;
}
.GG2XYKACGAG .gwt-RadioButton {
    display: block;
    margin-left: 1em;
    margin-top: 0.3em;
}
.GG2XYKACGAG .gwt-RadioButton input {
    margin-top: 0;
}
.GG2XYKACEAG {
    color: #666666;
    font-size: 0.846em;
    margin-top: 1em;
}
.GG2XYKACN5F .GG2XYKACP5F {
    font-weight: bold;
    margin-top: 0.6em;
}
.syn-asfe-body .gux-comboPopup {
    z-index: 100;
}
.GG2XYKACHAG {
    margin-top: 0.6em;
}
.GG2XYKACHAG .gwt-CheckBox {
    display: block;
}
.GG2XYKACHAG .gwt-CheckBox.syn-pev-mode {
    padding: 0.1em 0.3em;
}
.GG2XYKACO5F {
    max-height: 250px;
    max-width: 300px;
    overflow-y: auto;
}
.GG2XYKACBTG {
    float: right;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
.GG2XYKACATG:hover .GG2XYKACBTG {
    opacity: 1;
}
.GG2XYKACM5F {
    padding: 0.8em 0 1em;
}
.GG2XYKACM5F .goog-button-base, .GG2XYKACM5F > button {
    font-size: 1em;
    margin-right: 0.5em;
}
.GG2XYKACM5F .gwt-Anchor {
    margin-left: 0.6em;
}
.GG2XYKACLYF {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAJCAYAAABwgn/fAAAAcElEQVR42tXPwQnAIAxA0UzrTu6UFURCEIUMYZuCObTQU3KI8BU9GB7AvRBxZw4OorWWugejW+89dQYhIvf+lvcsgzCze6WUXWv9pO/eswwyxgjpjdF7xByDzDnDOhg9o2YYZK0VmiIi/zeIiKRODRfoIEkho5WJwAAAAABJRU5ErkJggg==") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 9px;
    overflow: hidden;
    width: 50px;
}
.GG2XYKACKYF {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAJCAYAAABwgn/fAAAAb0lEQVR42tWSQQrAMAgE89r8KY+TEEQU8oi2W6iHUnrSgwtDoocsA2nHlTFGaZCGCxGVBg63yJyzNC6y1grnL9FdLsLM4fTeP/8z9tFdLiIiKbxlMGf0uIiqpvHI4MzqcBEzSwUSme+7yN67NHA4AXzsKtnAQKE8AAAAAElFTkSuQmCC") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 9px;
    overflow: hidden;
    width: 50px;
}
.GG2XYKACJYF {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAJCAYAAABwgn/fAAAAa0lEQVR42t2P0QnAIAwFnTY7uVN2EAISEMER2kZIkEL/ko/0wZk/jyvlGSJemSka0VpLzY6Rh4hCkUX+byG99zBktdZ9oxwWwswhaIQii/BYyBjDnXfEGePtspA5pzsA8Im3y0LWWqn5VcgNR11azWsiRjIAAAAASUVORK5CYII=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 9px;
    overflow: hidden;
    width: 50px;
}
.GG2XYKACIYF {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAJCAYAAABwgn/fAAAAaklEQVR42t2UQQrAIAwEfa1/yusCgRAQIU9ouwVzKHhLDnZgwFOXAW27HojoaEHDgZmPFg1viIiUCiq/HyGqWua6uqBqI0LMrMTv+wMVOxEyxkh39xMB2VsRMudMt/e+NXsrQtz9aH8VcgPcGjyFq7hRZQAAAABJRU5ErkJggg==") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 9px;
    overflow: hidden;
    width: 50px;
}
.GG2XYKACMYF {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding-bottom: 4px;
}
.GG2XYKACNYF {
    cursor: pointer;
}
.GG2XYKACMYF:focus {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    outline: medium none;
}
.GG2XYKACFYF {
    margin-top: -9px;
}
.GG2XYKACGYF {
    margin: 0 auto;
}
.GG2XYKACHYF {
    cursor: pointer;
}
.GG2XYKACOIF {
    overflow-y: hidden;
}
.GG2XYKACNIF {
    transition: margin-top 0.3s ease-in-out 0s;
}
.GG2XYKACNYD {
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 220px;
}
.GG2XYKACMYD {
    bottom: auto;
    position: absolute;
}
.GG2XYKACMYD .GG2XYKACD-D, .GG2XYKACMYD .GG2XYKACHYD {
    bottom: auto !important;
    overflow-y: visible !important;
    top: auto !important;
}
.GG2XYKACMYD .GG2XYKACEYD {
    bottom: auto;
}
.GG2XYKACD-D {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 219px;
}
.GG2XYKACD-D.GG2XYKACPYD {
    overflow-y: auto;
}
.GG2XYKACEYD {
    bottom: 0;
    left: 0;
    margin-right: 1px;
    position: absolute;
}
.GG2XYKACF-D {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}
.GG2XYKACNYD a {
    text-decoration: none;
}
.GG2XYKACD-D > ul, ul.GG2XYKACHYD, ul.GG2XYKACFYD, .GG2XYKACFYD > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
a.GG2XYKACC-D, a.GG2XYKACKYD {
    color: #333333;
    font-size: 13px;
    padding: 6px 18px;
}
a.GG2XYKACC-D {
    display: inline-block;
    font-weight: bold;
    width: 179px;
}
a.GG2XYKACC-D:hover, a.GG2XYKACKYD:hover {
    background-color: #EEEEEE;
    text-decoration: none;
}