body,td {
color: #000000;font-family:tahoma, verdana, helvetica; font-size: 11px; font-weight:none;
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #000000;
	scrollbar-base-color : #ffffff;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #000000;
}
a { color:#0000FF; text-decoration:none; font-weight:bold;}
a:hover { color:#FF0000; text-decoration:none; font-weight:bold;}
a:active { color:#0000FF; text-decoration:none; font-weight:bold ;}

.Menu
{width: 100%; padding:2 5 3 2; border-right: buttonshadow 0px solid; border-top: #177ED8 1px solid; border-left: #177ED8 0px solid; border-bottom: buttonshadow 0px solid; background-color: #177ED8; cursor:hand; color:#FFFFFF;}
.Option
{width: 100%; padding:2 5 3 16; border: 0 0 0 0 solid #177ED8; background-color: #ffffff; cursor:hand;}
.Options {padding:1 1 1 1}