#home_body, #tab_body, #picgroup_body, #sellers_body, #cart_body, #checkout_body, #account_body, #static_body, #contactUs_body,
#clearance_body, #rebates_body, #customizeProduct_body, #search_body, #searchLanding_body, #filterResults_body, #account_body.reviewConfirm, #parts_body, #cantFindIt_body { 
/* -- once on every page -- */
   width: 1300px;
}

#cat_body, #pgrouplist_body {
   width: 1300px;
}



footer {  
    width: 1300px;	
 }
 
 footer .hbdr {
     width: 1300px; 
 }

 header {
    width: 1300px;
 }

 .topsell ul.prod li {
    width: 130px;
}

div#mainShopByContainer {
	width: 1300px;
}
div#mainShopByContainer .tabTxt {
	width: 1300px;
}