@charset "utf-8";
/* CSS Document */

.row:before, .row:after {
    content: " ";
    display: table;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.row:after {
    clear: both;
}
#writereview {
    margin-bottom: 80px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-md-8 {
    width: 66.6667%;
}


#writereview .reviewed-product {
    padding-bottom: 10px;
}
#writereview .section {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#writereview .reviewed-product .reviewed-product-image {
    display: block;
    float: left;
    height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
}
a {
    cursor: pointer;
}
a {
    color: #0A74BF;
    text-decoration: none;
}
a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#writereview .reviewed-product .reviewed-product-image > img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
img {
    vertical-align: middle;
}
img {
    border: 0 none;
}


#writereview .reviewed-product .reviewed-product-summary {
    margin-left: 60px;
}


#writereview .reviewed-product .reviewed-product-summary h5 {
    margin: 0 0 5px;
}
h5, .h5 {
    font-size: 16px;
}
h5 {
    color: #0A2B1A;
}
h5, .h5 {
    font-size: 14px;
}
h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
}



#writereview .section {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


h2, .h2 {
    font-size: 24px;
}
h2 {
    color: #80BA27;
}
h2, .h2 {
    font-size: 30px;
}
h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
}

.form-group {
    margin-bottom: 15px;
}

#writereview label[for="reviewForm_rating"] {
    display: block;
}
label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}


#writereview select#reviewForm_rating {
    float: left;
    width: 160px;
}
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #4D4D4D;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}


#writereview #review_stars {
    overflow: hidden;
}

#writereview #review_stars .rateit {
    float: left;
    height: 29px;
    margin-right: 22px;
    position: relative;
}



#writereview #review_stars #rate-hover:before {
    border-color: rgba(0, 0, 0, 0) #80BA27 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: "";
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
}

#writereview #review_stars #rate-hover {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 20px;
}

.visible-xs, tr.visible-xs, th.visible-xs, td.visible-xs {
    display: none !important;
}




.btn.btn-primary {
    background-color: #68A629 !important;
    background-image: linear-gradient(to bottom, #9CCC0A 0px, #68A629 100%);
    background-repeat: repeat-x;
    border-color: #5C991F !important;
    color: #FFFFFF !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.btn-lg {
    border-radius: 3px;
    font-size: 19px;
    line-height: 1.33;
    padding: 8px 16px;
}
.btn-primary {
    background-color: #80BA27;
    border-color: #5C991F;
    color: #FFFFFF;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}


.quiet {
    color: #999999;
}
p {
    margin: 0 0 10px;
}



.col-md-4 {
    width: 33.3333%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

#sidebar .ad-sidebar, #sidebar .widget-reviews, #sidebar .widget-video {
    margin-bottom: 20px;
}

h4, .h4 {
    font-size: 14px;
}
h4 {
    border-bottom: 5px solid #E6E6E6;
    color: #4D4D4D;
    font-size: 13px !important;
    line-height: 1.2;
    margin-top: 0;
    text-transform: uppercase;
}

h4 span {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: -8px;
    margin: 0;
    padding: 0 8px 0 0;
    position: relative;
}

.widget-reviews .review {
    border-bottom: 1px solid #F2F2F2;
    padding: 5px 0 10px;
}

.widget-reviews .review .review-user-image {
    display: block;
    float: left;
    height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
}



.widget-reviews .review .review-user-image > img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.widget-reviews .review .review-summary {
    margin-left: 60px;
}

.widget-reviews .review .review-summary h5 {
    margin: 5px 0 8px;
}

[class^="rating"] {
    color: #666666;
    height: auto !important;
    overflow: hidden;
}


[class^="rating"] .stars {
   
    float: left;
}



#writereview #review_stars .rateit {
    float: left;
    height: 29px;
    margin-right: 22px;
    position: relative;
}

#writereview #review_stars #rate-hover:before {
    border-color: rgba(0, 0, 0, 0) #80BA27 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: "";
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
}
.hidden-xs {
    display: block !important;
}
#writereview #review_stars #rate-hover {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 20px;
}
.visible-xs, tr.visible-xs, th.visible-xs, td.visible-xs {
    display: none !important;
}
#writereview #review_stars #rate-hover {
    background: none repeat scroll 0 0 #80BA27;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    line-height: 20px;
    margin: 3px 0;
    padding: 2px 10px 2px 5px;
    position: relative;
}



.rating-small .stars + p {
    font-size: 13px;
    line-height: 13px;
}
[class^="rating"] .stars + p {
    float: left;
    margin: 0;
}


.rating-small .stars span {
    background-position: -70px -120px;
}


.widget-reviews .review .review-content {
    clear: both;
    font-size: 13px;
    margin-top: 10px;
}




.col-lg-2 {
    width: 16.6667%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}

.col-lg-10 {
    width: 83.3333%;
}

.review-wrapper .user h5.username {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h5, .h5 {
    font-size: 16px;
}
h5 {
    color: #0A2B1A;
}

h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.review-wrapper .user .user-mini-profile {
    font-size: 13px !important;
    margin-top: 10px;
}
.user-mini-profile {
    font-size: 14px;
    overflow: hidden;
}
dl {
    margin-bottom: 20px;
    margin-top: 0;
}

.review-wrapper .user .user-mini-profile dd, #item .review-wrapper .user .user-mini-profile dt {
    line-height: 16px;
}
dt {
    font-weight: bold;
}

.review-wrapper .user .user-mini-profile dd {
    margin: 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.review-wrapper .user .user-mini-profile dd, #item .review-wrapper .user .user-mini-profile dt {
    line-height: 16px;
}


.review-wrapper .review .pros-cons {
    margin: 20px 0;
}
.review-wrapper .review .pros-cons > p.pros {
    color: #008000;
}
.review-wrapper .review .pros-cons > p {
    margin: 0 0 5px;
    padding-left: 20px;
    position: relative;
}
 .review-wrapper:first-child {
    border-color: #E6E6E6;
}
.review-wrapper {
    border-top: 1px solid #F2F2F2;
    clear: both;
}
.review-wrapper .review .pros-cons [class^="icon-"] {
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 16px;
}
.icon-plus {
	background:url(plus.png) no-repeat;
}

.icon-minus {
    background:url(minus.png) no-repeat;
}