body {
	scrollbar-3dlight-color: #B8BDC7;
	scrollbar-arrow-color: #ffffff;
	scrollbar-base-color: #ffffff;
	scrollbar-darkshadow-color: #B8BDC7;
	scrollbar-face-color: #B8BDC7;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #ffffff;
	scrollbar-track-color: #B8BDC7;
}

	
.text {
	font-family: Arial;
	font-size:11px;
	color:#6C6C6C;
	text-decoration:none;
	
}
.entr {
	font-family: Arial;line-height:14px;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	
}
.text3 {
	font-family: Arial; font-weight:bold;
	font-size:11px;
	color:#57606C;
	text-decoration:none;
	
}
.text4 {
	font-family: Arial; font-weight:bold;
	font-size:12px;
	color:#57606C;
	text-decoration:none;
	
}



.text2 {
	font-family: Arial; font-weight:normal;
	font-size:10px;
	color:#000000;
	text-decoration:none;
	
}

.copyr {
	font-family: Arial;
	font-size:11px; 
	color:#000000;
	text-decoration:none;
	
}

a.first {
  color: #FF4F05; font-family: Arial; font-size:11px; text-decoration: underline;
}
a.first:visited {
  color: #FF4F05;
}
a.first:hover {
	color: #FF4F05; text-decoration: none;
}
a.first:active {
  color: #FF4F05;
}

a.first2 {
  color: #000000; font-family: Arial; font-size:11px; text-decoration: underline;
}
a.first2:visited {
  color: #000000;
}
a.first2:hover {
	color: #000000; text-decoration: none;
}
a.first2:active {
  color: #000000;
}

