body {
	background: #ffffff;
	font: 12px Verdana, Arial, Sans-serif;
	color: #000000;
}

h1 {
	font-size: 140%;
}

 
td {
color: #000000;font-family:tahoma, verdana, helvetica; font-size: 11px; font-weight:none;
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #000000;
	scrollbar-base-color : #ffffff;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #000000;
}

a { color:#008600; text-decoration:none; font-weight:bold;}
a:hover { color:#ff0000; text-decoration:none; font-weight:bold;}
a:active { color:#0000ff; text-decoration:none; font-weight:bold ;}

.Menu
{width: 100%; padding:2 5 3 2; border-right: buttonshadow 1px solid; border-top: #4C5DBF 1px solid; border-left: #4C5DBF 1px solid; border-bottom: buttonshadow 0px solid; background-color: #4C5DBF; cursor:hand; color:#FFFFFF;}
.Option
{width: 100%; padding:2 5 3 16; border: 1 1 1 1 solid #ffffff; background-color: #ffffff; cursor:hand;}
.Options {padding:1 1 1 1}


#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #313131;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}


/* set millions of background images */
.rbroundbox { background: url(boxes/nt.gif) repeat; }
.rbtop div { background: url(boxes/tl.gif) no-repeat top left; }
.rbtop { background: url(boxes/tr.gif) no-repeat top right; }
.rbbot div { background: url(boxes/bl.gif) no-repeat bottom left; }
.rbbot { background: url(boxes/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 50%; margin: 1em auto; }


//================================================================
/* powered by http://mierendo.com/software/rounded_css_boxes/ */
//================================================================

.my_corners_tl, .my_corners_t, .my_corners_tr, .my_corners_l, .my_corners_r, .my_corners_bl, .my_corners_b, .my_corners_br, .my_corners {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}
.my_corners_t {
    /*
        change this div to layout the whole box (width, height, float, margin, ...)
        example lines:
        width: 60%;
        margin: 7px 35px 0px 1px
        to change distance to content/text scroll to class ".my_corners" and change the padding
    */
    background-color: #FFFFFF;
    background-image: url("boxes/my_pink_border.jpg");
    background-repeat: repeat-x;
    background-position: top;
}
.my_corners_tl {
    height: 100%;
    background-image: url("boxes/my_pink_topleft.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}
.my_corners_tr {
    height: 100%;
    background-image: url("boxes/my_pink_topright.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
.my_corners_bl {
    height: 100%;
    background-image: url("boxes/my_pink_bottomleft.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.my_corners_br {
    height: 100%;
    background-image: url("boxes/my_pink_bottomright.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.my_corners {
    height: 100%;
    /* change this if you want to change the distance distance to text/content */
    padding: 8px 9px 8px 9px;
}

.my_corners_l {
    height: 100%;
    background-image: url("boxes/my_pink_border.jpg");
    background-repeat: repeat-y;
    background-position: left;
}
.my_corners_r {
    height: 100%;
    background-image: url("boxes/my_pink_border.jpg");
    background-repeat: repeat-y;
    background-position: right;
}
.my_corners_b {
    height: 100%;
    background-image: url("boxes/my_pink_border.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
}