body {
	background: #ffffff;
	font: 12px Verdana, Arial, Sans-serif;
	color: #000000;
}

h1 {
	font-size: 140%;
	margin: 0.5em 1em;
}

 
td {
color: #000000;font-family: verdana, arial, helvetica; tahoma; font-size: 12px; font-weight:none;
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #000000;
	scrollbar-base-color : #ffffff;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #000000;
}

a { color:#0000FF; text-decoration:none; font-weight:bold;}
a:hover { color:#ff0000; text-decoration:none; font-weight:bold;}
a:active { color:#00FF00; text-decoration:none; font-weight:bold ;}

.Menu
{width: 100%; height: 15px; padding:2 5 3 2; border-right: buttonshadow 1px solid; border-top: #F8F3A8 1px solid; border-left: #f5f5f5 1px solid; border-bottom: buttonshadow 1px solid; background-color: #177ED8; cursor:hand; color:#FFFFFF;}
.Option
{width: 100%; height: 15px; padding:2 5 3 16; border: 1 1 1 1 solid #ffffff; background-color: #ffffff; cursor:hand;}
.Options {padding:1 1 1 1}