/* --------------------------------------- NAV FOR ACCOUNT  PAGES--------------------------------------- */

#actnav {
    width: 225px;
	float: left;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffffff, endColorstr=#f0f0f0); 
    background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#f0f0f0)); /* for webkit browsers  */
    background: -moz-linear-gradient(left,  #ffffff,  #f0f0f0); /* for firefox 3.6  */
	background: -o-linear-gradient(left,  #ffffff,  #f0f0f0);
	margin-top: 10px;
}

#actnav  nav {
    width: 225px;
    border-bottom: 5px solid #fff;	
	padding-bottom: 10px;
	clear: both;
}


#actnav nav .hdr {
    font-weight: bold;
	font-size: 13px;
	padding: 13px 0 13px 40px;
	color: #565656;	
	margin-bottom: 0;
}

#actnav.act_new nav .hdr {
	font-size: 15px;
	color: #056491;
	padding: 15px 0 13px 40px;
}

#actnav nav:first-child .hdr {
	background-position: 0 0;
}

#actnav nav:nth-child(2) .hdr {
	background-position: 0 -72px;
}

#actnav nav:nth-child(3) .hdr {
	background-position: 0 -140px;
}

#actnav nav:last-child .hdr {
	background-position: 0 -220px;
}

#actnav nav p {
    width: 180px;
    margin: -5px 5px 5px 40px !important;
	padding: 0 !important;
}

#actnav ul {
	margin: -5px 10px 0 10px; 
}

#actnav li {
	margin: 5px 0 0 30px;
	padding: 1px 5px 2px 15px;
	background: url(images/arrow_actnav.png) no-repeat; 
}

#actnav li a {
	color: #00445a;
	line-height: 15px;   
	text-decoration: none;	
}

#actnav li.sel {
	margin: 5px 0 0 30px;
	padding: 1px 5px 2px 15px;
	background: url(images/arrow_actnav.png) no-repeat; 
}

#actnav li.sel a {
	color: #00445a;
	line-height: 15px;   
	text-decoration: underline;	
}

#actnav li a:hover {
	text-decoration: underline;	
}

#account_new {
    clear: both;	
}

#account_body .req_field {
   margin: 15px 0 0 -15px;
   border-bottom: none;
}

#productListForm {clear:both}

#account_body p, #account_new p  {
	font-size: 12px;
	line-height: 130%;
	/*color: #444;*/
	/*margin-bottom: 4px;*/
	width: 98%;
}

#account_new p.subhdr  {
	font-size: 13px;
	font-weight: bold;
}

#account_new p.note  {
	color: #000;
	font-weight:bold;
	margin-bottom:10px;
}

#account_body input.sm {
	width: 140px;
	margin-right: 20px;	
}

#account_body #account_new .form_2col {
	margin-left: 10px;	
}

#account_body #account_new .hdr  {
	font-size: 15px;
	margin: 0 10px;
	padding: 10px 5px 5px;
	border-bottom: 1px dotted #333;
}

#account_body .login  {
	padding: 30px 0;
}

#account_body .hdr  {
	color: #025b7c;
	font-size: 18px;  
	margin: 15px 0;
}

#account_body .form_2col{
	width: 95%;
	margin: 15px auto;
	padding: 7px 15px;
}

#account_body .form_2col input{
    margin-bottom: 10px;
}

#zipIdLabel_zipErrorIcon {display:none;width:150px;margin-left:250px;margin-bottom:10px;}
#zipIdLabel_zipErrorIcon img {vertical-align:text-bottom;}

#account_body .form_2col .remem_me {
   margin-left: 130px;	
}

#account_body .form_2col .remem_me label{
   padding-left: 7px;
   font-size: 11px;
   font-weight: normal;	
}

#account_body .form_2col span{
	color: #c00;
}

#account_body .form_2col p{
	font-size: 12px;
	line-height: 14px;
	color: #333;
}


#account_body .form_2col p.pw{
	clear: both;
	margin: 0 0 5px 250px;
	font-size: 11px;
	color: #44698b;
}


#account_body .hdr div {
	float: right; 
	color: #00445a; 
	font-weight: normal; 
	font-size: 12px;
	margin-right: 15px;
}


#account_body #actinfo_main ul.info {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 225px;
}

#account_body #actinfo_main ul.info li {
	background:url(images/actmain_div.png) no-repeat right;
	height: 225px;
	width: 235px;
	line-height: 140%;
	color: #565656;
	float: left;
	padding-left: 15px;
}

#account_body #actinfo_main ul.info li:nth-child(2) {
	line-height: 180%;
}

#account_body #actinfo_main ul.info li:last-child {
	background: none;
}

#account_body #actinfo_main .hdr {
	font-size: 14px;
	color: #565656;
	margin-bottom: 4px;
}

#account_body #actinfo_main a.btn.edit {
	margin: 5px 0 15px;
}

#actinfo_main .global_rep  {
	padding: 20px 0;
	color: #333;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
}

#actinfo_main .global_rep .hdr {
	margin-left: 5px;
}

#actinfo_main .global_rep p {
	line-height: 130%;
	padding: 5px;
}

#actinfo_main .global_rep p {
	line-height: 130%;
	padding: 5px;
}

#actinfo_main .member {
	padding: 15px 10px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 25px;
}

#actinfo_main .satisfaction {
	width: 86px;
	height: 88px;
	float: right;
	margin-top: 30px;
}

#actinfo_main .member .info {
	width: 650px;
}

#actinfo_main .member .info p {
	line-height: 130%;
	padding: 5px;
}

#actinfo_main .rep_info  {
	background-color: #fafafa;
	padding: 7px;
	margin: 5px;
	height: 120px;
}

#actinfo_main ul.rec_prod, #actinfo_main ul.rec_cat {
    margin: 10px 0 35px;
	border-bottom: 1px solid #dddddd;	
	display: table;
}

#actinfo_main ul.rec_prod li {
  width: 230px;
  float: left;
  margin: 10px 10px 20px;
}

#actinfo_main ul.rec_prod li .prod_img {
   width: 50px;
   height: 50px;
   padding: 0;	
   float: left;
}

#actinfo_main ul.rec_prod li .prod_img img {
   width: 50px;
   height: 50px;
}

#actinfo_main ul.rec_prod li a {
   float: left;  
   font-size: 11px;
   text-decoration: underline;
   width: 150px;
}

#actinfo_main leftnav .recent_view ul.rec_prod li a {
   float: left;  
   font-size: 11px;
   text-decoration: underline;
}

#actinfo_main ul.rec_cat li {
   background: url(images/sprite_bg.png) -277px -2px no-repeat;
   padding-left: 18px;
   float: left;
   width: 215px;
   float: left;
   margin: 10px 10px 20px;
}

#actinfo_main table.account {
    margin-bottom: 30px;
	padding-bottom: 20px;	
	border-bottom: 1px solid #dddddd;	
}

#actinfo_main ul.rec_cat li a{
   font-size: 11px;
   text-decoration: underline;
}

#actinfo_main .rep_info .sales_rep, #actinfo_main .rep_info .sales_rep img  {
	float: right;
	width: 120px;
	height: 120px;
}

#actinfo_main .rep_info p  {
	margin: 7px 15px;
}

#actinfo_main .rep_info p span {
	width: 250px;
	display: inline-block;
	vertical-align: text-top;
	font-weight: bold;
}

#actinfo_main .rep_info p span:nth-child(2) {
	width: 300px;
	font-weight: normal;
}



#account_body .pw_none, #account_body .pw_weak, #account_body .pw_good, #account_body .pw_strong{
   float: left;	
   margin-top: 7px;
}


#account_body  .line {
    width: 90%;
    height: 3px;
    margin: 15px auto;
    background-color: #f2f2f2;	
}



#account_body .actinfo {
   width: 96%;
   float: none;
   border-bottom: 2px solid #002963;
   padding-bottom: 10px;
   margin-bottom: 30px;
}

#account_body .actinfo .type{
   padding: 5px 15px;
   font-size: 13px;
}

#account_body dl.bg{    
   margin:10px 15px 0;
   padding-bottom: 10px;
} 

#account_body .bg_edit{    
   margin:0;
   padding-bottom: 10px;
   background-color: #fff;
} 

#account_body #account_edit .btns{    
   margin: 10px 0 40px 275px;
} 

#actinfo_manage ul.actinfo {
	border: none;
}

#actinfo_manage ul.actinfo li .hdr{
	color: #444;
	padding: 2px 7px !important;
	width: 100%;
	margin: 7px 0 7px -10px;
	font-size: 15px;
	border-bottom: 1px dotted #004a62;
	background-color: #fff;
}

#actinfo_manage ul.actinfo li {
	float: none;
    width:720px;
	margin: 0 10px 20px 0 !important;
	padding-top: 0 !important;
	padding-bottom: 15px;
	line-height: 20px;
	font-size: 13px;
	border-bottom: 2px solid #004a62;
}


#actinfo_manage ul.actinfo li span{
    width:150px;
	font-weight: bold;
	color: #444;
	padding-left: 20px;
}

#actinfo_confirm ul  {
	border-bottom: 1px solid #004961;
	margin-bottom: 5px !important;
}

#actinfo_confirm ul li {
	margin-right: 10px !important;
	border-bottom: none;
	padding-bottom: 0;
}

input.inputDate{
	 padding:3px 4px 3px;
     background:url(images/sprite_prod.png) no-repeat -242px -194px #fff;;
	 vertical-align:middle;
	 width:100px;
	 cursor:pointer;
	 color:#272829;
	 margin-left: 20px;
}

#actinfo_manage ul.actinfo li:nth-child(n+3) {
	margin: 0 10px 15px 0 !important;
	padding-bottom: 15px;
	border-bottom: 1px dashed #004a62;
}

#account_body .search_by {
	background-color: #f2f2f2;
	width: 720px;
	padding: 10px;
	height: 50px;
	margin-bottom: 20px;
}

#account_body .search_by .hdr{
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	float: left;
}

#account_body .orders_type {
    margin-left: 270px;
	padding-bottom: 3px;
    float: left;
	width: 360px;
	border-bottom: 1px solid #999;	
}

#account_body .orders_type label{
   padding: 0 15px 0 5px;
   font-size: 13px;
   color: #333;
   font-weight: bold;
}

#account_body .order_type {
	background-color: #e3e3e3;
    padding: 6px;	
	float: left;
	width: 305px;
}

#account_body .order_type select {
	margin-right: 15px;
}

#account_body .order_dates {
	float: left;
	margin: 10px 0 0 10px;
}


table.account {
    width: 98%;
    border-spacing: 3px; 	
}

table.account tr td {
   text-align: center;
   padding: 5px;
}

table.account tr td a{
   text-decoration: underline;
}

table.account  tr td.available { color:#090; font-weight:bold;}
table.account  tr td.exp { color:#900; font-weight:bold;}

table.account thead tr td {
   background-color: #f1f1f1;
   font-weight: bold;
   border-top: 1px solid #000;
   padding: 6px;
   line-height: 13px;
}

table.account thead tr td a.asc {
	background:url(images/act_asc.gif) no-repeat;
	padding-left: 16px;
}

table.account thead tr td a.desc {
	background:url(images/act_desc.gif) no-repeat;
	padding-left: 16px;
}


table.account tbody tr:nth-child(even) {
   background-color: #f5f5f5;	
}

table.account td.prod_img {
   width: 30px !important;	
}

table.account td.prod_img img {
   width: 30px;	
   height: 30px;	
}

table.account td.desc{
   text-align: left;
   font-size: 11px;	
   width: 300px;
}

table.account td a.no{
   color: #c00;
   font-weight: bold;
   text-decoration: underline;
}

#actinfo_orders {
	padding-bottom: 40px;
}

#actinfo_orders .btns {
	width: 98%;
    background-color: #f7f7f7;
    padding: 10px;
    font-weight: bold;	
}

#actinfo_orders .popUpExist p.btns {
	width: auto;
    background:none;
}

#actinfo_lists a.more{
	background: url(images/sprite_prod.png) no-repeat -213px -132px;
	color: #007dab;
	text-decoration: underline;
	float: right;
	padding: 0 20px 0 20px;
	height: 20px;
	display: block;	
}

#actinfo_lists .subhdr{
	float: left;
	font-weight: bold;
	font-size: 13px;
	clear: none;
	height: 20px;
}

#actinfo_lists p {
	clear: left;
	padding-bottom: 5px;
}


#actinfo_lists .order_results {
    margin-top: 20px;	
}

#actinfo_lists table.account tbody td:first-child a {
    float: left;	
}

#actinfo_lists table.account tbody td:first-child a.edit {
	color: #ab0000;
	font-size: 11px;
	float: right;
}

#actinfo_lists .btns {
    background-color: #f5f5f5;
	margin-top: 10px;
	padding: 10px 0;	
	width: 750px;
}


.return_info  {
   padding: 10px;
   border-bottom: 1px solid #000;
   margin-bottom: 20px;	
}

.return_info p {
   line-height: 15px;
}

#roles .search_by {
   font-weight: bold;
   font-size: 13px;	
   margin-bottom: 10px;
   height: 35px;
   padding: 5px 10px;
}

#roles table.account tbody tr td input {
	width: 70px;
}

#roles table.account tbody tr td:last-child {
	white-space: nowrap;
}

#roles table.account tbody tr.disabled {
	background-color: #f2f2f2;
	color: #999;
}

#roles .btns {
   margin-bottom: 20px;
   background-color: #f2f2f2;
   padding: 5px;	
   width: 97%;
}

#actinfo_orders #actinfo_confirm ul  {
    margin-top: 20px;
	border-bottom: none;
}

#actinfo_orders #actinfo_confirm ul li {
    width: 210px;
	padding-top: 0;
}

/* quote order details */

#actinfo_orders #actinfo_confirm ul.quote {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#actinfo_orders #actinfo_confirm ul.quote li {
    width: 210px;
	padding-top: 0;
	border-bottom: none;
	height: auto;
}



#actinfo_orders #actinfo_confirm ul li:nth-child(3) {
    margin-right: 0;
}

ul.order_info{
	width: 95%;
	background-color: #f7f7f7;
	margin-bottom: 2px;
	border-bottom: 1px solid #333;	
	padding: 10px;
	height: 10px;
	clear: both;
}

ul.order_info li {
    width: 25%;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

ul.order_info  li:first-child {
	text-align: left;
}


ul.order_info  li:last-child {
	text-align: right;
}


.await_approval .btns {
	margin-bottom: 5px;
}

#actinfo_orders table.cart .pz, #actinfo_orders table.cart .shipping, #actinfo_orders table.cart .rebate {
   width: 640px;
}


#actinfo_orders table.cart .pz span {
   margin-right: 3px;
}

#actinfo_orders #summary_confirm {
   border-top: 1px dotted #333;
   padding-top: 20px;
   clear: both;
}

#actinfo_orders #summary_confirm  .hdr{
   font-size: 15px;
   border-bottom: none;
   margin: 0 0 5px 15px;
}

#actinfo_orders  #summary_confirm .order_total {
	width: 720px;
}

#actinfo_orders  #summary_confirm #totals {
	margin-bottom: 50px;
}

#actinfo_orders  #summary_confirm .btns {
	display: none;
}



/* reseller sales chart */

.sales_chart_div {
	background:url(images/sales_chart_div_bg.gif) no-repeat;
	width: 610px;
	height: 140px;
	margin: 25px 10px 10px;
	padding: 0;
}

.salescomm_chart_div {
	background:url(images/salescomm_chart_div_bg.gif) no-repeat;
	width: 610px;
	height: 140px;
	margin: 25px 10px 10px;
	padding: 0;
}

.sales_chart {
	background:url(images/sales_chart_bg.gif) no-repeat;
	width: 610px;
	height: 140px;
	margin: 25px 10px 10px;
	padding: 0;
}

.salescomm_chart {
	background:url(images/salescomm_chart_bg.gif) no-repeat;
	width: 610px;
	height: 140px;
	margin: 25px 10px 10px;
	padding: 0;
}

.bar_graph {
	width: 590px;
	height: 33px;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#ececec);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));  /* for webkit browsers */
	background: -moz-linear-gradient(top, #ffffff, #ececec); /* for firefox 3.6 */
	background-color:#ececec;
	border: 1px solid #ececec;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	margin: 10px auto;
	margin-left: 5px;
}

.seller_sales {
	width: 590px;
	height: 33px;
     FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ec7a00, endColorstr=#ffc600);
	background: -webkit-gradient(linear, left top, right bottom, from(#ec7a00), to(#ffc600));  /* for webkit browsers */
	background: -moz-linear-gradient(top, #ec7a00, #ffc600); /* for firefox 3.6 */
	background-color:#ec7a00;
}

table.amt_sales, table.amt_comm {
	width: 100%;
	margin: 0 auto;
	border: 0;
}

table.amt_sales tr td, table.amt_comm tr td {
	padding: 0;
	font-size: 11px;
	font-weight: bold;
}

.sales_chart table.amt_sales tr td, .sales_chart table.amt_comm tr td {
	width: 50%;
}

.sales_chart_div table.amt_sales tr td, .sales_chart_div table.amt_comm tr td {
	width: 33%;
}

table.amt_sales tr td {
	padding-top: 30px;
}

table.amt_comm tr td {
	padding-top: 0;
}


/* Product Ratings */

ul.prod_ratings  {
	margin-top: -20px;
}

ul.prod_ratings li {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 5px solid #ddeaee;
}

ul.prod_ratings li:last-child {
	margin-bottom: 25px;
	border-bottom: none;
}

ul.prod_ratings li .prod_img, ul.prod_ratings li .prod_img img  {
	float: left;
	width: 80px;
	height: 80px;
}

ul.prod_ratings li .info {
    width: 650px;
	height: 80px;
	display: block;	
	float: left;
	height: 75px;
	margin: 5px 0 10px;
}

.prod_ratings .title a {
    font-size: 13px;
	height: 15px;
	overflow: hidden;
}

.prod_ratings .price {
    border-bottom: 1px solid #ddeaee;
	padding-bottom: 7px;
	margin-bottom: 5px;
}

.prod_ratings .reviews {
	margin-top: 5px;
}

.prod_ratings .rating {
    float: right;
	margin-right: 10px;
}

.prod_ratings .review_title {
    font-weight: bold;
	color: #085267;
	font-size: 15px !important;
    clear: left;
}

.prod_ratings .review_title span {
	padding-left: 10px;
	font-size: 11px;
    font-weight: normal;
    color: #777;
}

.review_desc  {
	width: 97%;
	clear: both;
	margin: 5px auto;
}

.prod_ratings .btn.read_more, .prod_ratings .btn.read_less {
	background:url(images/btn_read_more.gif);
	width: 90px;
	height: 21px;
	float: right;
}

.prod_ratings .btn.read_less {
	background:url(images/btn_read_less.gif);
}

table.account.review {
    width: 100%;
	margin-bottom: 25px;	
}

table.account.review  td{
    text-align: left;	
}

/*table.account.review td.prod_img img {
    width: 60px;
	height: 60px;
}
*/
table.account.review td .title a {
    font-size: 13px;
}

table.account.review td:last-child {
    text-align: center;
}

.product_ratings .sort {
    display: none;	
}

/*.product_ratings .paging {
    margin: 0 0 -20px !important;
}
*/

/*.product_ratings .paging .arrows {
    float: right;	
}
*/
.product_ratings .paging p {
/*	position: absolute;*/
	margin-left: -20px;
}

.product_ratings .no_prod {
	font-size: 14px;
	font-weight: bold;
	color: #005c7d;
}


/* EMAIL preferences */

#actinfo_emailPref .line {
    margin: 30px 0 20px;
	border-bottom: 1px solid #333;	
}

#actinfo_emailPref .hdr {
    margin: 30px 0 20px;
}

#actinfo_emailPref .hdr span {
	border-bottom: 3px dotted #999;
	color: #999;
	font-size: 20px; 
	font-weight: bolder;
}

#actinfo_emailPref.unsubscibe {
    border: 2px solid #f2f2f2; 	
	text-align: center;
	margin-top: 10px;
}

#actinfo_emailPref.unsubscibe .hdr {
    margin: 15px;
	font-size: 20px;
    color: #025b7c;
}

#actinfo_emailPref.unsubscibe p {
    margin: 15px;
	font-size: 14px;
	color: #555;
	font-weight: bold;
}

.role_types {
    width: 98%;
	margin: 0 auto 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #025b7c;
	border-bottom: 1px dotted #025b7c;
}

.role_types p.hdr {
    font-size: 13px !important;
	font-weight: bold;	
	margin-bottom: 3px !important;
}

.role_types p {
    line-height: 125% !important;
}

.role_types .note {
   font-size: 12px;	
   margin-top: 13px;
}

/* Date Picker css */
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
}

.ui-datepicker-header .ui-icon {
    background-color: #F7F8F9;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
}

.ui-widget-header .ui-icon {
    background-image: url(images/sprite_prod.png);
}

.ui-icon-circle-triangle-w {/*prev*/
    background-position: -15px -110px;
}

.ui-icon-circle-triangle-e {/*next*/
	background-position: -28px -110px;
    right: 10px;
}

.ui-datepicker-header {
    color: #272829;
    font-weight: bold;
}

.ui-datepicker table {
    border-collapse: collapse;
    color: #272829;
    margin: 0 0 0.4em;
    width: 100%;
}

.ui-datepicker .ui-datepicker-title {
    color: #272829;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}

.ui-datepicker .ui-state-disabled {
    opacity: 0.3;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    color: #747F8A;
}
.ui-datepicker td {
    border: 0 none;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

.ui-state-disabled {
    cursor: default;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker a {
    color: #0095C7;
}

.ui-datepicker {
    display: none;
    padding: 0.2em 0.2em 0;
    width: 17em;
    /*background: -moz-linear-gradient(center top , #F7F8F9, #F2F3F4) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background: rgb(247,248,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,248,249,1) 0%, rgba(242,243,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,248,249,1)), color-stop(100%,rgba(242,243,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,248,249,1) 0%,rgba(242,243,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,248,249,1) 0%,rgba(242,243,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,248,249,1) 0%,rgba(242,243,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,248,249,1) 0%,rgba(242,243,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8f9', endColorstr='#f2f3f4',GradientType=0 ); /* IE6-9 */
    border: 1px solid #DCE1E6;
    color: #272829;
}

table.ui-datepicker-calendar td.ui-datepicker-current-day a.ui-state-active {
    background: none repeat scroll 0 0 #084081;
    color: #FFFFFF;
}
table.ui-datepicker-calendar td a.ui-state-hover {
    background: none repeat scroll 0 0 #0095C7;
    color: #FFFFFF;
}

.ui-datepicker th {
    border: 0 none;
    font-size: 10px;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}




.accCatbg {
	background:#fafafa;
}

.accCat ul {
	float: none;
	padding: 10px;
	width: 96%;
	margin-bottom:25px;
}

.accCat p.hdr {
	font-size:14px !important;
	margin:15px 0 !important;
}

.accCat li {
	float:left;
	width:48%;
	line-height:18px;
	height:330px;
	background:#f7f7f7;
	padding-left:2%;
}

.accCat li.fullwidth {
	width:96% !important;
}

.accCat li p {
	padding:10px 0 0 0;
	font-weight: bold;
}

.accCat li a.btn.edit {
	margin-left:0px !important;
	padding-bottom:15px;
}

.accCat li p.reqCat { 
	padding:100px 0 15px;
}

.instruction {
	font-size:11px !important;
	color:#990000;
}

.instruction img {
	padding:5px 0 0 0;
}

.instruction .arrow_right {
	float:right;
}

p.acc_sm {
	font-size:11px !important;
	color:#999;
}

.accGridR .images img {
	padding:0 !important;
	margin:0 !important;
	display:block;
	float:left;
}

.accGridL {
	float:left;
	width:44%;
	background:#fafafa;
	border:1px solid #e0e8eb;
	border-right:none;
	padding:1%;
	height:225px;
	margin-bottom:25px;
}
.accGridR {
	float:left;
	width:50%;
	background:#fafafa;
	border:1px solid #e0e8eb;
	border-left:none;
	padding:10px;
	height:210px;
	padding-top:25px;
	margin-bottom:25px;
}
.ProdGridL {
	float:left;
	width:39%;
	border-top:1px solid #e0e8eb;
	border-right:none;
	padding:10px;
	min-height:400px;
	margin-bottom:25px;
}

.ProdGridL img { 
	width:275px; 
	height:275px;
	}
	
.ProdGridR {
	float:left;
	width:55%;
	border-top:1px solid #e0e8eb;
	padding:10px;
	min-height:400px;
	margin-bottom:25px;
}

.accGridL .hdr, .accGridR .hdr {
	font-size:14px !important;
	margin:10px !important;
}

.label_info, .label_info [id^="charsRemain"] {
	font-size:10px;
	color:#999999;
	font-weight:normal;
}

.form_2col select.select250 {
	float: left;
	margin-top: 3px;
	width: 250px;
}

.form_2col input.update {
	float: left;
	margin-top: 3px;
	width: auto;
	height:24px;
	margin-top:0px;
}

.form_2col textarea.textarea240 {
	float: left;
	margin-top: 3px;
	margin-bottom:10px;
	width: 240px;
}

.form_2col .clear_label {
	display: inline;
	float:left;
	line-height:14px;
	margin-bottom:10px;
	padding-left:180px;
}

.form_2col .clear_label .text {
	float:left;
	color:#000 !important;
	padding-right:10px;
	font-size:11px;
	line-height:20px;
}


#sellers_body #midsec {width: 98%;}
#sellers_body .sellerapp { padding-bottom:25px;}
#sellers_body .sellerapp .hdr { clear:both;font-size: 20px;color: #005E9D;font-weight: bold;line-height: 22px; padding-top:35px; border-bottom: 1px solid #004a62;}
#sellers_body .sellerapp p {font-size: 12px;font-weight: normal;padding: 5px 0px;line-height: 130%;}
#sellers_body .sellerapp .mpcol1 {float: left;margin:15px 0 0 0;width: 250px;display: table;}
#sellers_body .sellerapp .mpcol1 label {font-weight: bold;display: block;padding: 15px 0 5px 0;}
#sellers_body .sellerapp .mpcol1 input {width: 200px;display: block;}
#sellers_body .sellerapp .mpcol2 {float: left;margin:15px 0 0 10px;width: 250px;display: table;}
#sellers_body .sellerapp .mpcol2 label {font-weight: bold;display: block;padding: 15px 0 5px 0;}
#sellers_body .sellerapp .mpcol2 input {width: 200px;display: block;}
#sellers_body .sellerapp .mpcol2 select {width: 209px;display: block; border: 1px solid #ccc;box-shadow: inset 0 20px 15px -20px #d6d6d6;-moz-box-shadow: inset 0 20px 15px -20px #d6d6d6;-webkit-box-shadow: inset 0 20px 15px -20px #d6d6d6;outline: none;font-size: 12px;padding: 1px;}
#sellers_body .sellerapp .mpcol3 {float: left;margin:15px 0 0 10px;width: 375px; display: table;}
#sellers_body .sellerapp .mpcol3 .subhdr { clear:both;font-size: 12px; color:#333333;font-weight: bold;padding: 15px 0 0 0;}
#sellers_body .sellerapp .mpcol3 label {float:left; width:85%;padding: 5px 0 5px 5px; }
#sellers_body .sellerapp .mpcol3 input { clear:both; float:left; width:5%;margin: 5px 0 5px 15px;}
#sellers_body .sellerapp .mpcol3 p { clear:both;}
#sellers_body .sellerapp .mpcol3 .yes_no input { clear:none; float:left; width:auto;margin: 10px 0 10px 15px;}
#sellers_body .sellerapp .mpcol3 .yes_no label {clear:none;float:left; width:auto;padding: 10px 0 10px 5px; }
#sellers_body .sellerapp .mpcol3 textarea { clear:both; width: 225px; display: block;}
#sellers_body .sellerapp .comments { clear:both;float: left;margin-left: 0;width: 500px;display: table;}
#sellers_body .sellerapp .comments label {font-weight: bold;display: block;padding: 15px 0 5px 0;}
#sellers_body .sellerapp .comments textarea {width: 463px;display: block; margin:0 0 15px 0;}
#sellers_body .sellerapp .mp_col {float: left;margin-left: 10px;width: 425px; display: table; padding:15px 0;}
#sellers_body .sellerapp .mp_col label {float:left; width:85%;padding: 5px 0 5px 5px; }
#sellers_body .sellerapp .mp_col input { clear:both; float:left; width:5%;margin: 5px 0 5px 10px;}
#sellers_body .sellerapp .mp_col textarea { clear:both; width: 223px;display: block; margin:15px 0 0 20px;}
#sellers_body .sellerapp .sellerapp_btn {clear:both; margin:10px 0; padding:10px 0;border-top:1px solid #004a62; text-align:left;}

#sellers_body .sellersave { padding-bottom:25px; text-align:center;}
#sellers_body .sellersave .hdr { clear:both;font-size: 30px;color: #005E9D;font-weight: bold;line-height: 22px; padding-top:35px;}
#sellers_body .sellersave .subhdr { clear:both;font-size: 20px;color: #005E9D;font-weight: bold;line-height: 22px; padding:35px 0 20px;}
#sellers_body .sellersave p {font-size: 14px;font-weight: bold;padding: 5px 0px;line-height: 130%;}

#sellers_body .sellerError { padding-bottom:25px;}
#sellers_body .sellerError .hdr { clear:both;font-size: 20px;color: #005E9D;font-weight: bold;line-height: 22px; padding-top:35px;}
#sellers_body .sellerError .subhdr { clear:both;font-size: 20px;color: #005E9D;font-weight: bold;line-height: 22px; padding:35px 0 20px;}
#sellers_body .sellerError p {font-size: 14px;font-weight: bold;padding: 5px 0px;line-height: 130%;}

#sellers_body .sellerFound { padding-bottom:25px; text-align:center;}
#sellers_body .sellerFound .hdr { clear:both;font-size: 20px;color: #005E9D;font-weight: bold;line-height: 22px; padding-top:35px;}
#sellers_body .sellerFound .subhdr { clear:both;font-size: 20px;color: #005E9D;font-weight: bold;line-height: 22px; padding:35px 0 20px;}
#sellers_body .sellerFound p {font-size: 14px;font-weight: bold;padding: 5px 0px;line-height: 130%;}
