.btn.see_all { /* red arrow */
    background: url(images/arrow_red_circle.gif) no-repeat;
    font-size: 13px;
    padding: 2px 0 3px 18px;
    font-weight: bold;
    color: #b00;
    text-decoration: underline;
}

#sellers_body a.btn.back {
    color: #307aa9;
    background: url(images/arrow_back.png) no-repeat #ecf3f5;
    padding: 4px 17px;
    margin-top: 17px;
}

.btn, input.btn  {
    background: url(images/sprite_btns_main.png) no-repeat;
    cursor: pointer;
    border: 0;
    display: inline-block;
    text-decoration: none;
}

#actinfo_orders a.btn.print, .filter_search .btn.search2 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 10px; 
    background-color: #ff7200;
    background-image: none;
}

/* htmlarea buttons and etc  */

.catbnr_sec .btn.shopnow {
    background-position: 0 -685px;
    width: 68px;
    height: 20px;	
}

/* 1 COLOR BUTTONS  */


a.btn.approve, a.btn.deny, a.btn.disable, a.btn.enable, #roles a.btn.delete, .confirm_popup a.btn.yes, .confirm_popup a.btn.no, a.btn.return {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 5px; 
    text-decoration: none;
    background-image: none;
}

a.btn.return {
    background-color: #53b948;
    font-size: 12px;
}

#summary_confirm a.btn.return {
    font-size: 13px;
    padding: 2px 15px; 
}

.confirm_popup a.btn.yes, .confirm_popup a.btn.no {
    font-size: 15px;
    padding: 5px;	
}

a.btn.approve, a.btn.enable {
    background-color: #1b8f11;	
    margin-right: 7px;	
}

.confirm_popup a.btn.yes {
    background-color: #1b8f11;	
    margin: 15px 15px 15px 160px;	
}

.await_approval a.btn.approve, .await_approval a.btn.deny {
    font-size: 13px;
    padding: 5px 15px;	
}

#roles a.btn.enable, #roles a.btn.disable  {
    font-size: 9px;	
    text-transform: uppercase;
}

#roles a.btn.disable  {
    font-size: 9px;	
    text-transform: uppercase;
    margin-right: 7px;	
}

a.btn.deny, .confirm_popup a.btn.no {
    background-color: #a00000;		
}

#roles a.btn.delete  {
    background-color: #a00000;
    font-size: 9px !important;
    text-transform: uppercase;
}

a.btn.disable    {
    background-color: #ffa800;		
}

#alerts a.disable {
    float:right;
    margin-right:20px;	
}

/* green buttons  */

.btn.add_items_cart, .btn.add_entire_list, .btn.add, .btn.facetSlider, .btn.go, .chat_window input.btn.submit {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 10px; 
    background-color: #35c002;
    background-image: none;
}

.chat_window input.btn.submit {
    margin-top: 15px;
    font-size: 16px;
    padding: 6px 15px;
    border: none;
}

input.submit, .paypal_login input.btn.paypal_signin  {
    border-radius: 4px;
    padding: 5px 20px;
    background: #35c002;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration:none; 
    line-height:normal;
    border:none;
    cursor:pointer;
}

a.btn.update, a.btn.cancel {
    padding: 5px 12px;
    font-size: 13px;
    line-height:normal;	
}

.btn.add {
    padding: 4px 6px;
    font-size: 13px;
}

.details_mp .btn.add {
    float:left;	
    margin-left: 5px;
}

.shoplists_sec .btnsShopList a.btn {
    float:left;
    font-size: 12px;
    padding: 5px 8px;
    margin-left:10px;
}

#actinfo_list .btn.add_items_cart {
    float: right;
    margin: 0 25px 10px 0;
    padding: 5px 8px;
}

#actinfo_list .btn.add_entire_list {
    padding: 5px 8px;
}

.btn.facetSlider {
    position: absolute;
    margin: -40px 0 0 130px;	
    padding: 3px 5px;
}

.parts_filter .btn.go {
    font-size: 14px;
    padding: 5px 7px;
    position: absolute;
    margin-top: 2px;
}


/* orange buttons  */

#actinfo_orders a.btn.print, .filter_search .btn.search, .shoplists_sec .btn.new_list, .btn.submit_emailpref, #mapPrice_prod .btn.nothanks, #roles input.update_roles,
#roles a.btn.update_roles, a.btn.review, .btn_ship_multi, .catbnr_sec .btn.find {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 10px; 
    background-color: #ff7200;
    background-image: none;
    text-decoration: none;
}

.catbnr_sec .btn.find {
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: -1px;
}

a.btn.review {
    padding: 5px 15px;
    font-size: 14px;
}

#roles input.update_roles,
#roles a.btn.update_roles  {
    float: right;
    padding: 2px 8px; 
    margin-top: -1px;
}

#mapPrice_prod .btn.nothanks  {
    float: left;
    padding: 5px 15px;
    margin-top: 5px;	
}

.btn.submit_emailpref {
    font-size: 15px;
    padding: 7px 15px;
    margin-top: 20px;
    width: 280px;
    border: 0; 
}

.filter_search .btn.search {
    text-align: center;
    font-size: 13px;
    padding: 2px 10px; 
}

#actinfo_orders a.btn.print {
    float: right;
    margin: -30px 25px 20px 0;
}

#actinfo_orders a.btn.back {
    text-decoration: underline;
    background-image: none;
    margin: -30px 0 20px 300px;
    float: left;
}

#actinfo_orders.await_approval a.btn.back {
    margin: -30px 0 20px 250px;
}


/* blue buttons  */
#actinfo_lists .del_lists, #actinfo_lists .new_list, #actinfo_lists .combine_lists, #summary_confirm a.btn.print, #picgroup_body a.btn.grid_compare, table.sellers a.btn.calc   {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 15px; 
    background-color: #007daa;
    background-image: none;
    margin-right: 10px;	
}

#picgroup_body a.btn.grid_compare {
    padding: 5px; 
    position: absolute;
    background-color: #319fdc; /* lighter blue */
    border-radius: 2px;
    font-size: 10px;
}

#summary_confirm a.btn.print {
    text-decoration: none;
    padding: 3px 7px; 
    font-size: 11px;
    line-height: 11px;
    margin: 0 0 0 15px;
}

a.btn.csv, a.btn.pdf, a.btn.excel   {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 15px; 
    background-color: #007daa;
    background-image: none;
    margin:0 0 0 15px;	
}

a.btn.csv, table.sellers a.btn.calc {
    font-size: 11px;
    padding: 2px 7px;
}

a.btn.pdf {
    background:url(images/ico_pdf.png) no-repeat right #007daa;
    padding: 2px 25px 2px 7px;
    font-size: 11px;
}

a.btn.excel {
    background:url(images/ico_excel.png) no-repeat right #007daa;
    padding: 2px 25px 2px 7px;
    font-size: 11px;
}

#actinfo_lists .del_lists, #actinfo_lists .new_list, #actinfo_lists .combine_lists {
    margin-left: 70px;	
}



/* GRADIENT BUTTONS  */

/* Gray button dark  */

a.btn3, table.cart tr td.cont a, table.saved_carts tr td.cont a, a.btn.cancel, input.btn_cancel, #actinfo_emailPref .btn.unsubscribe {
    border-radius: 4px;
    padding: 3px 15px;
    background: #989797;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cccbcb, endColorstr=#989797); 
    background: -webkit-gradient(linear, left top, left bottom, from(#cccbcb), to(#989797)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #cccbcb,  #989797); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #cccbcb,  #989797);
    border: 1px solid #b3b3b3;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
    text-decoration: none; 
    display: inline-block;
}

#actinfo_emailPref .btn.unsubscribe {
    font-size: 14px;
    padding: 7px 15px;
    margin: 25px 0 50px;
}

/*blue button  */
a.btn.update, input.btn.update, input.btn.submit, input.btn.paypal_signin
a.btn7, .calc_ship a, .calc_ship input {
    border-radius: 4px;
    padding: 3px 15px;
    background: #2c557b;
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006f94, endColorstr=#00526e); 
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006f94, endColorstr=#00526e); 
    background: -webkit-gradient(linear, left top, left bottom, from(#006f94), to(#00526e)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #006f94,  #00526e); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #006f94,  #00526e);
    border: 1px solid #254d73;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration:none; 
    margin-right: 10px;
    line-height:normal;
}

a.btn.update, a.btn.cancel {
    padding: 5px 12px;
    font-size: 13px;
    line-height:normal;	
}

.popUpWin table.cart tbody tr td div.btns a.btn.cancel {
    text-decoration: none;
    padding: 6px 12px;
    margin-left:20px;
}

#popup_actinfo .btns {
    margin: 10px 0 0 170px; 	
}

#popup_payinfo .btns {
    margin: 0 0 0 260px; 	
}

input.btn.update, input.btn_cancel {
    padding: 0 12px;
    font-size: 13px;
    height:28px;
}

input#calculateBtn, input#calculateBtn_cart { 
    padding:3px 5px;
    border-radius:4px;
    margin-left:155px;
}

#list_exist input.btn.update {
    display: inline !important; 
    margin-left: 20px !important; 
}

#account_new input.btn.submit {
    padding: 4px 15px;
    font-size: 13px;
    margin: 5px 0 50px 283px;  	
}

#popup input.btn.submit {
    width: 80px;
    margin: 0 0 20px 180px;
    border: 0;
    font-size:13px;
}

#saveCartPopup input.btn.submit {
    margin: 0 0 10px 140px;
}

/* orange button gradient - small  */

a.btn.add_address, a.btn.add_roles, a.btn.add_info, #account_body a.btn.search, #account_body input.btn.search, 
a.btn5, a.btn7, a.btn_print_confirm, a.btn_sel_loc, a.btn.new_loc, a.btn.compare, a.btn.highlight, .compare_items #productCompare {
    border-radius:3px;
    padding:2px 15px;
    background: #dd8811;
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eebb33, endColorstr=#dd8811); 
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eebb33, endColorstr=#dd8811); 
    background: -webkit-gradient(linear, left top, left bottom, from(#eebb33), to(#dd8811)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #eebb33,  #dd8811); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #eebb33,  #dd8811);
    border:1px solid #dd8811;
    font-weight:bold;
    font-size:11px;
    color:#fff;
    text-decoration:none; 
    display: inline-block;
}

/* orange button - med  */

a.btn.compare {
    border-radius:4px;
    padding: 5px 15px;
    font-size: 13px;
}

.compare_items #productCompare {
    margin: 10px 0 0 10px;
    float: left;
    border-radius: 4px;
    font-size: 13px;
    padding: 5px 15px;
    width:auto;
}

/* scroll item pop up buttons*/
div.pt-buttons a.btn.compare {
    border-radius: 4px;
    font-size: 12px;
    margin-right: 20px;
    padding: 3px 8px;
}

.pt-buttons {height:25px;margin-top:10px;}

div.pt-buttons .btn.add {
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 8px;
}
/* scroll item pop up buttons*/

a.btn.highlight {
    border-radius:4px;
    padding: 5px 15px;
    font-size: 13px;
    position: absolute;
    margin: 25px 0 0 65px;
}

.compare_results .btns .btn.email {
    background:url(images/btn_email_comp.gif) no-repeat !important;
    width: 175px;
    height: 45px;
    margin: 15px 0 0 70px;
    display: inline-block;
    padding: 0;
}

.compare_results .btns a.btn.print {
    background:url(images/btn_print_compare.gif);
    width: 171px;
    height: 45px;
    margin: -10px 0 0 !important;	
    padding: 0;
    display: inline-block;
}

a.btn.new_loc {
    float: right;
    margin-right: 15px;	
}

a.btn.add_address, a.btn.add_info  {
    float: right;
    padding: 2px 8px;
    margin: 4px 15px 0 0;	
}

#account_body a.btn.add_info {
    margin: -3px 0 0 0;	
}

#account_body  input.btn.search {
    margin: 8px 0 0 28px;
    font-size: 13px;
}

/* LINK OR ICON BUTTONS */

a.btn.apply{
    color: #ae0000;
    font-size: 13px;  
    float: right;
    text-decoration: underline;
    font-weight: normal;
    margin-right: 50px;
    background: none;
}

/* Main Call to action */


/* Main Call to action buttons - add to cart etc.   One color green.  This main sprite can be changed from one color to another for A/B Testing. */

a.btn_paypal {
    background:url(images/btn_paypalcheckout.gif);
    width: 145px;
    height: 42px;
    display: block;	
    margin: 30px 0 20px 30px;
}

#summary_confirm .btns a.btn_paypal {
    margin: 0 0 0 430px;
    float: left;
}

#summary_confirm .btns a.btn.checkout {
    margin: 0 0 0 30px;
    float: left;
}

#leftnav  .btn.search, #leftnav  input.btn.search {
    background-position: -113px -8px;
    width: 72px;
    height: 22px; 
}

.btn.signup {
    background-position: -217px -8px;
    width: 70px;
    height: 21px; 
}

.btn.signin {
    background-position: -296px -7px;
    width: 103px;
    height: 30px; 
}

.btn.findorder {
    background-position: -204px -357px;
    width: 157px;
    height: 32px;
}

.login .btn.signin, .login .btn.findorder {
    border: 0;
    margin: 10px 0 0 128px;
    padding: 0;	
}

.btn.addcart {
    background-position: 0px -57px;
    width: 138px;
    height: 30px; 
}

.btn.applyCredit {
    background-position: -162px -649px;
    width: 151px;
    height: 25px; 
}

#cart_body .also_buy .btn.addtocart, .compare_popup .btn.addtocart {
    background-position: -105px -109px;
    width: 44px;
    height: 21px; 
    display: block; 
}

.btn.create_act  {
    background-position: 0px -478px;
    width: 225px;
    height: 32px; 
    border: 0;
    margin: 10px 0 0 50px;
}


#prod_body #cart_sec .btn.addtocart, #prod_body #cart_sec .btn.customize, .pzTemplate .pzButton a.addtocart,
.quickView .btn.customize {  /* product detail - detail area  */
    background-position: -222px -203px;
    width: 148px;
    height: 37px; 
    display: inline-block;
    margin-top: 22px;
}

#prod_body #cart_sec .btn.customize_or_add  {
    background-position: 0 -360px;
    width: 186px;
    height: 32px; 
    display: inline-block;
    margin-top: 22px;
}

.btn.addtocart_items {  /* Add Items to Cart   */
    background-position: -184px -254px;
    width: 163px;
    height: 30px; 
    display: inline-block;
}

#search_body .btn.addtocart_items, #filterResults_body .btn.addtocart_items {  /* Add Items to Cart   */
    background-position: -184px -254px;
    width: 163px;
    height: 30px; 
    display: inline-block;
    margin: 8px 0 0 35px;
}

.marketplace .btn.addtocart_items {  /* Add Items to Cart   */
    background-position: -184px -254px;
    width: 163px;
    height: 30px; 
    display: block;
    position: absolute;
    margin: 8px 0 0 480px;

}

#prod_body #cart_sec .btn.customize, .quickView .btn.customize {  /* product detail - detail area  */
    background-position: 0 -304px;
}

ul.prod .btn.addtocart, ul.prod .btn.customize, ul.prod .btn.configure,  table.sellers a.btn.addtocart, a.btn.add_seller {  /* all prod layouts  */
    background: url(images/sprite_btns.png) no-repeat -63px 0;
    width: 68px;
    height: 19px; 
    display: block;
    float: left;
    margin: 3px 0 0 10px;
    border: 0;
}

.list ul.prod .btn.addtocart, .list ul.prod .btn.customize, .list ul.prod .btn.configure {  /* all prod layouts  */
    background: url(images/sprite_btns_main.png) no-repeat -63px 0;
    width: 68px;
    height: 19px; 
    display: block;
    float: left;
    margin: 3px 0 0 10px;
    border: 0;
}

.pzTemplate input.disablePreview {  /* Product Customization Popup  */
    background: url(images/sprite_btns.png) no-repeat -157px -130px;
    width: 97px;
    height: 33px; 
    display: block;
    float: left;
    margin: 3px 0 0 0;
    border: 0;
}

.pzTemplate input.preview {  /* Product Customization Popup  */
    background: url(images/sprite_btns_main.png) no-repeat -185px -606px;
    width: 96px;
    height: 29px; 
    display: block;
    float: left;
    margin: 3px 0 0 0;
    border: 0;
}

ul.prod .btn.customize {   /* all prod layouts  */
    background-position: -141px 0;
    margin-left: 60px;
}

ul.prod .btn.configure {   /* all prod layouts  */
    background-position: -220px 0;
    margin-left: 60px;
}

.alsobuy .btn.addtocart, .alsobuy .btn.customize, .alsobuy .btn.configure {
    background: url(images/sprite_btns.png) no-repeat -63px 0;
    width: 68px;
    height: 19px; 
    margin: -15px 0 0 180px !important;
    border: 0;
}

.alsobuy .btn.customize {
    background-position: -141px 0;
}

.alsobuy .btn.configure {
    background-position: -220px 0;
}

.alsobuy .btn.addtocart {
    background: url(images/sprite_btns.png) no-repeat -63px 0 !important;
    width: 68px;
    height: 19px; 
    margin: -15px 0 0 180px !important;
    border: 0;
}

.list .btn.addtocart, .list .btn.customize, .list .btn.configure {
    background-position: 0px -57px !important;
    width: 138px !important;
    height: 30px !important;
    display: block;
    clear: both;
    position: relative;
    left: -15px;
    top: 10px;
}

.list .btn.customize, .list .btn.configure {
    background-position:0 -520px !important;
    top: 45px;
    left: -65px;
}

.list .btn.configure {
    background-position: -160px -520px !important;
}

.topsell input.btn.addtocart, .topsell  input.btn.configure, .topsell  input.btn.customize, .feaprod input.btn.addtocart, .feaprod  input.btn.configure, .feaprod  input.btn.customize   {
    float: right;
    margin-left: 0;	
}

#home_body ul.prod input.btn.addtocart, #home_body ul.prod input.btn.customize, #home_body ul.prod input.btn.configure {
    margin-left: 0px;
}

.rebates ul.prod .btn.addtocart, .rebates ul.prod .btn.customize, .rebates ul.prod .btn.configure {  /* rebates   */
    background-position: 0 -410px;
    width: 100px;
    height: 25px; 
}

.rebates ul.prod .btn.customize { 
    background-position: -120px -410px;
}

.rebates ul.prod .btn.configure {  
    background-position: -239px -410px;
}

#prod_body #cart_sec .btn.addlist, .btn.simitem {
    text-align: center;
    color: #777;
    background:url(images/arrow_addlist.gif) no-repeat right #f4f4f6;
    background: url(images/arrow_addlist.gif) right no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f6)); /* for webkit browsers  */;
    background: url(images/arrow_addlist.gif) right no-repeat, -moz-linear-gradient(top,  #ffffff,  #f4f4f6); 
    background: url(images/arrow_addlist.gif) right no-repeat, -moz-linear-gradient(top,  #ffffff,  #f4f4f6); /* for firefox 3.6  */;
    background: url(images/arrow_addlist.gif) right no-repeat, -o-linear-gradient(top,  #ffffff,  #f4f4f6);
    border: 1px solid #e2e1e1;
    padding: 4px 20px 4px 10px;
    font-size: 11px ;
    line-height: 11px;
    font-weight: normal;
    text-decoration: none; 
    display: inline-block;
    border-radius: 2px;
    margin-top:30px;
    margin-bottom:15px;
    clear: both;
}

.btn.simitem {background:url(images/arrow_addlist.gif) no-repeat right #f4f4f6;
              background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f6)); /* for webkit browsers  */;
              background: -moz-linear-gradient(top,  #ffffff,  #f4f4f6); 
              background:  -moz-linear-gradient(top,  #ffffff,  #f4f4f6); /* for firefox 3.6  */;
              background:  -o-linear-gradient(top,  #ffffff,  #f4f4f6);text-align:center;width:130px;
              margin:0; font-weight:bold;font-size:12px;padding:0;line-height:25px;height:25px
}

div.simitem {text-align:center}

.btn.addcart_lg {
    background-position: -166px -53px;
    width: 165px;
    height: 35px; 
}

.btn.addcart_med {
    background-position: 0px -110px;
    width: 92px;
    height: 21px; 
}

.btn.addcart_medsm, table.cart .btn.addtocart  {
    background-position: -245px -108px;
    width: 84px;
    height: 22px; 
    display: block;
}

.btn.addcart_sm {
    background-position: -166px -109px;
    width: 65px;
    height: 17px;
}

div.requestQuote {background-color:white;padding-top:35px}

div.requestQuote p {font-size:11px; color:#aaa; margin-top: 8px;}

.btn.requestQuote {
    background: url(images/sprite_btns.png) no-repeat;
    background-position: -2px -219px;
    height: 31px;
    width: 157px;
}

.btn.completeQuote {background-position: -145px -682px; width: 185px; height: 32px;background-color:white;margin:-15px 0 0 25px;}

.btn.continue {
    background-position: 0px -155px;
    width: 140px;
    height: 29px; 
}

.btn.checkout, .viewItems .btn.viewCartBtn {
    background-position: -161px -154px;
    width: 140px;
    height: 29px; 
}

.picgroup .btn.checkout, #pictureGridContainer  .btn.checkout, #mapPrice_prod .btn.checkout {
    background-position: -150px -565px;
    width: 190px;
    height: 30px; 
    display: block;
    clear: right;
    float: right;
    margin: 15px 0 30px;
}

#pictureGridContainer  .btn.checkout {
    margin: 0;
}

#mapPrice_prod .btn.checkout {
    float: left;
    margin: 0 0 0 80px;
}

.btn.complete {
    background-position: -1px -207px;
    width: 196px;
    height: 29px; 
    margin: -15px 0 0 17px;
    background-color: #fff;
}

.btn.account {
    background-position: -1px -255px;
    width: 165px;
    height: 30px;
}

#pictureGridContainer .btn.addtocart {
    background-position: 0 -568px;
    width: 124px;
    height: 27px;	
}

#pictureGridContainer .btn.customize {
    background-position: 0 -647px;
    width: 137px;
    height: 26px;	
}

#pictureGridContainer .addlist {
    background:url(images/sprite_btns.png) -208px -26px;
    width: 87px;
    height: 20px;
}

/* ----------Buttons ------------ */

a.btn_addcart {
    background:url(images/btn_addcart.gif);
    width: 138px;
    height: 31px;
    display: block;
    margin-top: 15px;
}

.prodDetails a.btn_addcart{
    float: right;
    margin: 45px 15px 0 0;
}


a.btn_addcart_sm, input.btn_addcart_sm {
    background:url(images/btn_addcart_sm.gif);
    width: 92px;
    height: 21px;
    margin-left: 10px;
    float: left;
    display: block;
    cursor: pointer;
    border: 0;
}

a.btn_addcart_xsm {
    background:url(images/btn_addcart_xsm.gif) no-repeat;
    width: 65px;
    height: 17px;
    display: block;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}


input.btn_apply_change {
    background:url(images/sprite_btns.png) -2px -182px;
    width: 150px; 
    height: 30px;
    border:none;
    float: left;
    cursor:pointer;
}


a.btn_txt_cancel {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    float: left;
}

a.btn_txt_edit,  a.btn_txt_delete{
    font-size: 13px;
    color: #c00;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    margin: -20px 0 0 25px;
}


.radio_opt{
    clear: both;
}

.radio_opt, .checkbox_opt {
    width: 100%;
    clear: both;
}

.radio_opt label, .radio_opt input, .chkbox_opt label, .chkbox_opt input {
    float: left;
    display: block;
}

.radio_opt label, .chkbox_opt label {
    margin-top: 5px;
    font-size: 11px;
    font-weight: normal;	
    display: block;
    line-height: 13px;
}




/*add selected item to cart 1 */
a.add_sel, a.btn.add_loc, input.btn.add_loc {
    border-radius:4px;
    padding:4px 15px;
    background: #009900;
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00cc00', endColorstr='#009900'); 
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00cc00', endColorstr='#009900'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#00cc00), to(#009900)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #00cc00,  #009900); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #00cc00,  #009900);
    border:1px solid #019101;
    font-weight:bold;
    font-size:12px;
    color:#fff;
    text-decoration:none; 
    display: inline-block;
}

a.btn.add_loc, input.btn.add_loc, a.addsel {
    float: right;
    padding: 2px 10px;
    font-size:11px;
}

a.add_sel {
    float: right;
    padding: 3px 10px;
    font-size:12px;
    margin: 10px 10px 0 5px;
}


/*Green  button  */
a.btn1, button.btn1 {border-radius:5px;outline:none;margin:0px 0px 0px 0px;display:inline-block; filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00cc00', endColorstr='#009900');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00cc00', endColorstr='#009900')";background-image:-moz-linear-gradient(#00cc00, #009900);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00cc00), to(#009900));background-image:-webkit-linear-gradient(#00cc00, #009900);background-image:linear-gradient(top, #00cc00, #009900);background-image:-o-linear-gradient(top, #00cc00, #009900);background-image:-ms-linear-gradient(top, #00cc00, #009900);border:1px solid #009900;color:#fff;text-decoration:none;font-weight:bold;}
a.btn1 span, button.btn1 span {padding:4px 20px;border-radius:5px;display:inline-block;border:1px solid #009900;border-top:1px solid #00cc00}
a.btn1:hover, a.btn1:hover span, a.btn1:visited, button.btn1:hover, button.btn1:hover span, button.btn1:visited {color:#fff;text-decoration:none; background:#00cc00;background:-webkit-gradient(linear, left top, left bottom, from(#009900), to(#00cc00));background:-moz-linear-gradient(top, #009900, #00cc00); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#00cc00')}
.btn1:hover {background:#00cc00;background:-webkit-gradient(linear, left top, left bottom, from(#009900), to(#00cc00));background:-moz-linear-gradient(top, #009900, #00cc00);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#00cc00')}
.btn1:active {background:#00cc00;background:-webkit-gradient(linear, left top, left bottom, from(#009900), to(#00cc00));background:-moz-linear-gradient(top, #00cc00, #00cc00);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#00cc00')}

/* Gray button  */
a.btn2, button.btn2 {border-radius:5px;color: #666;outline:none;margin:0px 0px 0px 0px;display:inline-block;filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fefefe', endColorstr='#f4f4f4');
                     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fefefe', endColorstr='#f4f4f4')";background-image:-moz-linear-gradient(#fefefe, #f4f4f4);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#f4f4f4));background-image:-webkit-linear-gradient(#fefefe, #f4f4f4);background-image:linear-gradient(top, #fefefe, #f4f4f4);background-image:-o-linear-gradient(top, #fefefe, #f4f4f4);background-image:-ms-linear-gradient(top, #fefefe, #f4f4f4);border:1px solid #bfc8d0;font-weight:bold;text-decoration:none}
a.btn2 span, button.btn2 span {padding:4px 20px;border-radius:5px;display:inline-block;border:1px solid #f6f6f6;border-top:1px solid #fefefe}
a.btn2:hover, a.btn2:hover span, a.btn2:visited, button.btn2:hover, button.btn2:hover span, button.btn2:visited {text-decoration:none}

/* Gray buttons small  */
#cart_body .chkout_sec .btns a, #prod_search_layout .search a.btn.back  {
    border-radius:3px;
    padding:3px 5px;
    background: #c4c4c4;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#c4c4c4); 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c4c4)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #ffffff,  #c4c4c4); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #ffffff,  #c4c4c4);
    border:1px solid #b3b3b3;
    font-size:11px;
    color:#333;
    text-decoration:none; 
    display: inline-block;
}

#prod_search_layout .search a.btn.back  {
    padding: 2px 5px;
    line-height: 11px;
    position: absolute;
    margin-left: 6px;
}

/* Gray button Light  */
.bundles .btn.add, .alsobuy .btn.add, #details_mp .btn.mp_options  {
    border-radius:4px;
    padding:5px 10px;
    background: #d0cfcf;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfcfc, endColorstr=#eae9e9); 
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfcfc), to(#eae9e9)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #fdfcfc,  #eae9e9); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #fdfcfc,  #eae9e9);
    border:1px solid #d0cfcf;
    font-weight:bold;
    font-size:11px;
    color:#575757;
    text-decoration:none; 
    display: inline-block;
    cursor: pointer;
    margin-left: 7px;
}

.bundles .btn.add {margin-left:0;} 

#details_mp .btn.mp_options {
    background: #fff;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f1f1f1); 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #ffffff,  #f1f1f1); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #ffffff,  #f1f1f1);
    font-size: 12px;
    margin-left: 23px;
    padding: 4px 12px;
}

.alsobuy .btn.add {
    position: absolute;
    margin: -25px 0 0 180px;	
}

/* Gray button very Light  - blue/gray */

a.btn_act_edit, a.btn_set_default, header .btn.see_all {
    border-radius:4px;
    padding:3px 15px;
    background: #f0f2f6;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f1f3f7); 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f3f7)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #ffffff,  #f1f3f7); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #ffffff,  #f1f3f7);
    border:1px solid #e0e4ec;
    font-weight:bold;
    font-size:11px;
    color:#d60000;
    text-decoration:none; 
    display: inline-block;
    cursor: pointer;
}



header a.btn.see_all{
    font-size: 12px;
    color: #575757;
    padding: 4px 14px !important;
    margin-left: 10px !important;
}

a.btn_set_default{
    padding:3px 15px 3px 25px;
}

.act_edit {
    position: absolute;
    margin: 0 0 0 280px;
    background-color: #fff;
    padding: 0 5px;
    float: left;
}

.act_set {
    margin: 0 0 5px 5px;
    padding: 0 5px;
}

/*Red button  */
a.btn4, button.btn4 {border-radius:5px;outline:none;margin:0px 0px 0px 0px;display:inline-block;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ff3333', endColorstr='#cc0000');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff3333', endColorstr='#cc0000')";background-image:-moz-linear-gradient(#ff3333, #cc0000);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff3333), to(#cc0000));background-image:-webkit-linear-gradient(#ff3333, #cc0000);background-image:linear-gradient(top, #ff3333, #cc0000);background-image:-o-linear-gradient(top, #ff3333, #cc0000);background-image:-ms-linear-gradient(top, #ff3333, #cc0000);border:1px solid #9a3193;font-weight:bold;color:#fff;text-decoration:none}
a.btn4 span, button.btn4 span {padding:4px 20px;display:inline-block;border:1px solid #cc0000;border-top:1px solid #ff0000}
a.btn4:hover, a.btn4:hover span, a.btn4:visited, button.btn4:hover, button.btn4:hover span, button.btn4:visited {color:#fff;text-decoration:none}/* Orage Light button 6 */


/* orange button - med */
a.btn7, a.btn_print_confirm, a.btn_sel_loc{
    border-radius:4px;
    font-size:13px;
    text-decoration:none !important;
    float: right; 
    margin-top: -3px;
}

a.btn_sel_loc{
    float: left;
    margin: 10px; 
}

/*Orange button  */
a.btn6, button.btn6{border-radius:3px; outline:none;margin:0px 0px 0px 0px;display:inline-block;text-shadow:-1px -1px #ca9d28;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3ba0b', endColorstr='#ed9d08');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3ba0b', endColorstr='#ed9d08')";background-image:-moz-linear-gradient(#f3ba0b, #ed9d08);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3ba0b), to(#ed9d08));background-image:-webkit-linear-gradient(#f3ba0b, #ed9d08);background-image:linear-gradient(top, #f3ba0b, #ed9d08);background-image:-o-linear-gradient(top, #f3ba0b, #ed9d08);background-image:-ms-linear-gradient(top, #f3ba0b, #ed9d08);border:1px solid #d98106;font-weight:bold;color:#fff;text-decoration:none}
input.btn6{border-radius:3px; outline:none;margin:0px 0px 0px 0px;display:inline-block;text-shadow:-1px -1px #ca9d28;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3ba0b', endColorstr='#ed9d08');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3ba0b', endColorstr='#ed9d08')";background-image:-moz-linear-gradient(#f3ba0b, #ed9d08);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3ba0b), to(#ed9d08));background-image:-webkit-linear-gradient(#f3ba0b, #ed9d08);background-image:linear-gradient(top, #f3ba0b, #ed9d08);background-image:-o-linear-gradient(top, #f3ba0b, #ed9d08);background-image:-ms-linear-gradient(top, #f3ba0b, #ed9d08);border:1px solid #d98106;font-weight:bold;color:#fff;text-decoration:none; cursor:pointer;}
a.btn6 span, button.btn6 span {padding:4px 20px;display:inline-block;border:1px solid #f4c20b;border-top:1px solid #f8d910}
a.btn6:hover, a.btn6:hover span, a.btn6:visited, button.btn6:hover, button.btn6:hover span, button.btn6:visited {color:#fff;text-decoration:none} 
button.btn6:hover,a.btn6:hover{background:#eb3;background:-webkit-gradient(linear,left top,left bottom,from(#eb3),to(#d81));background:-moz-linear-gradient(top,#eb3,#d81);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eebb33',endColorstr='#dd8811')}
button.btn6:active,a.btn6:active{background:#eb3;background:-webkit-gradient(linear,left top,left bottom,from(#d81),to(#eb3));background:-moz-linear-gradient(top,#d81,#eb3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd8811',endColorstr='#eebb33')}




/* orange button - small  */
a.btn_buy_sm{
    border-radius:3px;
    padding:3px 8px;
    background: #009900;
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00cc00', endColorstr='#009900'); 
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00cc00', endColorstr='#009900'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#00cc00), to(#009900)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #00cc00,  #009900); /* for firefox 3.6  */
    background: -o-linear-gradient(top,  #00cc00,  #009900);
    border:1px solid #008800;
    font-weight:bold;
    font-size:11px;
    line-height: 11px;
    color:#fff;
    text-decoration:none; 
    display: inline-block;
}

#leftnav ul#subnav a.btn.remove {
    background:url(images/sprite_prod.png) -182px -240px no-repeat;
    width: 16px;
    height: 17px;
    cursor: pointer;
}

ul.prod a.btn.remove {
    background:url(images/sprite_prod.png) -184px -115px no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
    display: block;
}

.compare_items a.btn {
    display:none;
    background:url(images/sprite_prod.png) -184px -115px no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position:absolute;
    z-index:2;
    margin-top:-5px;
    margin-left:25px
}

ul.prod a.btn.remove {
    margin: -3px -13px 0 0;
}

#account_body a.btn.edit {
    background:url(images/ico_act_edit.png) no-repeat;
    padding-left: 20px;
    font-size: 12px;
    color: #004490;
    text-decoration: underline;	
    text-align: left;
    margin-left: 170px;
    display: inline-block;
}

.ship_info a.btn.remove, #account_body #actinfo_manage a.btn.delete {
    background:url(images/sprite_prod.png) no-repeat;
    background-position: -210px -115px;
    height: 12px;
    cursor: pointer;
    float: right;
    display: inline-block;
    padding-left: 20px;
    font-size: 11px;
    text-decoration: underline;
    color: #c00;
    line-height: 11px;
    margin-top: 10px;
}

#account_body #actinfo_manage a.btn.delete { 
    float: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}

#account_body a.btn.default {
    background:url(images/ico_set_default.png) no-repeat;
    padding-left: 20px;
    font-size: 12px;
    color: #000;
    text-decoration: underline;	
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}
a.btn_print_compare {
    background:url(images/btn_print_compare.png);
    width: 167px;
    height: 49px;
    display: block;
    float: left;
    margin-top: 10px;	
}


a.btn_email_compare {
    background:url(images/btn_email_compare.png);
    width: 153px;
    height: 49px;
    display: block;
    float: left;
    margin: 10px 0 0 60px;	
}


a.prod_add_cart_sm {
    border: 0;
    background:url(images/btn_addtocart_sm.gif) no-repeat;
    width: 65px;
    height: 17px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    float: left;
}


a.btn_addcart_lg, input.btn_addcart_lg {
    border: 0;
    background:url(images/btn_prod_addcart.gif) no-repeat;
    width: 165px;
    height: 35px;
    display: block;
    margin: 0 auto 10px auto;
    cursor: pointer;
    clear: both;
}

a.btn_savelist_lg, input.btn_savelist_lg  {
    border: 0;
    background:url(images/btn_prod_addlist.gif) no-repeat;
    width: 168px;
    height: 30px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

a.btn_write_review {
    background:url(images/btn_write_review.png);
    width: 145px;
    height: 35px;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: -10px;
}

a#btn_return_cat {
    background:url(images/btn_return_cat.gif) no-repeat;
    width: 135px;
    cursor: pointer;
    padding: 4px 25px;	
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 18px 10px 0 0;
    float: left;
}


/* checkout buttons */

.btn.change {
    background: url(images/btn_change.gif);
    width: 57px;
    height: 16px;
    float: right;
    display: block;
    margin-right: 0 !important;
}


@media screen and (min-width: 1300px)  { /* for larger screens - bigger than 1000px  - size made for 1300px */

    #search_body .btn.addtocart_items, #filterResults_body .btn.addtocart_items {
        float: right;
        margin-right: 10px;
    }

    .marketplace .btn.addtocart_items {  /* Add Items to Cart   */
        margin: 8px 0 0 750px;

    }

    #picgroup_body .accessories  ul.prod li .btn.addtocart {
        margin-left: 20px;	
    }

    #picgroup_body .accessories  ul.prod li .btn.customize, #picgroup_body  .accessories  ul.prod li .btn.configure {
        margin-left: 110px;
    }

}

