.discounts {
    width: 100%;
	margin-bottom: 30px;
}

.discounts .hdr {
    background-color: #d70005;	
	color: #fff !important;
	display: inline-block;
	border-top-left-radius: 3px;
	padding: 5px 10px !important;
	margin: -25px 0 0 !important;
	font-size: 14px !important;
	font-weight: bold;
	float: right;
}

.discounts ul {
	border: 1px solid #d70005;
	padding: 7px;
}

.discounts ul li {
	background: url(images/ico_dollars.gif) no-repeat;
	padding: 5px 10px 5px 40px;
}

.discounts ul li p {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
	line-height: 130%;
	padding-bottom: 7px;
}

.discounts ul li:last-child p {
	border-bottom: none;
	padding-bottom: 0;
}

.discounts ul li span {
	color: #46af02;
	font-weight: bold;
	font-size: 14px;
}

.ext_info {
  width: 670px;
}

.rebate, .flatbed {
   font-size: 10px;
   margin-top: 7px;
}

.flatbed {
   font-weight: bold;
   color: #454545;
}

.rebate {
   background:url(images/asterisk.gif) no-repeat;
   padding-left: 16px;
   width: 520px;
   color: #333
}

.note {
   color: #900;
   font-size: 11px;
   margin-top: 7px;
   clear: both;
}

.rebate a{
   font-size: 10px !important;
   text-decoration: underline;
}

.pz {
   margin: 5px 0 20px;
   color: #333;
   font-weight: bold;
   padding: 7px 3px;
   background-color: #f5f5f5;
   width: 650px;
}

.pz a {
   text-decoration: underline;
   font-weight: normal;	
   color: #454545 !important;   
   font-size: 12px !important; 
   background-color: #f5f5f5;  
}

.pz span {
   color: #333;
   font-weight: normal;
   float: right;   
   margin-right: 180px;
}

#save_later .pz span {
   color: #900;
   font-weight: normal;
   float: right;   
   margin-right: 40px;
}

.pz dl {
   display: table;
   width: 280px;
   color: #333;
   margin: 5px 0 0 20px;    
}

.pz dt, .pz dd  {
	float: left;
	width: 100px;
	margin-right: 20px;
	line-height: 18px;
}

.pz .hdr {
    font-size: 12px !important;
	color: #032b51 !important;
	font-weight: bold;
	padding: 0 0 2px 0 !important;
	margin: 0 20px 0 0 !important;
	border-bottom: 1px dashed #333;	
}

.dim {
   color: #555;	
   margin: 6px 0;
}


.dim span{
   padding: 0 5px 0 15px;
   font-weight: bold;   
   color: #555 !important;	
}

.dim label {
   font-weight: bold;
   margin-right: 5px;   
   color: #555 !important;	
}

.dim input {
   width: 20px;
   margin-right: 5px;
}

.dim label:nth-child(2) {
   margin-left: 15px;
}

#shopcart, #save_later  {
   display: table;
   padding-bottom: 30px;
   border-bottom: 1px solid #021a30; 
   margin-bottom: 10px;	
}

#shopcart .hdr, #multiship .hdr {
   color: #8e0000;
   font-size: 20px;
   line-height: 16px;
   padding: 10px 15px 20px;   	
}

#shopcart .hdr {
   margin-top: 25px;	
   padding-left:5px; 
}

#shopcart .hdr span {
   color: #666;
   font-size: 13px;	
}

#shopcart .hdr span a {
   color: #0b7599;
   text-decoration: underline;	
   font-size: 13px;	
}

#floatcart  {
   width: 360px;	
   position: absolute;
   top: 34px;
   right: 1px;
   z-index: 1000;
   background-color: #fff;
   display: none;
   border: 3px solid #dc0006;
}

#floatcart .hdr{
   text-align: center;
   padding: 10px;
   background-color: #f3f3f3;
}

#floatcart table.cart {
   margin-left: 5px;
   width: 355px;
   float: none;
}

#floatcart  table.cart tbody tr td:first-child, #floatcart table.cart tbody tr.warranty td .info {
   width: 340px;	
}

#floatcart table.cart tr td .prod_img {
   padding-left: 5px;	
}

#floatcart table.cart tr td a.title{
   color: #333;
   line-height: 12px;
   text-decoration: underline;
   font-size: 11px;
   width: 180px;
   display: block;  
   float: left;
   margin-left: 5px; 
}

#floatcart .qty_update {
  margin-top: -20px;	
}

#floatcart .btns .delete, #floatcart .warranty a.delete {
   position: absolute;
   margin: -90px 0 0 300px;
   background: url(images/btn_floatcart_delete.gif)  no-repeat top center;
   height: 13px;
   display: block;
   font-size: 10px;
   color: #aa0100;
   padding-top: 11px;
   text-align: center;
   text-decoration: none;
}

#floatcart .warranty a.delete {
   margin: 0 0 0 300px !important;
}

#floatcart a.update{
   font-size: 10px;
   text-decoration: underline;
   display: inline;
   margin-left: 10px;
}

#floatcart .warranty .repl_1yr {
	padding-right: 10px;
}

#floatcart .cart_btns {
  text-align: center;
  margin-bottom: 15px;
}

#floatcart .cart_btns a {
   text-decoration: none;
   padding: 0 10px;
   border-right: 1px solid #555;
   color: #555;
}

#floatcart .cart_btns a:hover {
   text-decoration: underline;
}

#floatcart .cart_btns a.btn.checkout {
   display: block;
   margin: 15px auto;
   padding: 0;
   border-right: none;
}

#floatcart .cart_btns a:first-child, #floatcart .cart_btns a:last-child {
   border-right: none;
}


#cart_body .qty_update, #floatcart .qty_update , #checkout_body .qty_update{
   width: 30px;	
}

table.cart {
   width: 760px;
   margin-left: 20px; 
   float: left;
   margin-left:5px;   	
}

table.cart thead tr td {
   color: #0f6584;
   font-weight: bold;
   margin: 0;
   padding: 0 0 10px;
   border-bottom: 1px solid #00526e;
}

table.cart thead tr td:first-child{
   width: 400px;	
}

table.cart tbody tr td {
   padding-top: 10px;
   color: #666;
   line-height: 14px;
   text-decoration: none;
   font-size: 12px;	
   vertical-align: top;
}

table.cart tbody tr td {
   border-bottom: 1px solid #d4e2e7;
}

table.cart tr td a.title {
   color: #333;
   font-size: 12px;
   display: block; 
   margin-bottom: 3px; 
}

table.cart tbody tr td div.prod_img {
   float: left;
   margin: 0 5px 0 0;
   padding: 0;
   width: 75px;
   height:75px;
}

table.cart tbody tr td div.prod_img img {
   width: 75px;
   height: 75px;
}

#summary_confirm table.cart tbody tr td div.prod_img img {
   width: 75px;
   height: 75px;
}

table.cart tbody tr td div.item_desc {
   float: left;
   width: 75%;
}

table.cart tbody tr td div.btns {
   clear: both;
   padding: 17px 0 10px;
}

table.cart tbody tr.warranty td div.btns {
   clear: both;
   padding: 0 0 10px;
   margin-left: 20px;
}

table.cart tbody tr td div.btns a {
   padding: 0 7px;
   border-left: 1px solid #777;
   text-decoration: underline;
}

table.cart tbody tr td a.update {
   display: block;
   margin-top: 5px;	
}

table.cart tbody tr td  div.btns a.delete {
   padding-left: 0;
   border-left: none;
}

div.cart_items ul li div.btns {
   clear: both;
}

table.cart tbody tr td  a {
   font-size: 11px;
   color: #00668A;	
}

table.cart tbody tr td:first-child  {
   width: 400px; 
   float: left;	
}

table.cart tbody tr td a.addons, table.cart tbody tr td a.addons_none {
	background: url(images/cart_addons.png) no-repeat top center;
	font-weight: bold;	
	text-align: center;
	color: #00688d;
	width: 80px;
	display: block;
	padding-top: 60px;
	margin: -5px 0 0 -15px;
}

table.cart tbody tr td a.addons_none {
	background: url(images/cart_addons_none.png) no-repeat top center;
	color: #ccc;
}

.auto_reorder {
	margin-top: 10px;
	background-color: #fdfeec;
	padding: 7px;
}

.auto_reorder div {
   clear: both;
   padding-top: 5px;
}

.auto_reorder label{
	padding: 2px 0 0 5px;
}

.auto_reorder label, .auto_reorder input, .auto_reorder select {
    font-size: 10px;
	color: #666;
	float: left;
}

.auto_reorder select {
	margin: 0 2px 0 10px;
	padding: 0;
}

.auto_reorder a {
	padding: 10px 0 0 5px;
}

.auto_reorder a img{
	width: 14px;
	height: 14px;
}

a.add_warranty {
	display: block;
	margin: 8px 0;
	padding: 3px 0 3px 28px;
    font-size: 12px;
	color: #01445b !important;
	font-weight: bold;
	background:url(images/ico_warranty.png) left no-repeat;
}

a:hover.add_warranty {
	text-decoration: underline;
}

a.add_warranty span {
	color: #c00;
}

#cart_body .chkout_sec {
    width: 220px;
    float: right;
	background-color: #f7f7f7;	
	text-align: center;
	margin-left:15px;
}

#cart_body .chkout_sec .btns {
	background-color: #fff;
	padding-bottom: 15px;	
}

#cart_body chkout_sec .btns a{
    margin-right: 7px;	
}

#cart_body .chkout_sec .subtotal {
    margin: 10px;
	background-color: #fff;	
	font-weight: bold;
	color: #0b7599;	
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
}

#cart_body .chkout_sec .subtotal .price {
	color: #900;	
	font-size: 20px;
	line-height: 22px;
}

#cart_body a.btn.shipping {
	font-size: 11px !important;
	color: #007daa;
	text-decoration: underline;
}

#cart_body .btn.checkout {
    margin: 20px auto;    
}

#cart_body .paypal_checkout {
	padding: 10px 0;
    clear: both;	
    background-color: #fff;
   line-height: 13px;
}



/* cart page - btm section */

.cart_btm {
   clear: both;
   display: table;	
}

.savelater_cartinfo {
   float: left;
   width: 780px;	
}

.cart_info  {
   width: 750px;
   padding: 15px;
}

.cart_info p {
   font-size: 12px;
   color: #555;
   line-height: 110%;
   margin-bottom: 20px;	
}

.cart_info .asterisk {
    font-size: 18px;
	line-height: 12px;
	color: #c00;
	font-weight: bold;	
}

.cart_info .hdr {
   font-size: 13px !important;
   color: #333 !important;
   margin: 0 0 5px !important;
   padding: 0 !important;
   line-height: 112%;
}

.cart_info ul  {
    border: 1px dotted #c2d7de;
	padding: 10px;
	width: 210px;
}

.cart_info ul li {
   color: #555;
   background: url(images/arrow_blue.gif) no-repeat;
   padding-left: 10px;
   margin-bottom: 3px;
}

.cart_info p a {
   color: #0b7499;
   text-decoration: underline;
}

#cart_body .recent_view {
	width: 200px;
	float: left;
	margin: 30px 0 0 15px;
}

#cart_body .recent_view .hdr, #cart_body .recent_view .hdr p {
	color: #016386 !important;
	font-size: 15px !important;
	margin-bottom: 10px !important;
}

#save_later  {
    padding-top: 20px; 
}

#save_later .hdr {
    color: #007daa;
    font-size: 20px;
    padding: 10px 15px 15px;   	
}

#save_later table.cart tbody tr td div.btns a.delete {
    padding-left: 20px;
    text-decoration: underline;
}

#save_later table.cart tbody tr.warranty td div.btns a.delete {
    padding-left: 0 !important;
}

#save_later table.cart thead tr {
    background-color: #edf5f8;
    width: 600px;	
}

#save_later table.cart thead tr td:first-child {
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 7px 0;
}

save_later table.cart thead tr td:first-child {
    width: 500px;	
}

#save_later table.cart tbody tr td:first-child {
   width: 500px;
}

#save_later table.cart thead tr td:nth-child(2), #save_later table.cart thead tr td:nth-child(3) {
    background-color: #edf5f8;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	padding: 7px 0;
}

#save_later table.cart tbody tr td:nth-child(2){
   text-align: center;
}

#save_later table.cart tbody tr td:nth-child(3){
   color: #8e0000;	
   text-align: center;
}

#save_later table.cart a.btn.addtocart {
	margin: 70px auto 0;
}

.also_buy {
	margin: 15px;
	margin-bottom: 20px;
}

.also_buy .hdr p{
    color: #333;
    font-size: 15px;
    padding: 10px 15px;
}

table.cart p.shipping {
    width: 650px;
	background-color: #f5fdf1 !important;
	padding: 7px 0 !important;
}

table.cart .soldby {
    padding-bottom: 3px;	
}

.ext_order_info {
    line-height: 18px;
    background-color: #f2f6f8 !important;
    border: 1px dotted #b7d5e0;	
    width: 635px;
    padding: 0;
	margin: 5px 0;	
	display: table;
}

.track_order {
	float: left;
	padding: 5px;
}

.track_order span {
   	font-weight: bold;
	width: 140px;
	display: inline-block;
}

.return_order {
	float: left;
	margin: 0 0 0 155px !important;
	padding: 0 !important;
	position: relative;
	z-index: 10;
}

.return_order .hdr {
	width: 150px;
	padding: 3px 8px;
	text-align: right;
    position: absolute;
	z-index: 5;
	border-top: 1px solid #f2f6f8;
	border-left: 1px solid #f2f6f8;
	border-right: 1px solid #f2f6f8;
	border-bottom: 1px solid #fff;
}

.return_order .return_sel {
	background-color: #fff;	
	border-top: 1px solid #096d8f;
	border-left: 1px solid #096d8f;
	border-right: 1px solid #096d8f;
	border-bottom: 1px solid #fff;
}

.return_order .options {
	z-index: 2;
    position: absolute;
	width: 300px;
	margin: 28px 0 0 -165px;
	height: 80px;
	padding: 20px;
    display: none;
	background-color: #fff;	
	border: 1px solid #096d8f;
}

.return_order .hdr label{
	color: #096d8f;
	font-weight: bold;
	font-size: 14px;
	padding-right: 10px;
}

.return_order .hdr input{
	margin-right: 10px;
}

.return_order .options select {
    margin-bottom: 10px;
}

.return_order .options label, .return_order .options label a {
    font-size: 13px;
}

.return_order .options input {
    margin-right: 7px;
}

.return_order .options span {
   color: #b00;
   font-weight: bold;
   font-size: 13px;	
   padding-left: 10px;
}

.return_order .options .process {
   margin-top: 15px;	
}

/* css for calcualte shipping section */
#enterzip {
	display:none;
	margin-top: 20px;
    padding-top: 10px;
	padding-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	background-color:white;
}

#enterzip input {margin-left:10px;}
#enterzip input:disabled {border:none;}
#enterzip div.hide {display:none}
#enterzip div.error{height:auto;font-size:10px;text-align:left;width:80%}
#enterzip div.error_icon {margin-top:0}
#enterzip span {font-weight:bold;}
#enterzip p {font-weight:bold; margin-top:10px;margin-bottom:15px;}
#enterzip span.zip {font-weight:normal;color:#333}
#totalzip {display:none;}
#enterzip #totalzip, #enterzip #totalzip div {height:auto;}
#enterzip div a {
	font-weight:bold; 
	background-color:#007dab;
	color:white;
	border-radius:3px;
	padding:3px 8px;
}
#shipEst { margin-top:10px;}
#shipEst div {font-weight:bold;margin-bottom:10px}
#shipEst div span {font-weight:normal }
#shipEst p {color:#900;margin-bottom:10px}
#shipEst div:last-child,
#shipEst div:last-child span {font-weight:bold;font-size:17px;}
#enterzip select {
	border: 1px solid #ccc;
    box-shadow: 0 20px 15px -20px #D6D6D6 inset;
    color: #555555;
    outline: medium none;
    padding: 4px;
	margin-left:10px;
	margin-top:10px;
}

/* css for Returns section Accounts */
.return_label_print { text-align:right; padding-right:5px;}
.return_label_print a.btn.highlight { margin:0; position:relative;}
.return_label_print .rmaDetails { font-weight:bold;}
.return_label_details  { float:left; padding-left:80px;}
.return_label_details .hdr { margin:0 0 5px !important; padding:0 !important;}
.return_label_details .subDetails {padding:0 0 3px 0;}
.return_label_details .rtnPhone {font-size: 18px; color: #000; font-weight: bold;}
.return_label_details .rtnTicket {font-weight: bold; padding-top:2px;}
#summary_confirm table.cart td:nth-child(4) input.cartQty { display:block; width:30px; margin:0 0 0 10px;}
#summary_confirm table.cart td:nth-child(4) a.cartQty { display:block;}



/* css for Empty Cart */
.emptycart { border-bottom:none !important;}
.emptyText { text-align:center; font-size: 20px; padding: 30px 0 20px 120px;}
.emptyBtn {text-align:center; padding: 10px 0 20px 125px; }
.emptyBtn  a.update {width:122px; margin:0 auto;}

/* css for Saved Cart */
#save_later .subhdr {font-size:14px; font-weight:bold;padding: 10px 20px 15px;}
#save_later .savedInfo  {font-size:12px; font-weight:bold;padding: 10px 20px 15px; color:#990000;}
#save_later .savedBtn  { text-align:center; padding-top:15px;}
table.savedCart { width: 760px; margin: 0 0 20px 20px;  float: left;}
table.savedCart thead tr { background-color: #edf5f8; width: 600px;}
table.savedCart thead tr td {color: #0f6584;font-weight: bold;margin: 0;padding:10px 5px;border-bottom: 1px solid #d4e2e7;}
table.savedCart thead tr td:first-child { width:10px;}
table.savedCart tbody tr td { border-bottom: 1px solid #d4e2e7; color: #333;font-size: 12px; margin-bottom: 3px; padding:5px 5px 10px;}
table.savedCart tbody tr td a{ text-decoration:underline; font-weight:bold;}
table.savedCart tbody tr td a.remove {color: #a00;font-size: 11px;text-decoration: underline;background: url(images/ico_remove.png) no-repeat;display: inline-block; width:15px; height:18px; margin:0 !important;}



