#checkout_body {
	color: #333;
	font-size: 12px;
	padding-top:20px; /* fix with -40px which in in footer -copyright */
}

.checkout_steps {
   width: 390px; 
   margin: 0 auto;
   height: 55px;
}

.checkout_step1_sel { 
	background:url(images/checkout_step1_sel.gif) no-repeat 0 0;
	width: 78px;
	height: 27px;
	float: left;
}

.checkout_step2 {
	background:url(images/checkout_step2.gif) no-repeat 0 0;
	width: 164px;
	height: 27px;
	float: left;
}

.checkout_step2_sel {
	background:url(images/checkout_step2_sel.gif) no-repeat 0 0;
	width: 164px;
	height: 27px;
	float: left;
}

.checkout_step3 {
	background:url(images/checkout_step3.gif) no-repeat 0 0;
	width: 148px;
	height: 27px;
	float: left;
}

.checkout_step3_sel {
	background:url(images/checkout_step3_sel.gif) no-repeat 0 0;
	width: 148px;
	height: 27px;
	float: left;
}

.checkout_quote_step2 {
	background:url(images/quote_step2.gif) no-repeat 0 0;
	width: 164px;
	height: 27px;
	float: left;
}

.checkout_quote_step2_sel {
	background:url(images/quote_step2_sel.gif) no-repeat 0 0;
	width: 164px;
	height: 27px;
	float: left;
}

.checkout_quote_step3 {
	background:url(images/quote_step3.gif) no-repeat 0 0;
	width: 148px;
	height: 27px;
	float: left;
}

.checkout_quote_step3_sel {
	background:url(images/quote_step3_sel.gif) no-repeat 0 0;
	width: 148px;
	height: 27px;
	float: left;
}


.login  {
   clear: both;
   display: table;
   width: 980px;
}

.login .error_sec {
	background: none;
	margin-left:45px;
}

.login .hdr {
   text-align: center;
   color: #025b7c;
   font-size: 24px !important;
   letter-spacing: -1px !important;
   margin: 30px 0 50px !important;
}

.login .bdr {
	margin-left: 50px; 
	background: #fff; 
	padding: 5px;  
	width: 400px; 
	float: left;
	border-radius: 3px;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dfe6f3, endColorstr=#ffffff); 
    background: -webkit-gradient(linear, left top, left bottom, from(#dfe6f3), to(#ffffff)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #dfe6f3,  #ffffff); /* for firefox 3.6  */
	background: -o-linear-gradient(top,  #dfe6f3,  #ffffff);
	margin-bottom: 20px;
}

.login .sec {
   background-color:#fff;
   display: table;
   width: 380px; 
   height: 150px;
   padding-left: 20px;
}

#checkout_body a.btn.continue{
	float: right;
	margin-right: 30px;
}

/*#checkout_body #signinContinueCheckout a.btn.continue{
	float: right;
	margin-right: 30px;
}*/

#billing_zipErrorIcon img, #shipping_zipErrorIcon img {vertical-align:bottom;}
#billing_zipErrorIcon, #shipping_zipErrorIcon{display:none}
#signinContinueCheckout a.btn.continue{margin-right: 230px;}

/* temp fixes until next bld  - as of date 6-9-2014*/

#checkout_body .login a.btn.continue {
	clear: both;
    float: none;
    margin: 30px 0 0 420px;
	display: block;
}

.login .sec .hdr {
   color: #333 !important;
   font-weight: bold !important;
   font-size: 18px !important;
   line-height: 18px;
   margin: -15px 0 15px 10px !important;
   text-align: left !important;
}

.login .sec .hdr span {
   background-color: #fff;
   padding: 0 10px;
   margin-top: 5px;
}



/* forms */

.req {
	font-size: 14px; 
	line-height: 10px; 
	font-weight: bold; 
	color: #f00 !important;
}

.form, .form_2col {
    color: #333;
	width: 100%;
}

#checkout_body .form .hdr, #checkout_body .payments .hdr  {
    float: none;
	margin: 0 0 5px;
	padding:  0 0 5px;
	width: 88%;
	text-align: left;
	border-bottom: 4px solid #004a62;
	color: #004a62;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;
}


#checkout_body .payments .hdr {
	margin-left: 5px;
	width: 98%;
	line-height:normal;
}

#checkout_body .payments {
	width: 98%;
	display:table;
	clear: both;
	padding-top: 40px;
	margin-bottom:30px;
}

#checkout_body .btns {
	border-bottom: 1px solid #004a62; 
	/*width: 97%;*/
	margin-left: -5px;
	height: 50px;
}

.form div {
   float: left;
   width: 220px;
}

.form br {
    clear: both;
}

.form label, .form_2col label{
    font-weight: bold;
	display: block;
	font-size: 12px;
	margin: 12px 0 4px 0;
	line-height: 20px;
}

.form_2col label {
    float: left;
	width: 35%;
	margin-top: 12px;
	padding: 0;
	display: inline; 
	line-height: 14px;
}

.form_2col label.ext {
    width: auto;
	font-weight: normal;
	padding-right: 5px;
}

.form_2col input.ext {
	width: 45px !important;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
	margin-right: 10px;
}

.form_2col label.on2lines{
	margin-top: 4px;
}

.form input[type="text"], .form select, .form_2col input, .form_2col select, .form_2col input.act_info, .form_2col input.act_info_edit{
	width: 410px;
	display: block;
	font-size: 14px;
	border:1px solid #ccc;
	padding: 4px;
	margin: 0 0 5px 0;
}

.form_2col input.act_info {
	border:1px solid #fff;
	width: 240px;
}

.form_2col input.act_info_edit{
	border:1px solid #ccc;
	width: 240px;
}

.form_2col span.data{
	display: block;
	font-size: 12px;
	float: left;
	margin: 12px 0 0 8px;
}

.form_2col input[type="text"], .form_2col input[type="email"], .form_2col input[type="password"], .form_2col select{
	float: left;
	width: 65%;
	margin-top: 3px;
	width: 240px;
}

.form_2col input[type="checkbox"] {
	float: left;
	margin-top: 3px;
	width:10px;
}

.form_2col input.ckbox_2col{
	float: left;
	width: auto;
	border: 0;
	margin-top: 12px;
	padding: 0;
}

#actinfo_emailPref.form_2col fieldset {
     margin: 15px 0 35px;
	 border-bottom: 1px dotted #ccc;	
}

#actinfo_emailPref.form_2col fieldset legend {
     padding-bottom: 10px;	
	 font-size: 14px;
	 font-weight: bold;
	 color: #333;
}

#actinfo_emailPref.form_2col fieldset legend span{
     padding-bottom: 10px;	
	 font-size: 12px;
	 font-weight: normal;
}

#actinfo_emailPref.form_2col input[type="radio"], #actinfo_emailPref.form_2col input[type="checkbox"]  {
	 border: 0;
	 display: inline-block;
  	 width: 20px;
	 float: left;
}

#actinfo_emailPref.form_2col label  {
	 float: none;
	 font-size: 13px;
	 display: inline-block;
	 font-weight: normal;
	 margin-top: 3px;
	 float: left;
	 color: #333;
}

#actinfo_emailPref.form_2col br  {
	clear: both;
}

.form input.sm, .form select.sm, .form_2col input.sm, .form_2col select.sm { 
	width: 180px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
}

.form_2col label.sm, .form_2col label.xsm{
    float: left;
	margin: 12px 0 0 0;
	font-weight: bold;
	width: 80px;
	line-height: 14px;
	white-space: nowrap;
}

.hidelabel {
	float: left !important;
	display: none !important;
}

.form_2col label.xsm{
	width: 35px;
	float: left;
	white-space: nowrap;
}


.form input.smsm, .form select.smsm, .form_2col input.smsm, .form_2col select.smsm, .form_2col input.lg, .form_2col select.lg{
	width: 100px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
	margin-right: 10px;
	float: left;
}

.form input.xsm, .form_2col input.xsm {
	width: 30px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
	margin-right: 10px;
}

.form select.xsm, .form_2col select.xsm{
	width: 60px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
	margin-right: 10px;
}


.form_2col input.lg{
	width: 390px;
}


.form_2col select.lg{
	width: 400px;
}

.form br, .form_2col br {
    clear: both;
}

.form_2col .info,  .form_2col .note{
    margin-left: 140px;
	font-size: 11px;
	font-weight: normal;
	color: #454545;
	clear: both;
}

.form_2col .note{
	color: #c00;
}


.form input.sm{
	width: 190px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
}


.form div.chkbox {
	clear: both;
	padding: 0;
	margin: 10px 0 5px 0;
	width: 100%;
}

.form div.chkbox label{
	display: block;
	padding: 2px 0 0 0; 
	margin: 0;
	line-height: 14px;
	float: left;
	width: 85%; 
}

.form div.chkbox label span.normal{
	font-weight: normal;
}

.form div.chkbox label.sm{
    float: left; 
	font-size:11px; 
	line-height:12px; 
	width:85%; 
	padding: 2px 0 0 0; 
	margin: 0; 
	font-weight: normal;
	display: block;
}

.form div.chkbox input{
	 display: block;
	 float: left;
	 width: 20px;
	 border: 0;
	 padding: 4px 0 0 0;
	 margin: 0;
}

.form div.chkbox_sm {
	clear: both;
	padding: 0;
	margin: 3px 0 3px 15px;
	width: 90%;
}

.form div.chkbox_sm input{
	margin: 0;
	padding: 0;
	width: 15px;
	float: left;
	border: 0;
}

.form div.chkbox_sm label{
	float: left;
	margin: 2px 0 0 10px;
	padding: 0;
	font-weight: normal;
	font-size: 11px;
	line-height: 12px;
}

.form div.chkbox_med {
	clear: both;
	padding: 5px;
	margin: 3px 0 3px 5px;
	width: 95%;
}

.form div.chkbox_med input{
	margin: 0;
	padding: 0;
	width: 15px;
	float: left;
	border: 0;
}

.form div.chkbox_med label{
	float: left;
	margin: 2px 0 0 10px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}


.act {
	width: 93%;
	padding: 12px;
	border: 1px solid #004a62;
	height: 28px;
}

.act_create {
	padding: 40px 0 5px 0;
	font-weight: bold;
	clear: both;
}

.act_create span{
	font-size: 11px;
	color: #545454;
	font-weight: normal;
}

.act label{
	float: left;
	margin: 3px 5px 4px 0;
}

.act input, .act select{
	float: left;
	margin-right: 25px;
}

.act input.sm, .act select.sm{
	width: 190px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
}



/* password start  */

.pw_none {
   background:url(images/pw_none.gif) no-repeat 0 0;
   width: 101px; 
   height: 19px;
   margin: 0 10px;
}

.pw_weak {
   background:url(images/pw_weak.gif) no-repeat 0 0;
   width: 101px; 
   height: 19px;
   margin: 0 10px;
}

.pw_good {
   background:url(images/pw_good.gif) no-repeat 0 0;
   width: 101px; 
   height: 19px;
   margin: 0 10px;
}

.pw_strong {
   background:url(images/pw_strong.gif) no-repeat 0 0;
   width: 101px; 
   height: 19px;
   margin: 0 10px;
}

a.forgot_pw {
    padding-left: 135px;
	font-size: 11px;
	color: #00467b;
	text-decoration: underline;	
}

.paypal_login {
    width: 1000px;
	margin-bottom: 30px;
	padding: 10px;
}

.paypal_login .hdr {
    font-size: 15px;
	margin: 5px 0 0 10px;
	color: #036877;	
}

 .paypal_create_act {
	margin-bottom: 30px;
 }

.paypal_buisnessType {
	padding-bottom:10px; 
	font-weight:bold; 
	font-size:14px; 
	}

 .paypal_create_act .hdr{
    font-size: 14px;
	color: #444;
	margin-bottom: 5px;
	border-bottom: 1px dotted #999;	
} 

.paypal_create_act {
    margin-top: 25px;
	padding: 10px;	
}

.paypal_create_act p {
	margin: 5px 0 0;
	line-height: 14px;	
}

.paypal_login .form.act {
	padding: 15px;
	width: 980px;
	
	padding: 10px;
	height: 40px;
	border: 1px solid #edf5f8;
}

.paypal_create_act .form.act {
	width: 980px;
}

.paypal_create_act .act_create {
    padding-top: 15px;	
}

.paypal_login a.forgot_pw {
	position: absolute;
	padding-left: 0;
    margin: 30px 0 0 -300px;
}

.paypal_login input.btn.paypal_signin {
    margin-left: -60px;
	font-size: 13px;
	border: none;
	padding: 5px 10px;
	display: inline-block;
}

.form.act input {
    margin-right: 40px;
}

.paypal_login input[type="text"] {
    margin-right: 100px;
}

.paypal_login .act {
    border: none;	
}

/* password end  */


/* payment options start  */

.pay_opts {
/*	width: 600px;*/
	padding: 15px;
	float: left;
}

/*.pay_opt_info {
	width: 350px;
	margin-top: 10px;
	float: left;
}
*/

/* temp fixes until jsp file is fixed for next build */
#checkout_body #signinContinueCheckout {
    float: none;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}


#signinContinueCheckout {
	float: right;
    margin-right: 100px;
    margin-top: -40px;
    text-align: right;
    width: 100%;
}

div.payments #paymentMethodKeyDiv_creditcard.pay_opt_info {
	width: 350px;
	margin-top: 10px;
	float: right;
	margin-top:0;
}

#paymentMethodKeyDiv_creditcard {
	margin-top: -150px;
	width: 350px;
	float: right;
}

.pay_opt{
	float: left;
}
/* temp fixes until jsp file is fixed for next build */

span#ccTypeId img {width:auto}

.pay_opts .tip {
	margin-top:-40px;
    width:200px;
    padding:10px;
	margin-left:220px;
    font-weight:bold
}

.pay_opt input{
	width: 30px;
	float: left;
}

.pay_opt img{
	float: left;
	padding-right: 50px;
}

.pay_opt_info img{
   margin: 10px 0;
   width: 145px;
   height: 42px;
}


/* payment options ends  */


a.sec_id{
	font-size: 11px;
	text-decoration: underline;	
	color: #00467b;
	white-space: nowrap;
	float: left; 
	margin-top: 10px; 	
}

/* popup  */
.popup_payment .pay_opts {
	width: 220px;
	float: left;
}

.popup_payment .pay_opt{
	width: 220px;
	margin-bottom: 10px;
	padding-bottom: 10px;
   border-bottom: 1px solid #f0f2f6;
}

.popup_payment .pay_opt div{
	width: 30px;
	float: left;
}

.popup_payment .pay_opt img{
	float: left;
	padding-right: 15px;
}

/* temp fix until next bld - */
/*.popup_payment .pay_opt_info {
	width: 350px;
	margin: 10px 0 0 15px;
	float: left;
}*/

.popup_payment #paymentMethodKeyDiv_creditcard.pay_opt_info {
	width: 350px;
	margin: 10px 0 0 15px;
	float: left;
}

/* temp fix until next bld - */

/* checkout complete start */

ul.actinfo {
	width: 100%;
	display: table;
	padding-bottom: 20px;
}

ul.actinfo li .hdr {
	background-color: #edf5f8;
	padding: 7px !important;
	width: 100%;
	margin: 0 0 7px -10px;
	font-size: 13px;
}

ul.actinfo li a.edit {
	text-align: right;
}

ul.actinfo li {
	width: 30%;	
	font-size: 12px;
	line-height: 16px;
	margin-right: 20px;
	float: left;
	padding: 10px;
}

ul.actinfo li span {
	width: 120px;
	display: inline-block;
	vertical-align: text-top;
}

ul.actinfo li span:nth-child(2) {
	width: 170px;
}

ul.actinfo li input {
	width: 30px;
	float: left;
	margin-right: 10px;
}

ul.actinfo li a {
	margin-top: 5px;
}

ul.actinfo li:last-child {
	margin-right: 0;
}

ul.actinfo .form_2col.po_no {
    margin-top:  15px;	
}

ul.actinfo .form_2col.po_no span {
    color: #666;	
}


.multi_ship {
	background: url(images/chkout_line.gif) no-repeat; 
	text-align: center;	
	padding-top: 6px;
}

/* checkout complete end */



/* START - last classes added  */

.two_cols{
	float: left;
	width: 50%;
}

.two_cols  div.form .hdr {
	border-bottom: 4px solid #002963;
	color: #002963;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;
	padding-bottom:3px;
	width: 90%;
}


.three_cols{
	float: left;
	width: 33%;
}


.dim_info {
    background-color: #fff; 
    filter:alpha(opacity=30); /* IE */ 
    opacity: 0.3; /* Safari, Opera */ 
    -moz-opacity:0.30; /* FireFox */ 
    -ms-filter: "Alpha(Opacity=30)"; /* IE8 */
    z-index: 20;
}

/* END - last class added  */


/* POPUPS  */

#cc_secId img{
    width: 460px;
	height: 330px;	
}

.cc_info {
    font-size: 10px;
	line-height: 10px;
	margin: 0 0 7px 170px;	
}

#checkout_body .cc_info {
	margin: 0 0 7px 125px;	
}

/* CHECKOUT ORDER REVIEW  */


/* address validation popup */
.loc_sec{  
	float: left;
	width: 280px; 
	height: 200px; 
	margin: 10px;
	border: 1px solid #f0f2f6;
}

.loc_sec div.hdr{
	font-weight: bold;
	padding: 5px;
	font-size: 13px;
	line-height: 13px;
	background-color: #f0f2f6;
	color: #002963;
	margin: 2px;
	width: 266px;
}

.loc_sec div {
   padding: 10px;
   color: #454545;
   font-size: 12px;
   line-height:18px;
}

.or {
	float: left; 
	width: 30px; 
	margin-top: 100px; 
	text-align: center; 
	font-weight: bold; 
	color: #666; 
	font-size: 16px;
}

.loc {
    background-position: 0 -224px;
	padding: 0 !important;
	margin: 0 !important;
	height: 30px;
}

.loc_sel {
    background-position: 0 -272px !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 30px;
}

.set_default_icon{
    background-position: -245px -275px;
	height: 25px;
    float: left;
    width: 20px;
	z-index: 10;
	position: absolute;
	margin-top: -2px;
}


.loc a, .loc_sel a{
   margin: 8px 30px 8px 20px !important;
   padding: 4px !important;
   display: block;
   color: #44698b;
   font-size: 13px;
   line-height: 15px;
   text-decoration: underline;
}


.actinfo .type, tr.bg, .sec_bg, .loc_sec_hdr{
	font-weight: bold;
	padding: 3px 15px;
	background-color: #f0f2f6;
}

/* address validation popup */

.actinfo .info{
	padding: 5px 15px;
	line-height: 15px;
}

#checkout_body .actinfo a.btn.edit, .loc_sec a.edit{
	float:right; 
	width: 38px;
	height: 16px;
	background:url(images/btn_edit.gif) no-repeat;
	margin: 0 5px 5px 0;
	display: inline-block;
}

.loc_sec a.edit{
	position: absolute; 
	margin: 5px 0 0 230px;
	float: none;
}

#checkout_body a.change {
	background:url(images/btn_change.gif) no-repeat;
	 width: 57px;
	 height: 16px;	
	 display: block;
	 float: right;
	 margin-right: 10px;
}

.checkout_change {
    padding: 20px;
	background-color: #fff;
	display: table;	
}

.checkout_change table.cart  {
    width: 900px;
}

.checkout_change table.cart td:first-child {
    width: 60px;
}

.checkout_change table.cart tbody td {
	border-bottom: none;	
}

.checkout_change table.cart tbody td.x {
	text-align: center;
	padding-top: 15px !important;
}

.checkout_change table.cart tbody td .delete {
	color: #c00;	
	font-size: 18px;
	line-height: 16px;
	font-weight: bold;
}

.checkout_change table.cart tbody td .btns {
	padding-top: 30px;
}

.checkout_change table.cart td:nth-child(2) {
    width: 410px;	
}

.checkout_change table.cart td:nth-child(2) .item_desc {
    width: 350px;
	margin-bottom: 20px;
}

.checkout_change table.cart td:nth-child(3) {
    width: 120px;	
}

.checkout_change table.cart td:nth-child(4) {
    width: 80px;	
}

.checkout_change table.cart td:nth-child(5) {
    width: 70px;	
}

.checkout_change table.cart td:nth-child(5) .qty_update {
    width: 40px;	
}

.checkout_change table.cart td:nth-child(6) {
    width: 100px;	
}


#order_review {
	display: table;
	/*width: 1000px*/
}

#order_review .hdr{
	padding: 30px 0 10px 0;
}

#order_review .hdr img{
	width: 246px;
	height: 31px;
}

#order_review .order {
	width: 100%;
	font-size: 11px;
	margin-top: 10px;
	display: table;
}

#order_review .hdr {
     font-size: 13px; 
	 font-weight: bold;
	 padding: 4px;
	 color: #fff;
	 padding: 5px;
	 background: #004961;
	 margin-bottom: 10px;
	 width: 370px;
	 margin-right: 15px;
	 float: left;
}

#order_review .hdr:nth-child(2) {
	 width: 350px;
}


#order_review .order .items{
    float: left;
	width: 370px;
	margin-right: 15px !important;	
}

#order_review .order .per_item {
	width: 755px; 
	display: table;
	border-bottom: 1px solid #666;
	margin-bottom: 30px;
}

#order_review .order .shipping{
    width: 260px;
	background-color: #fff;
}


#order_review .order .freeship{
    display: block;
	padding: 3px 0 0 60px;
	margin-bottom: -5px;
}

#order_review .order .ship_method{
    float: left;
	width: 345px;
	margin-left: 15px;	
}

.stick {   
    position:fixed;    
	top:0px;
}

.order table{
	width: 360px;
	font-size: 11px;
}

.order table tr td{
    color: #333;
	font-size: 10px;
	padding: 7px 0;	
	border-bottom: 2px solid #f0f2f6;
}

.order table tr td a{
    text-decoration: underline;
}

.order table tr td.prod{
    width: 90px;
	padding: 7px 10px;
	vertical-align: top;	
}

.order table tr td.prod img{
    width: 90px;	
    height: 90px;	
}

.order table tr td div{
	font-size: 13px;
	font-weight: bold;	
	line-height: 14px;
}

.order table tr td p{
	margin: 5px 0 0 0;
	line-height: 12px;
}

.order table tr td span{
    color: #666;
}

.order table tr td table{
	width: 100%;
	margin-top: 5px;
}

.order table tr td table tr td{
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	border: 0;
}

.ship, .ship_sel {
	background: url(images/checkout_ship.gif) no-repeat;
	float: left;
	margin-right: 7px;
	width: 160px;
	height: 27px;
}

.ship_sel input, .ship input, .radio_opt input  {
	margin: 3px 6px 3px 3px;
}


.ship_sel label, .ship_sel input, .ship label, .ship input {
	float: left;
	font-size: 11px;
	color: #555;	
}

.ship_sel label, .ship label {
	margin-top: 5px;
}

.ship_opt_info {
	clear: both;
	padding: 5px 5px 5px 10px;
}

.ship_opt_info .prices div {
	margin: 0 0 3px 15px;
}

.ship_opt_info .prices span {
	width: 130px;
	display: inline-block;
	vertical-align: text-top;
	padding-left: 5px;
	font-weight: bold;
}

.ship_opt_info  span {
	color: #c00;
	font-weight: bold;
}

.ship_opt_info .prices span label {
	color: #333;
	font-size: 11px;
}

.ship_opt_info .prices span input {
	padding-right: 5px;
}

.ship_opt_info .prices span:nth-child(2) {
	width: 60px;
	padding-left: 0;
	text-align: right;
	color: #c00;
}

.ship_opt_info p.note {
	padding: 0 10px !important;
}

.imp_bdr, .imp_bdr_non {
    border: 2px solid #f00;
    padding: 6px;
    width: 90%;
    margin: 0 0 10px 10px;	
}

.imp_bdr_non {
	border-color: #fff;
}

.ship_method p{
	color: #454545;
	font-size: 11px !important;
	line-height: 13px !important;
	margin: 1px 0 0 0 !important;
	padding: 0 !important;
}

.ship_method .multi_note {
	display: table; 
	margin-bottom: 7px; 
	padding: 0 5px !important; 
	color: #e26602;
}

.ship_method p span{
	font-weight: bold;
	font-size: 12px;
	color: #002963;
}

.ship_method p { margin-top: 5px; padding: 5px 0 5px 10px !important; line-height: 12px; font-size: 10px !important; clear: both !important; } 

p.note {
   color: #ab0000;
}

.ship_opt_info p.note {
   margin: 5px 0 0 !important;
}

.ship_ckbox_opt{
	clear: both;
	margin: 0;
	padding: 0;
}

.ship_ckbox_opt input{
    margin: 0 0 0 20px;
	float: left;
}

.ship_ckbox_opt label{
	float: left;
	margin: 3px 0 0 0;
}

#order_review .order #finaltotal{
    float: right;
	margin: 0 10px 400px 0;
}

#order_review .order #order_fix {
    position: fixed;   
	width: 220px;
}

form#checkoutViewForm {
	clear: left;
    width: 755px;
}

#completeOrderDisabled {display:none;}

#finaltotal .summary {
   background-color: #fff;
   color: #000;
   font-size: 12px;
   font-weight: normal;
   border: 4px solid #004961;
   padding: 10px;
   display: table;
}

#finaltotal .summary .hdr {
   font-size: 15px;
   font-weight: bold;
   background-color: #fff;
   color: #004961;
   width: auto !important;
}

#finaltotal .summary .prices  div{
	width: 200px;
	padding: 1px 0;
}

#finaltotal .summary .prices span {
	width: 130px;
	display: inline-block;
	vertical-align: text-top;
	font-size: 11px;
	color: #333;
	padding-left: 5px;
}

#finaltotal .summary .prices span:nth-child(2) {
	width: 30px;
	padding-left: 0;
	text-align: right;
}

#finaltotal .summary .prices div:nth-child(2), #finaltotal .summary .prices div:nth-child(4) {
	border-bottom: 2px dashed #004961;
	margin-bottom: 4px;
}

#finaltotal .summary .totalprice {
	padding: 15px 10px 10px; 
	color: #bc0000; 
	font-weight: bold; 
	font-size:16px;
	text-align: center;
}


/* CART SHARED */

#order_review table.cart .soldby, #order_review table.cart .btns, #order_review table.cart a.btn.addcart_medsm, #order_review table.cart .lock select, 
#order_review table.cart .auto_reorder input, #order_review table.cart .auto_reorder label, #order_review table.cart .auto_reorder select, 
#order_review table.cart .auto_reorder img, #order_review table.cart .auto_reorder div, #order_review table.cart tbody tr td:nth-child(2),
#order_review table.cart tbody tr td:nth-child(5),
#order_review table.cart tbody tr td:nth-child(6), #order_review table.cart .warranty .delete, #order_review table.cart .dim input {
	display: none;
}


/* This will be changed - temp fix start */

#order_review table.cart tbody tr td:nth-child(3) .btn, #order_review table.cart tbody tr td:nth-child(3) .qty_update, #order_review table.cart tbody tr td:nth-child(3) .update,
#order_review table.cart tbody tr td:nth-child(4) .btn, #order_review table.cart tbody tr td:nth-child(4) .qty_update, #order_review table.cart tbody tr td:nth-child(4) .update {
   display: none;
}

#order_review table.cart tbody tr td:nth-child(3), #order_review table.cart tbody tr td:nth-child(4) {
    position: absolute;	
	margin: 50px 0 0 0;
}

#order_review table.cart tbody tr td:nth-child(3), #order_review table.cart tbody tr td:nth-child(3) span, #order_review table.cart tbody tr td:nth-child(4), #order_review table.cart tbody tr td:nth-child(4) span {
    color: #fff !important;
	z-index: -5;
}

#order_review table.cart tbody tr.warranty td:nth-child(3), #order_review table.cart tbody tr.config td:nth-child(3) {
    position: absolute;	
	margin: 50px 0 0 95px;
	border-bottom: none;
	font-weight: bold;
    color: #333 !important;
}

#order_review table.cart tbody tr.warranty td:nth-child(3) span, #order_review table.cart tbody tr.config td:nth-child(3) span {
    color: #333 !important;
}

#order_review table.cart tbody tr.warranty td:nth-child(4), #order_review table.cart tbody tr.config td:nth-child(4) {
    position: absolute;	
	margin: 50px 0 0 230px;
	border-bottom: none;
	color: #c00 !important;
}

#order_review table.cart tbody tr.warranty td:nth-child(4) span, #order_review table.cart tbody tr.config td:nth-child(4) span {
    color: #333 !important;
}

/* This will be changed - temp fix end */



#order_review table.cart .dim {
	font-size: 11px !important;	
	margin: 3px 0 0 0;
}

#order_review .auto_reorder, #summary_confirm .auto_reorder  {
   background-color: #fff;	
   margin: 0;
   padding: 0;
}

#order_review .auto_reorder p, #summary_confirm .auto_reorder p {
   font-size: 11px;
}

#order_review table.cart .btns, #order_review table.cart a.btn.addcart_medsm {
	display: none;
}

#order_review table.cart {
   width: 370px;
   margin: 0 0 30px; 
}

#order_review table.cart thead  {
   display: none;
}

#order_review table.cart tbody tr td {
   padding-top: 10px;
   color: #666;
   line-height: 14px;
   text-decoration: none;
   font-size: 12px;	
   vertical-align: top;
}

#order_review table.cart tbody tr td {
   border-bottom: 1px solid #d4e2e7;
}


#order_review table.cart tr td .title {
   text-decoration: none;
}

#order_review table.cart tbody tr td div.prod_img {
   float: left;
   margin: 0 5px 0 0;
   padding: 0;
   width: 90px;
}

#order_review table.cart tbody tr td  div.prod_img img{
   width: 90px;
   height: 90px;
}

#order_review table.cart tbody tr td div.item_desc .info {
   color: #333;
   font-weight: normal !important;
   font-size: 11px;
   float: left;
   width: 75%;
   margin-bottom: 8px;
}


div.cart_items ul li div.btns {
   clear: both;
}


#order_review table.cart tbody tr td:first-child  {
   width: 380px; 
   float: left;	
}

#order_review .chkout_addons, .chkout_addons_none {
	background: url(images/cart_addons_sm.png) no-repeat;
	font-weight: bold;	
	text-align: left;
	font-size: 11px;
	color: #00688d;
	height: 24px;
	display: block;
	padding: 7px 0 0 26px;
	width: 150px;
	margin: 0 0 0 2px !important;
}

#order_review .chkout_addons_none_none {
	background: url(images/cart_addons_sm_none.png) no-repeat;
	color: #ccc;
}


#order_review .order .pz .hdr {
	background-color: #f7f7f7;	
	padding: 0;
	margin: 0;
	width: 100px;
}


#order_review .ext_info {
  width: 260px;
}

#order_review .rebate {
   width: 260px;
}


#order_review .pz {
   width: 280px;
}

#order_review .pz a {
   display: none;
}


#order_review .pz span {
   color: #c00;
   font-size: 11px;
   font-weight: bold;
   padding-left: 7px;
   float: none;
   margin-right: 0;
}

#order_review .qty_sec {
   background-color: #f7f7f7;
   padding: 5px;
}

#order_review .qty_value, #order_review .qty_price {
   color: #004a66;
   font-weight: bold;
   font-size: 11px;
}

#order_review .soldby {
   font-size: 14px;
   padding: 7px 5px 4px;
   border-bottom: 1px dotted #004961;   
}

#order_review .auto_reorder {
    border-top: 1px dotted #00688d;
    border-bottom: 1px dotted #00688d;
	padding: 3px;
	width: 280px;
}


#order_review .auto_reorder p, #summary_confirm .auto_reorder p {
    background:url(images/ico_reorder.gif) no-repeat;
	padding-left: 17px;
    font-size: 11px;
	font-weight: bold;
    color: #00688d;
	height: 15px;
}


#order_review .addons {
   font-size: 14px;

}

.chkout_itemno {
   font-size: 11px !important;	
}

.chkout_pricing {
    clear: left;
	height: 27px;
	border-radius: 3px;
    FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#004961); 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#004961)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #ffffff,  #004961); /* for firefox 3.6  */
	background: -o-linear-gradient(top,  #ffffff,  #004961);
	padding: 1px;
}

.chkout_pricing div {
    background-color: #fff;
	padding: 5px 5px 4px;
}

.chkout_pricing span.price, .chkout_pricing  span.qty {
    font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	color: #333;
}

.chkout_pricing  span.qty {
	padding-left: 27px;
}

.dim {
   color: #333;	
   margin: 6px 0;
}



#order_confirm  {
	padding: 0 5px;
}

#checkout_body .order_no {
    margin: 10px 5px 0;
	font-size: 14px;
	font-weight: bold;
	color: #b00;
	padding: 7px;
	background-color: #f5f5f5;
}

#checkout_body .order_no span {
	color: #454545;
	font-size: 13px;
}

#checkout_body .order_no span:nth-child(2) {
	padding-left: 40px;
}


#order_confirm .hdr {
	margin-top: 20px;
   color: #016386; 
   font-size: 18px;
   padding-bottom: 5px;
   border-bottom: 1px solid #016386;
}

#order_confirm .hdr span {
   color: #454545; 
   font-size: 14px;
}


#order_confirm ul {
	background-color: #f7f7f7;
	margin: 5px;
	width: 1000px !important;
	display: table;
}

#order_confirm ul li {
	float: left;
	font-size: 13px;
	padding: 10px;
    border-bottom: 1px dotted #016386;
	width: 980px !important;
   
}

#order_confirm ul li span {
    padding-right: 20px;
	width: 220px;
	display: inline-block;
	vertical-align: top;
}

#order_confirm ul li span:nth-child(3) {
	width: 470px;
}

#order_confirm p {
    clear: both;
	padding: 15px 10px 20px;
	font-size: 13px;
	line-height: 15px;
}

#order_confirm p a{
    text-decoration: underline;
}

#actinfo_confirm .hdr {
   color: #016386; 
   font-size: 14px;
   padding: 5px;
   border-bottom: 1px solid #014259;
}

#actinfo_confirm .hdr span{
   color: #333;
   font-size: 13px;
}

#actinfo_confirm ul.actinfo li .hdr {
	color: #000;
	padding: 7px !important;
	width: 100%;
	margin: 7px 0 7px -10px;
	font-size: 13px;
	border: none;
}

#actinfo_confirm ul{
	padding-left: 10px;
}

#actinfo_confirm ul li {
    width: 220px;
}

#actinfo_confirm ul li {
	margin-right: 10px !important;
	border-bottom: 1px dotted #004961;
}


#actinfo_confirm ul li span {
	width: 90px;
}

#actinfo_confirm ul li span:nth-child(2) {
	width: 110px;
}


#summary_confirm .hdr {
   font-size: 15px;
   color: #a00;
}

#summary_confirm table.cart  {
   width: 95%;
   border-spacing: 2px;  
   float: none;
}


#summary_confirm table.cart thead tr td:nth-child(5), #summary_confirm table.cart tbody tr td:nth-child(5), #summary_confirm table.cart td:nth-child(3) span,
#summary_confirm table.cart td:nth-child(4) span:first-child, #summary_confirm table.cart td:nth-child(4) input ,#summary_confirm .auto_reorder input, #summary_confirm .auto_reorder label, 
#summary_confirm .auto_reorder select,  #summary_confirm .auto_reorder div, #summary_confirm .auto_reorder img, 
#summary_confirm table.cart td .btns, #summary_confirm table.cart td .delete,  #summary_confirm .dim input, #summary_confirm .lock select,  
#summary_confirm table.cart td .addtocart, #summary_confirm table.cart td .update, #summary_confirm table.cart td .pz a, #summary_confirm .chkout_itemno, 
#summary_confirm .chkout_pricing, #summary_confirm .chkout_pricing div, #summary_confirm .chkout_pricing span.price, 
#summary_confirm .chkout_pricing  span.qty, #summary_confirm .chkout_pricing  span.qty, #summary_confirm  .add_warranty, #summary_confirm .chkout_addons,
#summary_confirm  table.cart .soldby  {
   display: none;	
}


#summary_confirm table.cart td:nth-child(4) span:nth-child(2).value {
	display: block;
}

#summary_confirm table.cart thead tr td {
   background-color: #006c93;
   color: #fff;
   padding: 5px;
   text-align: center;
}

#summary_confirm table.cart tbody tr td {
   text-align: center;
   color: #000;
}

#summary_confirm table.cart  tr td:first-child {
   text-align: left;
   width: 450px;
}

#summary_confirm  .rebate, #summary_confirm  table.cart .shipping  {
   width: 880px;
}

#summary_confirm table.cart tbody tr td:nth-child(3), #summary_confirm table.cart tbody tr td:nth-child(6) {
   color: #c00;
}

#summary_confirm .pz {
   margin-bottom: 10px;
   width: 880px;
}

#summary_confirm .pz span {
   color: #c00;
   font-size: 12px;
   padding-left: 7px;
   float: right;
   margin-right: 25px;
}

#summary_confirm .auto_reorder  {
    border-top: none;
    border-bottom: none;
	padding: 0;
    margin-bottom: 10px;
}

#summary_confirm .order_no {
    font-size: 15px;
    margin: 35px 30px 10px 17px;
}

#summary_confirm .order_no span, #multiship .soldby {
    float: right;
    color: #006c93;
    font-size: 15px;
}

/* multi-ship */

#multiship {padding: 35px 0;	}
#multiship .soldby {margin: 0 30px 10px 17px;}

#multiship p.note_chrg {
    background-color: #fdfddf;
    padding: 7px;
    width: 935px !important;
}

#multiship .add_chrg p {
    color: #555;
    display: table;
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 150px !important;
}

#multiship .add_chrg .form {
    display: table;
    float: left !important;
    width: 700px !important;
}


#multiship .add_chrg {
    display: table !important;
    padding: 10px 5px 0;
    width: 940px !important;
}

#multiship .add_chrg .form .chkbox_sm {
    clear: none;
    float: left !important;
    margin-right: 20px;
    width: 300px !important;
}

#multiship td {border-bottom: none;}

#multiship table.ship_info {
    border: 1px solid #c9dde5;
	padding: 2px !important;  
    width: 960px;
    border-spacing: 2px;
} 

#multiship table.ship_info thead tr td {
    color: #006c93 !important;
    font-weight: bold;
    background-color: #edf5f8;
    text-align: left !important;
    padding: 6px 10px 1px !important;
    height: 20px;
}

#multiship table.ship_info tbody tr td {text-align: left;border-bottom: none;}
#multiship table.ship_info td:first-child {width: 100px !important;}
#multiship table.ship_info td:nth-child(2) {width: 480px !important;}
#multiship table.ship_info td:nth-child(3) {width: 320px !important;}
#multiship .add_chrg .form .chkbox_sm label {font-size: 12px;}
#multiship a.btn.add_loc {margin-top: -3px;	}

#multiship .bdr  {
    background-color: #edf5f8;	
	height: 5px !important;
	width: 950px !important;
}

#multiship table.ship_info tbody tr:last-child td div.bdr  {
    background-color: #fff;
	height: 1px;
}

/* multi-ship */

#totals div {
	clear: both;
	padding: 6px 3px;
	width: 94%;	
	margin: 0 auto;
    text-align: right;
	display: table;
	font-weight: bold;
	font-size: 13px;
}


#totals div span{
    width: 100px;
	display: inline-block;
}


#summary_confirm .order_total {
	margin-top: 20px !important;
	width: 952px;
	margin: 0 auto;
	background-color: #f3f3f3;
	padding: 5px;
	text-align: right;
	display: table;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}

#summary_confirm .order_total p{
	margin-top: 15px;
	color: #c00;
	font-size: 16px;
	font-weight: bold;
}

#summary_confirm .order_total p span{
	font-size: 18px;
	padding-left: 15px;
}

#summary_confirm .order_total .seal {
    float: left;
}

#totals div.order_total {
    background-color: #f7f7f7;
	border-top: 1px dotted #888;	
	border-bottom: 1px solid #333;	
}

#totals div.order_total p {
    font-weight:bold;
	font-size:13px;
}

#totals div.order_total img.seal {
    display:none;
}

#totals div:first-child {
    background-color: #f5f5f5;
	border-top: 1px solid #333;	
	border-bottom: 1px dotted #888;	
}

.req_field {
   width: 100%;
   text-align: right;
   border-bottom: 2px solid #f0f2f6;
   margin-bottom: 10px;
   clear: both;
}

  /* Warranty Registration Page */
.oneCol_layout .hdr {float: none;margin: 15px 0 0;padding: 0 0 8px;width: 92%;text-align: left;border-bottom: 1px solid #004a62;color: #004a62;font-weight: bold;font-size: 18px;}
.oneCol_layout .subhdr { clear:both; float: none;margin:0 0 15px;padding: 30px 0 8px;width: 92%;text-align: left;border-bottom: 1px solid #004a62;color: #004a62;font-weight: bold;font-size: 14px;}
.oneCol_layout .heading { float: none;margin: 15px 0 0;padding: 0 0 8px;width: 92%;text-align: left;color: #004a62;font-weight: bold;font-size: 18px;}
.oneCol_layout .hdr_info { padding:10px 0;}
.oneCol_layout .hdr_info a {color: #005671;font-size: 12px; line-height: 13px; text-decoration:underline;}
.oneCol_layout .hdr_info .phone { padding:0 50px 0 180px;}
.oneCol_layout .prod_description { clear:both; padding:15px 0;}
.oneCol_layout .prod_description label {font-weight: bold;display: block;line-height: 20px;font-weight:bold; }
.oneCol_layout .prod_description textarea {width: 90%;display: block;font-size: 14px;border: 1px solid #ccc;padding: 4px;}
.oneCol_layout .evaluation {float: none; clear:both; font-size:14px; font-weight:bold; padding:25px 0 10px;color: #004a62;border-bottom: 1px solid #004a62;width: 91%; }
.oneCol_layout .evaluation_hdr { padding:0; font-weight:bold; }
.oneCol_layout .evaluation_hdr div { float:left; width:22%;text-align:center; padding:10px 4px;  background:#f1f1f1; font-size:13px; border-bottom:1px solid #d6d6d6;}
.oneCol_layout .evaluation_hdr div:first-child { background:none; border-bottom:none;  }
.oneCol_layout .evaluation_row { clear:both; padding:5px 0;}
.oneCol_layout .evaluation_row div { float:left; width:22%; text-align:center; padding:4px; border-bottom:1px solid #d6d6d6; font-weight:bold;}
.oneCol_layout .evaluation_row div:first-child { text-align:left; border-bottom:none; }
.oneCol_layout .comments { clear:both; padding:15px 0 0;}
.oneCol_layout .comments label {font-weight: bold;display: block;margin: 12px 0 4px 5px;line-height: 20px;font-size:14px; font-weight:bold; color: #004a62;}
.oneCol_layout .comments textarea {width: 90%;display: block;font-size: 14px;border: 1px solid #ccc;padding: 4px;margin: 0 0 5px 5px;}
.oneCol_layout .btns { clear:both; border-bottom:none !important; border-top: 1px solid #004a62;width: 92% !important; height: 30px; padding:20px 0; margin-top:15px ; }
.oneCol_layout .form { padding-bottom:15px; }
.oneCol_layout .form .hdr {float: none;margin: 0 0 5px;padding: 25px 0 5px !important; border:none !important; width: 88%;text-align: left;color: #004a62;font-weight: bold;font-size: 13px !important;letter-spacing: normal !important;}
.oneCol_layout .form textarea { display:block; width:410px;}
.oneCol_layout .vendor_divider { clear:both; width:92%; border-bottom:1px solid #d6d6d6; font-size:14px; font-weight:bold; margin:0 0 20px 0; color:#004a62;}  
.oneCol_layout .spacer { padding-top:15px;}
.oneCol_layout .form_oneCol  {float: left;width: 50%; margin:5px 0 15px;}
.oneCol_layout .form_oneCol label { clear:both; float:left; width:35%;  font-weight: bold;font-size: 12px;margin: 5px 0 5px 0;line-height: 20px;}
.oneCol_layout .form_oneCol input, .form_oneCol select { float:left; width:210px; display: block; font-size: 14px; border: 1px solid #ccc; padding: 4px; margin: 5px 0 5px 0;}
.oneCol_layout .business_type  { clear:both !important; width:92%; padding: 15px 0 ; margin: 15px 0 ;line-height: 20px; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.oneCol_layout .business_type input[type="radio"] { margin:0 3px 0 75px;}
.oneCol_layout .business_type label {font-weight:bold; color:#004a62;}
.oneCol_layout .check_instruction  { clear:both !important; width:92%; margin:30px 0 ;line-height: 20px;}
.oneCol_layout .check_instruction input { float:left; width:5%; }
.oneCol_layout .check_instruction label { float:left; width:85%;}

  /* Cant Find IT Page */
.form_oneCol input.sm { width:50px;}
.form_oneCol .rangeDivider { float:left; padding:15px 10px 0; }
.form_oneCol .labelBlock { display:block; width:100% !important;}