/* --------------------------------------- GENERAL FORMATING --------------------------------------- */
.show { display: show; }
.clear { clear:both !important }
form input[id^="charsRemain"] {border:none;width:50px;background:none;display:inline;padding:0;}

.lnk_gen {
	text-decoration: underline;
	color: blue;
}

/* Sprites for Buttons and Icons */

.error_icon, .compare .item .remove, .qview .remove, .listview, .listview_sel, .compare_prod .remove, 
.rating, .gridview, .gridview_sel, .arrow, 
.leftnav h2, .leftnav .price_range, .leftnav .facet_type, .leftnav .facet_type_close, .leftnav .top10_type, .leftnav .extras, .ui-slider .ui-slider-handle, 
.see_reviews div.arrow, table.saved_carts tr td.remove div, a.btn_remove_icon, .attribute .arrow_open, .attribute  .arrow_close, 
.compare_more_bg, .compare_more_bg_last, #slider-controls #prev, #slider-controls #next, .yes_help, .no_help,
.account_nav .mgmt_type     {
	background:url(images/sprite_prod.png) no-repeat 0 0;
}


.btn_search, .btn_signup { /* main buttons - green */
	background:url(images/sprite_btn.png) no-repeat 0 0;
	cursor: pointer;
	border: 0;
}

.btn_leftnav_rep {  /* other buttons */
	background:url(images/sprite_btn2.png) no-repeat 0 0;
	cursor: pointer;
	border: 0;
}

#popup, #popup_actinfo, #popup_payinfo {
   padding: 20px;   	
}

#emailCartPopup .form_2col, #popup_actinfo .form_2col {width:500px;}

.confirm_sec {
	clear: both;
	padding: 10px;
	margin-bottom: 2px;
	display: table;
}

.confirm_sec .confirm_icon {
	background: url(images/sprite_prod.png) no-repeat -205px -195px;
	width: 40px;
	height: 35px;
	float: left;
}

.confirm_sec p {
    font-weight: bold;
	font-size: 13px;
	line-height: 120%;
	color: #555;
	margin: 12px 0 0 10px;
	float: left;
	width: auto !important;
}

.forgot_password .confirm_sec {
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}

.forgot_password .confirm_sec p {
	font-size: 12px;
	margin: 5px 0 0 10px;
	width: 80% !important;
}


 
#popup legend, #popup .info legend {
    font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px; 
	color: #00425b;
}

#popup .info legend {
    font-size: 13px;
	width: 430px;
	line-height: 15px; 
}

#popup label {
	margin-top: 5px;
	width: 180px;
}

.savecart_popup #popup label {
	width: 140px;
}

#popup .info label {
	margin-top: 0 !important;
}

#popup .info .policy {
	margin-top: 15px;
}

#popup .policy {
    font-size: 11px;
	color: #a00;
}

#popup .policy a {
    font-size: 11px;
	color: #a00;
	text-decoration: underline;	
}

/*#popup input{
	width: 180px;
	display: block;
	font-size: 12px;
	border:1px solid #ccc;
	padding: 4px;
}*/

.addons_popup .body, .cartPopUpQuote .body {
     width: 900px;
}

#suggestedItems {width:925px}

.actlist_popup .contents {
   width: 475px;
}

.addlist_popup .contents {
   width: 600px;
   padding: 10px 10px 20px;
}

.addlist_popup .contents p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 3px;
	color: #045b79;
	text-align: left;
	border-bottom: 1px dotted #76b6cc;
	margin-bottom: 10px;
}

.addlist_popup .savelist  {
	margin: 20px 0;
	font-weight: bold;
	font-size: 13px;
	padding-bottom: 10px;
	border-bottom: 3px solid #045b79;
}

.addlist_popup input  {
	padding: 0 7px 0 15px;
}

.addlist_popup label  {
	padding-right: 15px;
}

.list_exist select {
    margin-right: 20px;
}

.addlist_popup #list_new .btns {
    margin: 15px 0 0 212px;
}

.confirm_popup .contents {
   width: 400px;
   font-size: 13px;
}

.confirm_popup .contents p {
	text-align: center;
	font-weight: bold;
}

.actlist_popup p {
   line-height: 120%;
   margin-bottom: 18px;
}

.actlist_popup .hdr {
   color: #016386;
   font-size: 16px;
   margin-bottom: 7px;
}

.actlist_popup ul li {
   margin-bottom: 10px;
   background: url(images/arrow_blue_curve.gif) no-repeat;
   padding-left: 15px;
   line-height: 120%;
}

.actlist_popup ul li span {
   color: #198927;
}

.actlist_popup ul li span.delete {
   color: #b00;
}


.actlist_popup .form_2col span{
   margin-top: 13px;
   display: inline-block;
   font-weight: bold;
   color: #006c99;
}

.actlist_popup .btns{
   margin: 10px 0 0  167px;
}




/* --------------------------------------- WEB STRUCTURE --------------------------------------- */


#home_body, #tab_body, #picgroup_body, #sellers_body, #cart_body, #checkout_body, #account_body, #static_body, #contactUs_body,
#clearance_body, #rebates_body, #customizeProduct_body, #search_body, #searchLanding_body, #filterResults_body, #account_body.reviewConfirm, #parts_body, #cantFindIt_body { 
/* -- once on every page -- */
   margin: 0 auto;
   width: 1000px;
   clear: both;
   display: table;
}

#cat_body, #pgrouplist_body {
   margin: 0 auto;
   width: 1000px;
   clear: both;
}

.printpg {
   width: 800px;
   clear: both;
   display: table;
   margin: 0;
}

#midsec {
   margin: 0 auto;
}

#home_body #midsec {
   width: auto;
}

#picgroup_body #midsec,
#customizeProduct_body #midsec {
   clear:both
}

#home_body  {
   margin: 5px auto;	
}

#tab_body #midsec {
   width: 815px;	
   float: left;
}

#clearance_body #midsec, #searchLanding_body #midsec, #static_body #midsec .tab_sub  {
   width: 790px;
   float: left;	
}

#cat_body #midsec, #search_body #midsec, #filterResults_body #midsec {
   width: 640px;
   float: left;	
}

#account_body.reviewConfirm #midsec {
   width: 780px;
   float: left;	
}

#checkout_body, #sellers_body  {
	display: table;
    margin-bottom: 50px;
}

#account_body #midsec, #parts_body #midsec {
   width: 750px;
   float: left;	
   margin: 20px 0 0 25px;
}

#parts_body #midsec {
   margin: 0 0 0 25px;
}

#account_body .breadcrumbs {
   margin-left: 10px;
   width: 990px;
}

#pgrouplist_body #midsec {
   width: 640px;
   float: left;	
}

#picgroup_body #midsec {
   width: 1000px;
}

#account_body.catalog #midsec {
   width: 980px;
}

#content, #account {  /* -- pages with left navigation -- */ 
   width: 810px;
   margin-left: 10px;
   float: left;
}

#catbnr {
   width: 620px;
   margin: 0 auto 20px;	
}

#leftnav {
	clear: both;
    float: left;
	width: 180px;
}

#accountPrint_body {
    width: 600px;
	clear: both;	
}



/* --------------------------------------- BREADCRUMBS ON ALL PAGES --------------------------------------- */

.breadcrumbs {
    background-color: #efefef; /* for non-css3 browsers */
    width: 98%;
    color: #007ea7;
    padding: 0 6px;
    margin: 18px auto 10px;
    font-size: 11px;
	line-height: 11px;
    font-weight: bold;
	height: 22px;
	overflow: hidden;
}

.breadcrumbs a{
    font-size: 11px;
    color: #007ea7;
    text-decoration: none;
    font-weight: normal;
}

.breadcrumbs span{
    background:url(images/sprite_icon.png) no-repeat -143px -105px;
    display:inline-block;
    height:16px;
    width:8px;
    position:relative;
    margin:3px 15px;
    vertical-align:middle;
 }
 
#cat_body .breadcrumbs, #filterResults_body .breadcrumbs, #pgrouplist_body .breadcrumbs {
    width: 610px;
	float: left;	
}

#prod_body {
   padding-top: 5px;	
}

#picgroup_body .breadcrumbs, #prod_body .breadcrumbs  {
    width: 780px;
	float: left;	
}

#search_body .breadcrumbs {
    width: 810px;
	float: left;	
}


#customizeProduct_body .breadcrumbs {
	float: left;
	margin-top:18px;
	width:79%;
}

#account_body .breadcrumbs {
    margin-bottom: 0;	
	width: 97%;
}

#sellers_body .breadcrumbs {
   width: 96%;	
}

#static_body #midsec {
   width: 98%;	
}




/* -------------------------- RESPONSIVE DESIGN FOR 1300PX - PAGE LAYOUT - xxxx_body, midsec and breadcrumbs   --------------------------------------- */


@media screen and (min-width: 1300px)  { /* for larger screens - bigger than 1000px  - size made for 1300px */

#home_body, #tab_body, #cat_body, #search_body,  #filterResults_body, #pgrouplist_body, #picgroup_body #midsec,
.responsive #searchLanding_body {
   width: 1300px;
}

#tab_body .htmlarea {
   width: 820px;	
}

#tab_body .icon_list {
   width: 1100px;	
}

#cat_body #midsec, #cat_body #midsec, #search_body #midsec,  #filterResults_body #midsec, #pgrouplist_body #midsec {
   width: 940px;
}


#cat_body .breadcrumbs, #filterResults_body .breadcrumbs, #pgrouplist_body .breadcrumbs {
   width: 910px;	
}

#search_body .breadcrumbs {
   width: 1100px;	
}

#picgroup_body .breadcrumbs {
   width: 1080px;	
}

}


/* --------------------------------------- COMMON STYLES  --------------------------------------- */

.captcha {
	height: 27px;
}

.captcha img {
	width: 100px;
	height: 30px;
}

.captcha a.refresh {
	background:url(images/ico_refresh.png);
	width: 15px;
	height: 16px;
	display: inline-block;
	margin-top: 5px;
	vertical-align: top;
}




/* --------------------------------------- MARKETPLACE SELLER  --------------------------------------- */

.mpinfo_popup {
    width: 900px;	
}


.mpinfo_popup .body {
    border: 1px solid #000;	
}

.mpinfo_popup .header {
	padding: 15px;
	height: 60px;
	border-bottom: 1px dotted #ccc;	
	margin-bottom: 15px;
}

.mpinfo_popup .header .logo {
    float: left;
	width: 250px; 
	height: 58px; 
}

.mpinfo_popup .header p {
    font-size: 18px;
	float: right; 
	font-weight: bold;
	margin-top: 25px;
}

.mpinfo_popup div.hdr {
	display:table;
	padding: 0 20px;
	width:90%;
}

.mpinfo_popup div.hdr p {
    float: left;
	font-size: 16px;
	margin-top:20px;
}

.mpinfo_popup .mplogo {
    float: right;
	width: 120px;
}

.mpinfo_popup .mplogo img {
	width: 120px;
}

.mpinfo_popup ul li {
    margin: 0 0 10px 20px;
}


.mpinfo_popup ul li a {
    text-decoration: underline;
	color: #005676;
	font-size: 13px;
	font-weight: bold;
}

.mpinfo_popup .mpinfo p.hdr {
	color: #025b7c !important;
	font-size: 14px;
	float: none;
}

.mpinfo_popup .mpinfo  {
	margin: 20px;
    height: 400px;
	overflow: auto;	
	padding-right: 30px;	
}

.mpinfo_popup .mpinfo p {
	margin-bottom: 10px;
	line-height: 120%;
}

.mpinfo_popup .top_page {
	margin-bottom: 20px;
	float: right;
	color: #1b99c8;
	font-size: 11px;
}


.mpinfo_popup .mpinfo p.hdr {
	color: #025b7c !important;
	font-size: 15px;
	float: none;
	margin-bottom: 5px;
	line-height: 120%;
}

.mpinfo_popup .mpinfo p.subhdr {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}









/* --------------------------------------- Search Fail --------------------------------------- */
div.searchFail {
	clear:both;
	display:table;
	width:98%;
	margin: 20px 0 30px 15px;
	border-bottom:1px solid #efefef;
	padding-bottom:30px;
}

div.searchFail p.queryResults {
	display:block;
	float:right;
	font-size:14px;
	font-weight:bold;
	margin-top:20px;
	margin-right:25px;
	clear:both
}

div.searchFail p.queryResults span {
	color:#666;
	text-decoration:line-through
}

#home_body div.searchFail p.queryResults {
	display:none
}

div.searchFail p.hdr {
	margin-bottom:20px;
	margin-top:20px;
	color: #005776;
	font-size:18px;
}

div.searchFail p.hdr span {
	color: black
}

div.searchFail div.leftCol {
	float:left;
	margin-top:20px;
}

div.searchFail div.leftCol input:first-child {
	width:340px;
	height:20px;
}

div.searchFail div.leftCol input.search_nav {vertical-align:bottom;margin-left:-4px;}

div.searchFail div.leftCol div {
	display:table;
	width:100%;
	margin-top:70px;
}

/*div.searchFail div.leftCol div p#callUs {
}

div.searchFail div.leftCol div p.open {
	border-color:white;
}*/

div.searchFail #phoneBox {
	clear:both;
	width:257px;
	margin-left:298px;
	margin-top:110px;
}

div.searchFail #phoneBox,
div.searchFail #phoneBox div {
	position:absolute;
}

div.searchFail #phoneBox{
	display:none;
	height:180px
}

div.searchFail #phoneBox div.poly {
	background:url(images/sprite_prod.png) no-repeat -5px -878px;
	width:257px;
	height:185px;
	left:2px;
	top:5px;
}

div.searchFail #phoneBox div {
	top:10px;
	left:20px;
	width:220px;
}

div.searchFail #phoneBox div:first-child {
    z-index:10
}

div.searchFail #phoneBox div p {
	font-size:11px;
}

div.searchFail #phoneBox div p:nth-child(3) {
	font-weight:bold;
	font-size:20px;
	margin-bottom:20px;
	margin-top:10px;
}

div.searchFail div.leftCol .search_nav {
	background:url(images/sprite_btns.png) no-repeat -2px -54px;
	display:inline-block;
	width:73px;
	height:30px;
}

div.searchFail div.leftCol div h1 {
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#999;
	margin:10px 20px 0 0
}

div.searchFail div.leftCol div p {
	margin-right:10px;
	padding-left:10px;
	float:left;
	color:#006383;
	font-weight:bold;
	border:1px solid #99e4ff;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	cursor:pointer
}

div.searchFail div.leftCol div p:last-child {
	position:relative;
	z-index:30;
}


div.searchFail div.leftCol div p a {
	color:#006383;
}

div.searchFail div.leftCol div p span,
div.searchFail #phoneBox div span {
	background:url(images/sprite_prod.png) no-repeat;
	width:22px;
	height:18px;
	display:inline-block;
	padding-right:3px;
}

div.searchFail div.leftCol div p#callUs {
	padding-left:18px;
	padding-right:18px;
}

div.searchFail div.leftCol div p:nth-child(2) span {
	background-position: -325px -140px
}

div.searchFail #phoneBox div p.callUs {
	color: #006383;
    cursor: pointer;
    font-weight: bold;
	font-size:12px;
	width:90px;
	margin-bottom:25px;
	padding:11px 0 0 14px
}

div.searchFail #phoneBox div p.contactus {
	padding-top:10px;
}

div.searchFail #phoneBox div p.contactus a {
	color: #006383;
    cursor: pointer;
	font-size:11px;
	text-decoration:underline;
	padding-top:10px;
}

div.searchFail div.leftCol p#callUs span, div.searchFail #phoneBox div span {
	background-position: -325px -165px
}

div.searchFail div.leftCol div p:nth-child(4) span {
	background-position: -296px -140px
}

div.searchFail div.rightCol {
	float:right;
	background-color:#eefaff;
	border:1px solid #99e4ff; 
	border-radius:4px;
	margin-right:40px;
	margin-top:35px;
}

div.searchFail div.rightCol p {
	font-weight:bold; 
	color:#900;
	font-size:18px; 
	margin: 20px 10px 0 13px;
}

div.searchFail div.rightCol ul { 
	margin:0 10px 20px 15px;
	list-style:url(images/sm_red_arrow.png) inside
	
}

div.searchFail div.rightCol ul li { 
	margin-top:10px; 
}


/* PAGE NOT FOUND */

.pagenotfound {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
}

.pagenotfound .notfound_hdr {
	font-size: 24px;
	color: #900;
	font-weight: bold;
}

.pagenotfound .average_review {
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.pagenotfound .notfound_cata {
	font-size: 12px;
	color: #000;
	font-weight: normal;
	text-decoration:underline;
}

.pagenotfound .notfound_bg {
	border: 1px solid #f3f3f3;
	background-image: url(images/notFound_bg.gif) repeat-x top;
	background-color: #eaecf0;
}

.pagenotfound .notfound {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

.pagenotfound .notfound_no {
	font-size: 18px;
	color: #900;
	font-weight: bold;
}

.pagenotfound .body_copy {
	color: #000;
	font-size: 12px;
	font-weight: normal;
}

 /* error messages */
.body .error_sec { 
	border-bottom: 1px dotted #555;
}

.error_sec {
    width: 100%; 
	clear: both;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: #fffdef;
	display: table;
	padding-top:15px;
}

.error_icon {
	background-position: -305px -235px;
	width: 20px;
	height: 20px;
	float: left;
	margin-right:8px;
	margin-left:8px;
}

.error_sec .error { 
	color: #d30509; 
	font-size: 11px;
	line-height: 14px;
	float: left;
	padding: 0 3px 5px 0;
}

.error span {
	display:block;
}

span#customErrMsg {display:none}

input.highlight, select.highlight, textarea.highlight{
   background-color: #fffa7e !important;;
}

label.highlight, p.highlight, div.highlight, hdr.highlight  {
   color: #f00 !important;
}

/* this must be last */
.hide, .error_hide { display: none;}

 /* end error messages  */