/* GLOBAL*/

/*display none*/
.dealalert_ext, #searchBox, #tab_body .topsell_all {display:none}

/*header*/
header ul#top_cats li.last  {display:none}
#unselectedNav {float:left}
header nav.menu .showmenu {}
header nav.menu ul li div.navbbdr {}
header nav.menu .showmenu nav.maincat ul  {height:auto}
header nav.menu nav.maincat ul li {margin-bottom:0}
header nav.menu nav.maincat ul {width:auto;}
header nav.menu .showmenu {margin-left:-81px;width:1000px;}
header ul#top_cats {height:auto}
header nav.menu nav.cat p {padding-bottom:0; margin-bottom:20px;}
header nav.menu nav.cat {width:770px;padding-left:15px;height:520px}
header nav.menu nav#top_cats_more {width:773px;}
header#global .line {margin-left:-360px;}
header .search input.search_nav.btn {border:none}
#searchInput {margin-left:0}
header .search input {width:410px;}
header .shopcart {margin-left:0;clear:both;position:relative;margin-top:17px;}
header .menu_search {margin-top:-6px}
header chkout.line {margin-left:-350px;}


/*log in*/
.login .bdr {padding-top:10px}
.login .bdr .sec {height:200px}

/*footer*/
footer ul.soc_med {margin-top:15px;}
#email_alerts fieldset {margin-left:-30px; margin-top:-60px;}

/* sliders */
#popularAddOnsSlider  {clear:both;margin-top:40px;}
.bundles ul.prod li {float:left}
#addOnSlider {width:930px;margin-left:0}
#addOnSlider .soldpkg {width:140px}
#addOnSlider .pricing {float:none}
#addOnSlider .prices {float:right}

/* prod detail*/
#prod_body #details .btns {width:150px}
#prod_body #details .btns A.email.btn {float:left;background-position-y:20%;width:40px;}
.prevArrow, .nextArrow {display:none}
div.prodDetailContainer {width:1000px}


#mask {
	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter:alpha(opacity=80);
}
 
.disableMask {
	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    filter:alpha(opacity=0);
}
 
#order_review .order #order_fix {position: relative !important;width: 220px;}
.alsobuy {display:none}

/*overrride jquery*/
#toptensell, #activate, #outer_container {display:none !important}

/* WARRANTY */
.warrantyContainer {display:block;}

/*pic group*/
#popularAddOnSlider {clear:both}
#uladdOnSlider li {float:left}
.picgroups_list ul.prod li {clear:none}

/*cart page*/
table.cart tbody tr td a.addons {margin-left:0}

/*check out complete */

/* pop ups*/
#emailProduct1_pop, #shipAddressAdd_pop {width:600px}
#emailProduct1_pop .closeBtn a,  #shipAddressAdd_pop .closeBtn a {margin-top:-35px;}

/* checkout*/
#checkout_body .payments {height:250px;}