header,nav,section,article,aside,footer,hgroup {display: block;}
.dealalert_ext {display:none}

#mask {
	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter:alpha(opacity=80);
}
 
.disableMask {
	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    filter:alpha(opacity=0);
}
 
#order_review .order #order_fix {
    position: relative !important;
    width: 220px;
}

/*overrride jquery*/
#toptensell {display:none !important}

.dealalert_ext {display:none}

header ul#top_cats li.last  {display:none}
.alsobuy {display:none}

.prevArrow, .nextArrow {display:none}
div.prodDetailContainer {width:1000px}
