/*  home page html area */
.regions {
	width:890px;
	margin:0 auto;
	height:50px;
	padding-left:60px;
}

.regions p {
	font-size:14px;
	font-weight:bold;
	float:left;
	width:150px;
	padding-top:3px;
}

.regions ul li {
	float:left;
	width:200px;
	padding:5px 0 5px 40px;
}

.regions ul li:first-child {
	background: url(images/ico_ftr_USflag.jpg) no-repeat;
	font-weight:bold;
	width: 180px;
}

.regions ul li:nth-child(2) {
	background: url(images/ico_ftr_CAflag.jpg) no-repeat;
}

.regions ul li:last-child {
	background: url(images/ico_ftr_MXflag.jpg) no-repeat;
}

.regions ul li:nth-child(2) a, .regions li:last-child a {
    text-decoration: underline;	
}

/*  config items */
.config .prod_sel, .configTop  .prod_sel {
   width: 50px;
   height: 50px;
   float: left;
   margin: -10px 0 0 40px;
}

.config .hdr, .configTop .hdr {
   font-size: 15px;
   color: #454545;
   margin: 3px 0;	
}

.config img  {
   width: 50px;
   height: 50px;
}

.config ul li div img {
   width: 35px;
   height: 35px;
}

.config ul li div  {
	width:40px;
	float:left;
}

#details .config ul li p {
	float:left;
	width:285px;
	padding-bottom:0;
	line-height:normal;
	color:#333;
}

.config ul li  {
	height:auto;
	display:table;
	clear:both;
	margin-bottom:10px;
	margin-left:5px;
	border-bottom:1px solid #999
}

.config ul li:first-child {
	margin-top:5px;
}

.config ul li:last-child {
	border-bottom:none;
	margin-bottom:5px;
}

.config {
	margin-top: 20px;
	clear: both;
	width: 400px;
	height: 50px;
	margin-bottom:30px;
}

.config .listBox {
	border: 1px solid #999; 
	height: 25px;
	float: left;
	width: 260px; 
	display: inline-block;  
	clear: both; 
}

.config .listBox span.selectedItem, .config .listBox span.selectedItem   {
	cursor: pointer; 
	padding: 7px 5px 0;
	width: 250px;
	color: #333;
	float:left;
}

.configArrow {
	background: url(images/sprite_prod.png) no-repeat -275px -90px; 
	width: 30px;
	height: 15px;
	cursor: pointer;
	margin:-10px 0 0 265px;
	float:left;
}


div.config ul  {
	clear: both;
	margin-top:25px;
	width: 360px; 
	border: 1px solid #ccc;  
	background: #f6f6f6; 
	padding-top: 2px; 
	display: none; 
	text-align: left; 
	cursor: pointer;
	position: absolute; 
	border-bottom: 1px solid #ccc; 
	height:350px;
	overflow:auto; 
	z-index: 1000;
	/*margin: -3px 0 0 -1px;*/
}

.configList ul li, .configTopList ul li {
	display: block; 
	line-height:14px; 
	padding: 2px 10px; 
	cursor: pointer;
	height: 50px;
	clear: both;
	border-bottom: 1px solid #aaa;
}

.configList ul li:hover, .configTopList ul li:hover { 
   color: #f6f6f6; 
   background: #0081b0; 
	cursor: pointer;
}	

.configList ul li div, .configList ul li p, .configTopList ul li div, .configTopList ul li p {
	float: left;
}

.configList ul li p, .configTopList ul li p {
	line-height:normal; 
	font-size:11.5px;
	margin: 5px 0 0 10px;
	width: 160px;
	color: #333;
}

.config .price_sel, .configTop .price_sel {
    color: #c00;
	font-size: 11px;
	float: left;
	margin: 5px 0 0 5px;	
}


/* home page promos*/
#home_body .promos {
    width: 1000px;
	display:table
}

#home_body .mainpromo,#home_body .placeHolderImg  {
   float: left;
   width: 700px;
   height: 350px;
   margin-right: 10px;	
}

#home_body .mainpromo ul li img {
   width: 700px;
   height: 350px;
}

/* thumbnail images */
#home_body .promos .jcarousel-control img {
	width:45px;
	height:45px;
	border:4px solid #999;
	display:block;
	margin-bottom:10px;
	opacity: .85
}


#home_body .mainpromo .jcarousel-control {
	position:absolute;
	z-index:100;
	margin-left:620px;
	margin-top:40px;
	cursor:pointer;
	
}

#home_body .mainpromo .jcarousel-skin-tango .jcarousel-clip-vertical {
    height: 350px;
    width: 700px;
}

#home_body .mainpromo .jcarousel-skin-tango .jcarousel-container {
    background: none;
    border: 0;
    border-radius: 0;
}

#home_body .mainpromo .jcarousel-skin-tango .jcarousel-item {
    height: 350px;
    width: 700px;
}

#home_body .mainpromo .jcarousel-skin-tango .jcarousel-container-vertical {
    height: 350px;
    width: 700px;
}

#home_body .dealalert {
   float: left;
   width: 285px;
   height: 350px;
   margin-right: 5px;	
}

#home_body .dealalert img, #home_body .dealalert_ext img {
   width: 285px;
   height: 160px;
}



/* chat window */

.chat_window {
   width: 420px; 
   background: url(images/chat_bg.jpg) bottom no-repeat; 
   height:490px; 
   margin: 0 auto;
}

.chat_window .chat_hdr, .chat_window .chat_title {
	width: 420px;
	height: 67px;
}

.chat_window .chat_hdr {
	width: 420px;
	height: 67px;
}

.chat_window .chat_form  {
   padding: 15px 50px;
}

.chat_window .chat_form label {
   font-weight: bold;
   display: inline-block;
   margin-bottom: 25px;
   padding-right: 20px;
}

.chat_window .chat_form br {
   margin-bottom: 20px;	
}

.chat_window .chat_form input[type="text"] {
   width: 230px;
   display: inline-block;
}

.chat_window .chat_form textarea {
   width: 230px;
   height: 50px;
   display: inline-block;
   margin-top: -20px;
}

.chat_window .chat_form input[type="radio"] {
   width: 40px;
   margin-bottom: 10px;
   display: inline-block;
}


.chat_window .chat_dept {
   margin-top: 25px;	
}

.chat_window .dept_sel {
   margin-top: -15px;	
}


@media screen and (max-width: 1300px)  {

#home_body .dealalert_ext {
   display: none;
}

}

@media screen and (min-width: 1300px)  { /* max size design 1300px */

#home_body .promos {
    width: 1300px;	
}

#home_body .dealalert_ext {
   float: left;
   width: 285px;
   height: 350px;
   margin: 0 10px 0 5px;	
}

}




/* --------------------------------------- HOME PAGE - BRANDS --------------------------------------- */

.brands {
	float:left;
	font-weight:bold;
	font-size:15px;
	color:#00516c;
	margin: 5px 0 0 15px;
}

.brand_alpha  {
	float:left;
	margin-left: 25px;
	width: 850px;
	margin-bottom: 20px;
}

.brand_alpha a{
	float: left;
	font-weight:bold;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	border-left: 2px solid #0177a4;
	padding: 5px 10px;
	margin: 0;
	FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0177a4, endColorstr=#035b81); 
    background: -webkit-gradient(linear, left top, left bottom, from(#0177a4), to(#035b81)); /* for webkit browsers  */
    background: -moz-linear-gradient(top,  #0177a4,  #035b81); /* for firefox 3.6  */
	background: -o-linear-gradient(top,  #0177a4,  #035b81);
	background:#035b81;
	cursor: pointer;
	display: block;
}


.brand_name {
	padding:0 10px 25px 0; /* DEV: added padding bottom */
	margin:15px 0;
	border-bottom: 1px solid #007098; /* DEV: added */
	clear: both;
}

.brand_col {
	float:left;
	width:225px;
}

.brand_col a h5{  /* DEV: added styles */  
	color:#414141;
	line-height:15px;
	text-decoration:none;
	cursor: pointer;
	padding: 2px 0 2px 30px;
}

.search_results { 
    font-weight:bold; 
	margin: 10px; 
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;

}
.search_Found { font-size: 16px; font-weight:bold;}
.not_found { color:#990000; font-size: 13px; }
