/* --------------------------------------- LEFT NAVIGATION --------------------------------------- */

#leftnav {
    width: 180px; /* real width is 180 */
	float: left;
}

#leftnav .hdr {
    font-weight: bold;
	font-size: 13px;
	padding: 5px;
	clear: both;
}

#leftnav .no {
	color: #007ea7;
    font-weight: bold;
	font-size: 11px;
	padding: 1px 0 0 5px;	
}

#leftnav ul#subnav {
   width: 180px;
   padding: 5px 0;
   margin: 0 0 15px; 
   clear: both;
   border-bottom: 1px dotted #555;
   display: table;
}

#leftnav ul#subnav li {
   font-size:  11px;
   font-weight: bold;
   padding: 2px;
}

#leftnav ul#subnav li .value {
   color: #005671;
   padding: 0;
   margin: -17px 0 0 20px;
}

#leftnav ul#subnav li a.remove_all{
   color: #a00;
   font-size: 11px;
   text-decoration: underline;
   float: right;
   margin: 3px 0 10px;
}

#leftnav #facetnav  {
	clear: both;
	width:165px;
}

#leftnav_clearance {
     width: 190px;
	 padding-right: 20px;
	 float: left;	
}

#leftnav nav#catnav #moreFilters_cat {background:none;margin-left:0;padding-top:0;padding-left:0}

#leftnav nav#catnav ul, #leftnav_clearance nav#catnav ul  {
	margin: 7px 0 20px;
	width: 180px;
	clear: both;
}

#leftnav nav#catnav ul li, #leftnav ul#extras li  {
	background: url(images/leftnav_ico.gif) no-repeat;
	padding: 2px 5px 3px 15px;
	margin-left: 5px;
	font-size: 10px;
	color: #666;
	margin-bottom: 2px;
}

#leftnav_clearance nav#catnav ul li  {
	background: url(images/arrow_blk.gif) no-repeat;
	padding: 2px 5px 3px 15px;
	margin: 0 20px;
	font-size: 12px;
	color: #000;
	margin-bottom: 2px;
}

#leftnav_clearance nav#catnav ul li a {
	font-weight: bold;
}

#leftnav nav#catnav ul li h2, #leftnav_clearance nav#catnav ul li h2{
	display: inline;
}

#leftnav_clearance nav#catnav ul li.sel h2 a{
	color: #c00;
}

#leftnav #searchnav {
    line-height: 30px;
	text-align: center;
}

#leftnav #searchnav span {
    color: #f00;
	font-weight: bold;
}

#leftnav #searchnav h1 {
	font-size: 14px;
	display: inline;
	font-weight: bold;
}

#leftnav #searchnav p.hdr, #leftnav_clearance p.hdr{
	font-size: 16px;
	font-weight: bold;
	background:url(images/sprite_prod.png) no-repeat -213px -1250px;
	width: 180px;
	height: 42px;
	padding: 5px 0 0;
	border-bottom: none;
}


#leftnav_clearance p.hdr{
	padding-top: 7px;
	text-align: center;
}


#leftnav p.facet_cat{
	font-size: 12px;
	font-weight: bold;
}

#leftnav .catfacet {
	color: #333;
    font-weight: bold;
    padding: 0 5px;
}

#leftnav #facetnav .type, #leftnav #type_top10, #leftnav #type_extras {
	color: #333;
    font-weight: bold;
    padding: 0 5px;
	margin-top: 10px;
}

#leftnav #facetnav p.type {background-color:#f2f7f9;padding-top:5px;padding-bottom:5px;cursor:pointer;}
#leftnav #facetnav p.type span {
	background:url(images/sprite_prod.png) no-repeat -68px -348px;
	width:10px;
	height:5px;
	float:right;
    margin-top:2px
}

#leftnav #facetnav p.type span.closed {width:5px;height:10px;background-position:-82px -349px;}
#leftnav #facetnav ul.closed {display:none}
#leftnav #facetnav p.type.slider {background:none}

#leftnav #facetnav ul {
	margin-bottom: 20px;
	width:165px;
	margin-left:5px;
}

#leftnav #facetnav ul li {
	font-size: 10px;
	color: #666;
    clear: both;
	margin-top:8px;
}

#leftnav #facetnav ul li input {
	margin-left:3px;
	margin-right:5px;
	width:13px;
}

#leftnav #facetnav ul li label {
	margin: -15px 0 0 20px;
	width: 144px;
	color: #005671;
	font-size: 12px;
	display: block;
}

#leftnav #facetnav ul li label span {
	color: #666;
	font-size: 10px;	
}


#leftnav nav#catnav ul li a, #leftnav #facetnav ul li a {
	color: #005671;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
}

#leftnav nav#catnav ul li a.sel {
	color: #005671;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	text-decoration: underline;
}

#leftnav #facetnav ul.moreFilters, #leftnav nav#catnav ul.moreFilters {margin-left:0;margin-bottom:0}
#leftnav #facetnav ul.moreFilters li:first-child {margin-top:0}

#leftnav #facetnav ul li.more_facets {
	padding-left: 25px;	
}

#leftnav ol#top10 {
	margin: 0 0 0 10px;
	padding: 0 5px 0 15px;
	list-style: decimal;
}

#leftnav ol#top10 li {
	padding: 5px 5px 3px 0;
	font-size: 11px;
	color: #000;
}

#leftnav .search_within, #leftnav .recent_view {
    margin: 15px 0;	
}

#leftnav .search_within label {
     font-size: 13px;
	 font-weight: bold;	
}

#leftnav .search_within input[type="text"] {
     margin: 7px 0;
	 width: 160px;
}

#leftnav .chat {
	margin: 0;
	padding: 0;
}

#leftnav .chat a{
	background: none;
}

#leftnav .chat img {
	width: 165px;
}

#leftnav .recent_view .subhdr {
    font-weight: bold;
    clear: both;
    margin: 7px;
	border-bottom: 1px solid #e9e9e9;	
}

#leftnav ul.rec_prod {
   margin-bottom: 20px;	
}

#leftnav .recent_view ul.rec_prod, #leftnav .recent_view ul.rec_cat {
   padding-bottom: 30px;	
}

#leftnav .recent_view ul.rec_prod li, #leftnav .recent_view ul.rec_cat li {
   clear: both;
   width: 180px;
   margin-bottom: 10px;	
}

#leftnav .recent_view ul.rec_prod li .prod_img {
   width: 60px;
   height: 50px;
   padding: 0;	
   float: left;
}

#leftnav .recent_view ul.rec_prod li .prod_img img {
   width: 50px;
   height: 40px;	
}

#leftnav .recent_view ul.rec_prod li a {
   width: 105px;
   height: 37px;
   overflow: hidden;
   float: left;  
   font-size: 11px;
   text-decoration: underline;
}

#leftnav .recent_view ul.rec_cat li {
   background: url(images/sprite_bg.png) -277px -2px no-repeat;
   margin-left: 5px; 
   padding-left: 18px;
}

#leftnav .recent_view ul.rec_cat li a{
   font-size: 11px;
   text-decoration: underline;
}

#leftnav .search_landing {
   padding-left: 2px;	
}

#leftnav .search_landing img {
   width: 175px;	
}


 /* Price Range Slider ----*/ 
 
.ui-slider { 
   position: relative; 
   text-align: left; 
   width: 110px; 
   margin: 0 0 25px 10px; 
   background: #dfe7ee;
   FILTER:  progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffffff, endColorstr=#dfe7ee); 
   background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#dfe7ee)); /* for webkit browsers  */
   background: -moz-linear-gradient(left,  #ffffff,  #dfe7ee); /* for firefox 3.6  */
   background: -o-linear-gradient(left,  #ffffff,  #dfe7ee);
}
 
.ui-slider .ui-slider-handle { 
    position: absolute; 
	z-index: 2; 
	width: 20px; 
	height: 25px; 
	background:url(images/sprite_prod.png) -180px -190px no-repeat;
	cursor: pointer; 
	margin: 0 0 0 -10px 
} 
.ui-slider .ui-slider-range { 
    position: absolute; 
	z-index: 1; 
	display: block; 
	border: 0; 
}  
.ui-slider-horizontal { 
    height: 12px; 
	border: 1px solid #dfe6ef;
} 
 
#price_range  input.range { 
	font-size:12px;
	font-weight:bold;
	color:#b00;
	border: 0;
	margin: 10x 5px 3px 8px;
	box-shadow: none !important;
	background: none !important;
}






