/* credit card security id popup */
.cc_secid_popup {padding: 10px;	}
.cc_secid_popup img {width: 460px;height: 330px;}
#creditCardHelpMessage {width: 480px;}

/* captcha_ */
.captcha_image_acct {width:100px;height:31px;}

/* ajax progress indicator */
#progressbar_pop {
	width:100px;
	height:100px;
	position:absolute;
	z-index:50000;
}

#progressbar_pop div span {
	width:100px;
	height:100px;
	display:inline-block;
	background: url(images/indicator.gif) no-repeat;
}

#actinfo_main ul.info #progressbar_pop {
	width:235px;
	height:225px;
	margin-left:-15px;
}
#actinfo_main ul.info #progressbar_pop div {text-align:center;}
#actinfo_main table.account #progressbar_pop {position:relative;width:100%}


/* GENERAL CSS FOR ALL POP UPS */
#activate {display:none}
.ui-draggable {cursor:move}
#video_body {padding:20px;}

li.tab_video .bkg, .video_img .bkg {
	width:70px; 
	height:50px; 
	background-color:#000;
	border-radius:8px;
	position:absolute;
	opacity:.8
}

li.tab_video .bkg {margin-left:15px;margin-top:25px;}
li.tab_video .over, li.video div.over, .video_img .over {background-color:#C00}

.arrowVideo { 
	background-color: transparent; 
	border-style: solid; 
	height: 0px; width: 0px; 
	border-color: transparent transparent transparent white; 
}

li.tab_video .arrowVideo { 
	margin-top: 15px; 
	margin-left: 30px; 
	border-width: 10px 20px;
}

.video_img .arrowVideo { 
	margin-top: 15px; 
	margin-left: 30px; 
	border-width: 10px 20px;
}

.video_img .bkg {margin-left:102.5px;margin-top:52.5px;}

li.video .arrowVideo { 
	margin-top: 7px; 
	margin-left: 8px; 
	border-width: 6px 12px;
}

li.video .bkg {
	background-color:#000;
	width:25px; 
	height:25px; 
	border-radius:3px;
	position:absolute;
	margin-left:8px;
	margin-top:8px;
	opacity:.7
}

.closeBtn, .closeBtnWarning {
    height: 30px;
	line-height:50px;
	margin-left:15px;
	font-weight:bold;
	font-size:15px;
}

ul.actinfo li a.closeBtn {margin-top: 15px;}

.closeBtn a, .closeBtnWarning a,
#prodInfo_txt div.prodBtns a.closeBtn  {
	background: url(images/sprite_icon.png) no-repeat scroll -120px -104px;
    float: right;
    height: 16px;
    overflow: hidden;
    width: 16px;
	margin-right:15px;
	margin-top:15px;
}

.checkout_change a.closeBtn {font-size: 14px;}

.popUpWin .body, div.popUpExist .body, div.warning .body {
	background-color:white;
	padding:0;
	display:table;
	margin:12px;
	min-width:350px;
	cursor:default;
}

.popUpExist div.contents, div.warning div.contents {margin:10px;}
div.warning div.msg p {font-weight:bold;text-align:center;}
#prodInfo_txt div.prodBtns div.contents a {background:none;margin-bottom:10px;text-decoration:underline}
.popUpWindowLink, a.popUpWindowLink {cursor:pointer;}

.popUpWin,.popUpExist, div.warning  {
	background-color: #E3E7EA;
	position:fixed; 
	border:1px solid black;
}

div.warning {z-index:65000;}

/* pop up widths*/
.popUpExist, div.warning{min-width:376px;display:none;}
#shopLists_pop {width:924px;}
#quickOrder_pop, #quickOrderDiv {width:811px;}
#pzTemplate_pop {width:1012px;}
#pzReview_pop {width:879px;}
#editAddress_pop { width:564px;}
#addons_cart_pop { width:988px;}
#picGroupCompare_pop { width:684px;}
#editPayment_pop { width:564px;}
#addPayment_pop { width:564px;}
#addressValidation_pop { width:684px;}
#writereviewmain_pop { width:894px;}
#calculateShipping_pop { width:550px;}
/*#warranty_pop { width:1046px;}*/
#askQuestion_pop { width:564px;}
#emailCart_pop { width:564px;}
#saveCart_pop { width:564px;}
/* pop up widths*/

.popUpWin,.popUpExist {z-index:50000; }
div.popUpWin div.contents {margin:15px;display:table;min-width:350px;}
div.popUpWin .message {color:#900;font-weight:bold;}
div.popUpWin div.msg p {line-height:normal}
div.popUpWin a.popBtn { 
    background-image: linear-gradient(#00CC00, #009900);
    border: 1px solid #009900;
    color: #FFFFFF;
    text-decoration: none;
	font-weight:bold; font-size:12px;
	padding:3px 10px 3px 10px;
	border-radius: 2px 2px 2px 2px;
}

/* shipping pop up*/
#gec_pop {width:800px}
#gec_pop .hdr, #gec_pop .subhdr {display:none}
#gec_pop .shippingCharges.body {background-color:white;margin:20px; padding:30px; height:600px; overflow:auto;cursor:default;display:block}
#gec_pop .shippingCharges p {margin-bottom:10px;line-height:normal}
#gec_pop .shippingCharges p:nth-child(3),#gec_pop .midhdr, #gec_pop .subhdr_bd {font-weight:bold}
#gec_pop .iconSubhdr, #gec_pop .subhdrBlue {font-weight:bold;margin-bottom:10px;}
#gec_pop .iconReturnWarranties, #gec_pop .subhdr_bd {margin-top:10px;}
#gec_pop li {line-height:normal}
#gec_pop ul {list-style: disc inside;margin-left:10px;}
#gec_pop .returnCenterMenu {margin-bottom:10px;}
#gec_pop .subhdr.mp {display:block;font-weight:bold;margin-bottom:10px;}
#gec_pop div.closeBtn {display:block}
#static_body div.closeBtn {display:none}


/* feedback pop up */
#feedBack_pop .contents p {
    line-height: normal;
	width:600px;
}

/* PROD DETAIL PAGE */
div.thumbArea #more a {
    background: url(images/more.jpg) no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 38px;
    width: 40px;
	display:inline-block
}

div.thumbArea {
    clear: both;
    float: left;
    margin: 10px;
	margin-left:0;
    width: 50px;
}

#prod_body ul.prod_imgs {
    clear: none;
    float: none;
    margin: 0;
    width: auto;
}

/* WARRANTY */
.warrantyContainer {
	background-color:white;
	display:table;
}

div.otherInfo {margin-bottom: 10px;margin-left: 400px;width: 600px;}

.leftWarranty {
	float:left; 
	width:320px;
	margin-right:30px;
	border:1px solid #007dab;
	background-color:#F3F7F8;
	margin-top:-40px;
}

.leftWarranty p, .leftWarranty ul {
	padding-left:15px;
	padding-right:15px;
}

.leftWarranty p.hdr, .rightWarranty p.hdr{
	color:#032a5e;
	margin-bottom:15px;
	margin-top:10px;
	font-size:17px;
}

.midWarranty  p.hdr {
	color:#0B7599;
	font-size:14px;
}

.leftWarranty p.sub {
	color:#464646;
	margin-bottom:5px;
	font-weight:bold;
}

.leftWarranty ul {
	margin-bottom:10px;
}

.leftWarranty ul li {
	background:url(images/warArrow.png) no-repeat 0 2px;
	padding-left:8px;
	margin-bottom:5px;
	font-size:11px;
}

.rightWarranty {
	float:right; 
	width:320px;
}

a#addWarrantyBtn {
    background-position: 0 -606px;
	height: 29px;
	width: 162px;
}

.rightWarranty a#noThanks {
	border:1px #dedede solid;
	background-color:white;
	color:#5D5B5B;
	margin-right:20px;
	font-weight:bold; 
	font-size:15px;
	padding:5px 10px;
	border-radius: 5px;
	text-decoration: none;
	float:left;
}

.rightWarranty ul {
	margin-top:15px;
	margin-bottom:25px;
}

.rightWarranty ul li, .rightWarranty p {
	margin-top:8px;
	line-height:normal;
}

.rightWarranty p:nth-child(2) {
	color: #0B7599;
	font-size:16px;
}

.rightWarranty p:nth-child(3) {
	color: #5D5B5B;
	font-size: 16px;
    font-weight: bold;
}

.rightWarranty p:nth-child(4) {
	color:#900;
	font-weight:bold;
	font-size:22px;
	margin-top:20px;
}

.rightWarranty ul li {
	background:url(images/star.png) no-repeat;
	padding-left:20px;
	margin-bottom:10px;
}

.midWarranty {
	float:left; 
	width:auto;
	margin-right:50px;
}

.midWarranty ul {
	margin-top:10px;
}

.midWarranty ul li {
	margin-bottom:10px;
}

.midWarranty ul li p {
	margin-bottom:5px;
}

.midWarranty ul li p:first-child {
	font-weight:bold;
}

.midWarranty ul li:nth-child(odd) {
	vertical-align:top
}

.midWarranty .warrantyBadge {
	background:url(images/warranty_sprite.gif)no-repeat -160px 0;
	width:160px; 
	height:160px;
	margin-bottom:10px;
	background-position: 0 0;
	margin-left:25px;
}

#warrantyForm li p:nth-child(3) {
	color:#990000;
	font-weight:bold;
}

#warrantyForm ul li div {
	float:left;
	margin-right:5px;
}

#warrantyForm ul li {
	clear:both;
	margin-bottom:10px;
	display:table;
}

#warrantyForm ul li div input.warrantyBtn  {
	height:14px;
	display:inline-block;
}

#warranty_pop .warrantyContainer {
	margin:12px;
	cursor:default;
}

#warranty_pop .midWarranty {
	width:270px;
	margin:10px 30px 0 15px;
}

#warranty_pop .rightWarranty{
	width:340px;
	margin-right:10px;
	margin-top:10px;
}

#warranty_pop .midWarranty p.hdr {
	margin-left: 30px;
	margin-bottom:20px;
}

#warranty_pop .rightWarranty p.hdr {
	font-size: 22px;
	margin-top: 30px
}

#popUpWarrantyProductDetail_pop {padding:20px;padding-top:0;}
#popUpWarrantyProductDetail_pop .leftWarranty {display:none;}
#popUpWarrantyProductDetail_pop .warrantyContainer {width:700px;}


/* QUICK ORDER BUTTON IN HEADER AREA*/
.quickOrder .quickForm {
    background-color: #F3F7F8;
    border: 1px solid #08385C;
    height: 425px;
    margin-top: 12px;
    width: 96%;
}

.quickOrder  div.np {
    height: 451px;
}
.quickOrder .leftCol {
    width: 424px;
	margin-right:25px;
}

.quickOrder input.quantity, .quickOrder input.item {
    margin-bottom: 13px;padding: 3px;
}

.quickOrder input.item {
    margin-right: 40px;
    width: 160px;
}

.quickOrder input.quantity {
    width: 55px;
}

.quickOrder  .leftCol, .quickOrder .rightCol {
    float: left;
}

.quickOrder form {
    padding-left: 30px;
}

.quickOrder .rightCol {
    width: 336px;
}

.quickOrder div.leftCol p:first-child {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 5px 15px 0;
    text-align: center;
}

.quickOrder p {color: #006BA2;}

.quickOrder div.leftCol p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    padding-left: 38px;
    width: 330px;
}

.quickOrder div.rightCol p {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
}

div.quickForm div {
    margin-bottom: 10px;
}

div.quickForm span:first-child {
    padding-left: 30px;
    padding-right: 130px;
}
div.quickForm span {
    color: #08385C;
    font-size: 12px;
    font-weight: bold;
}

div.quickForm input.btn1 {
	cursor:pointer;
    padding: 2px 5px;
    background-image: linear-gradient(#00CC00, #009900);
    border: 1px solid #009900;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    outline: medium none;
    text-decoration: none;
}


/* shipping pop up*/
.calculateShippingContainer {background-color:white;padding:15px;}
div.calculateShipping {display:table;width:550px;}
div.calculateShipping div.body p{margin-bottom:15px;}
div.calculateShipping div.body p:first-child{font-weight:bold; font-size: 14px;}
div.calculateShipping div.body form p:first-child{text-align:left;}
div.calculateShipping div.body form p:last-child{margin-left:160px;}
div.calculateShipping div.contents form {width:400px;margin-left:35px;margin-bottom:10px;margin-top:35px;display:table;}
div.calculateShipping div.contents form p{display:table}
div.calculateShipping div.contents form label{width:130px; display: inline-block; font-weight: bold;}
div.calculateShipping div.contents form select, div.calculateShipping div.contents form input,
div.calculateShipping div.contents form span {margin-left:30px;}
div.calculateShipping div.contents form span.req {margin-left:0;}
div.calculateShipping div.contents .message {margin-bottom:0;font-size:11px; line-height:normal;}
div.calculateShipping div.contents form span {margin-left:30px;}


/* COMPARE EMAIL POP UP*/
div.EmailProductCompare {display:table;}
div.EmailProductCompare div.body p{margin-bottom:15px;}
div.EmailProductCompare div.body p:first-child{text-align:center;font-weight:bold;}
div.EmailProductCompare div.body form p:first-child{text-align:left;}
div.EmailProductCompare div.body form p:last-child{margin-left:190px;}
div.EmailProductCompare div.contents form {margin-bottom:10px;margin-top:35px;display:table}
div.EmailProductCompare div.contents form p{display:table}
div.EmailProductCompare div.contents form input {width:150px;margin-left:30px;}
div.EmailProductCompare div.contents form label{width:160px;float:left;}
div.EmailProductCompare div.contents form select,
div.EmailProductCompare div.contents .message {margin-bottom:0}

/* QUICK VIEW POP UP */
div.quickView .leftCol {float:left;margin-right:30px;width:275px;}
div.quickView .leftCol a:first-child img {width:275px;height:275px;}
div.quickView .rightCol {float:left;width:350px;}
div.quickView .addtocart {
    background-position: -222px -203px;
    display: inline-block;
    height: 37px;
    vertical-align:middle;
    width: 148px;
}

div.quickView #quickViewCompare ul {margin-left: 10px;margin-top: 10px;height:45px;}
div.quickView #quickViewCompare ul li.box {background:url(images/quickview_comparebox.gif) no-repeat; width:30px;height:30px;border:none;margin-top:0}
div.quickView #quickViewCompare ul li {border: 1px solid #ccc;float: left;height: 15px;margin-left: 10px;margin-top: 5px;padding-bottom: 10px;width: 28px;}
div.quickView #quickViewCompare ul li img {width:22px; height:22px;padding-left:12px; padding-top:8px;}
div.quickView div.compare {border:2px solid #dfe8eb;width:180px;margin-top:-5px;margin-left:30px;display:table;padding-bottom:10px;}
div.quickView #quickViewCompare ul li:first-child {margin-left:0}
div.quickView div.compare img:last-child {width:69px; height:21px;display:inline-block;float:left;}
div.quickView .compareImg {width:auto;height:auto;margin-top:50px;display:block;margin-left:55px;position:relative;cursor:pointer;}
div.quickView div.compare p {float:left;font-size:10px;width:70px;margin-right:20px;color:#004962;padding-left:10px;float:left;clear:both;}
div.quickView div.info, 
div.quickView div.info h1 {margin-bottom:20px;}
div.quickView div.info p { margin-bottom:10px;}
div.quickView div.info h1 a {text-decoration:underline;margin-bottom:10px;color:black;font-weight:bold}
div.quickView div.info span,
div.quickView div.prodSpec p {color: #00668A;}
div.quickView div.info input {width:30px;margin-right:30px;margin-left:5px;}
div.quickView div.info p.qty,
div.quickView div.prodSpec p {margin-bottom:10px;font-weight:bold;}
div.quickView div.prodSpec ul,div.quickView div.prodSpec ul li {display:table;width:100%;}
div.quickView div.prodSpec ul li {font-size:11px;margin-bottom:6px;line-height:normal;padding:2px 0 2px 3px;}
div.quickView div.prodSpec ul li:nth-child(even) {background-color:#eee}
div.quickView div.prodSpec ul li:last-child {;margin-bottom:0;}
div.quickView div.prodSpec h1 {margin-top:25px;clear:both;}
div.quickView div.prodSpec h1 a {color: #002655;font-weight:bold;font-size:16px;margin-top:15px;text-decoration:underline}
div.quickView div.body p.nav {margin-top:25px;margin-bottom:15px;background-color:#f0f4f6;color: #004962;font-weight:bold;font-size:14px;width:100%;display:table;}
div.quickView div.body p.nav span {text-align:center;float:left;line-height:20px; width:81%}
div.quickView a#prevView, div.quickView a#prevView img {float:right;}
div.quickView div.body p.nav a:first-child img,
div.quickView div.body p.nav a:first-child {float:left;}
div.quickView div.body p.nav a {display:inline-block;}
div.quickView div.prodSpec ul li span {float:left;width:50%}
div.quickView div.prodSpec ul li span:first-child {font-weight:bold;}
div.quickView div.body p.nav a:last-child img {float:right;}
div.quickView div.body p.nav img { width:58px; height:21px;cursor:pointer}
div#quickViewCompare a {background:none;height:40px;}
#residentialAddress {width:450px}


/* Btns for message pop ups */
p.msgBtn {
	margin-top:15px;
	margin-bottom:10px;
	padding:3px 0;
	line-height:normal;
	text-align:center
}

.popUpExist div.msg p {text-align:center;}

p span.msgBtn {
	padding:5px 8px;
    border-radius: 4px;
	color:white; 
	font-weight:bold;
	cursor:pointer;
	width:auto;
}

.popUpExist div.msg p span#yes, p span#goBack {
	margin-right:10px;
	background-color: green;
	border:none;
}

.popUpExist div.msg p span#yes a {color:white;}
.popUpExist div.msg p span#no, p span#cancel {background-color: #900;}

/* ENLARGE POP UP SLIDER */
#popup_box_zoom .jcarousel-prev-disabled, 
#popup_box_zoom  .jcarousel-next-disabled {
	opacity:.25
}

#popup_box_zoom #imgContainer ul li img, 
#popup_box_zoom #imgContainer ul li {
    cursor: pointer;
    height: 67px;
    width: 67px;
}

#popup_box_zoom #imgContainer ul li {
    margin-bottom: 10px;
	height: 69px;
	width: 67px;
}

#popup_box_zoom #imgContainer ul li a {
	display:block;
}


.zoomBuy {
	height:40px;
}

/* ADD TO CART POP UP */

#addToCart_popUp {
    width: 990px;
}

.itemAdded {
	margin:0 auto;
	display:table;
	width:920px;
	border-top:1px solid #CCC; 
	margin-bottom:10px;
	padding-top:15px;
}

div.lineItem {font-weight:bold;width:920px;margin:20px 10px 10px 15px;display:table}
div.lineItem div {float:right;}
div.lineItem div.maxMinQty {float:left;color:#c00;}
div.lineItem div span, .itemAdded .cartPopPrice span, #warrantyPrice span {float:left;width:83px;text-align:center}
.itemAdded a img, .itemAdded a, .itemAdded .imgCol {width:100px; height:100px; float:left;}
.itemAdded .imgCol {margin-right:20px;}
.itemAdded .detailCol {float:left; width:500px;}
.itemAdded .detailCol a {width:auto;float:none;}
.itemAdded .detailCol h3 {margin-bottom:5px;}

.itemAdded .detailCol p {margin-bottom:5px;line-height:normal;}
.itemAdded .detailCol a, .itemAdded .detailCol p {color:#555}
.itemAdded .detailCol p span:first-child {font-weight:bold;}
.itemAdded .cartPopPrice span {font-weight:normal;}
.itemAdded .cartPopPrice {float:right;}

.viewItems {
	display:table;
	width:100%;
	clear:both;
	margin-bottom:10px;
}

.cartTabs {
	display:table;
	width:95%;
	margin: 0 auto;
}

.cartTabs .line {
	border-bottom:1px solid black;
	clear:both;
	position:relative;
	z-index:9;
	top:-1px;
}

.cartPopUp .cartTabs p.hdr {
	font-weight:bold;
	font-size:14px;
	margin-top:15px;
	width:auto;
	margin-left:25px;
	float:left;
	padding:0 20px;
	border-bottom:none;
	border-radius: 5px 5px 0 0;
	border:1px solid black;
	border-bottom:none;
	z-index:8;
	position:relative;
	height:40px;
	line-height:40px;
	cursor:pointer;
	background-color:#FFC;
}

.cartPopUp p.hdr.active {
	background-color:white;
	z-index:10;
	cursor:default;
}

.viewItems p {
	text-align:right;
	margin-right:20px;
	float:right;
	position:relative;
	z-index:10;
}

.viewItems span {
	float:left;
	padding-left:20px;
	line-height:25px;
	font-weight:bold;
}

.viewItems .btn.viewCartBtn {
	margin-left:25px;
}

.viewItems .btn.continueShop, .viewItems .btn.continueOnly {
	background:url(images/sprite_btns.png);
	height:27px;
	margin-left:40px;
}

.viewItems .btn.continueShop {
	width:142px;
	background-position: -155px -55px;
}

.viewItems .btn.continueOnly {
	width:80px;
	background-position: -155px -86px;
}

/* ADD TO CART POP UP SLIDER */

#addToCart_popUp .cartSlider {
	width:900px;
	margin-left:50px;
	clear:both;
	margin-top:20px;
	margin-bottom:25px;
}

#addToCart_popUp .cartSlider form {
	margin-top:5px;
}

#addToCart_popUp .closeBtn {
    margin-left: 20px;
}

#addToCart_popUp .closeBtn a {
    margin-right: 20px;
}

#addToCart_popUp .body {
    margin: 20px;
}

.cartSlider .prod_img {
    padding: 0;
}

.cartSlider .jcarousel-prev, 
.cartSlider .jcarousel-next {
    height: 46px;
    top: 35px;
    width: 25px;
	background: url(images/sprite_prod.png) no-repeat scroll;
    cursor: pointer;
    position: absolute;
}

.cartSlider .jcarousel-prev-horizontal {
    background-position: -210px 0;
    left: -30px;
}

.cartSlider .jcarousel-next-horizontal {
    background-position: -232px 0;
    right: 20px;
}

.addons_popup .cartSlider  {
    margin-left:60px;
}

.cartSlider .jcarousel-prev-disabled {
    background-position: -195px -148px;
}
.cartSlider .jcarousel-next-disabled {
    background-position: -220px -150px;
}

.cartSlider .jcarousel-clip {
	width:810px;
	 margin-left: 20px;
	overflow:hidden;
}

.cartSlider .jcarousel-item-horizontal {
   margin:0
}

.cartSlider  ul.prod li.jcarousel-item:first-child,
.cartSlider  ul.prod li.jcarousel-item:nth-child(4n+5){
    padding-left:0
}

.cartSlider ul.prod li.jcarousel-item:nth-child(4n+4){
    background:none;
	padding-right:0;
}

.cartSlider ul.prod li {
    background: url(images/div_prod.gif) repeat-y scroll right center;
	width: 180px;
	padding-right:15px;
	padding-left:15px;
}

.cartPopUp .body .cartSlider p.soldpkg {margin:0;}

.cartPopUp .body .cartSlider p.price {
	margin-left:0;
	margin-bottom:10px;;
}

.cartSlider ul.prod .btn.addtocart {
	background: url(images/sprite_btns_main.png) -239px -482px;
	width:42px;
	height:25px;
	display:inline-block;
	margin-left:10px;
	vertical-align:bottom;
}

.cartPopUp div.cartTabs.single p.hdr {
	margin-left:0;
	border:none;
	border-radius:0;
	float:none;
	background-color:white;
}

.cartSlider .prod .btns input.qty {width: 30px;}
.cartSlider .prod .btns input, .cartSlider .prod .btns label {float:none;}
.cartSlider  ul.prod .btns {display:table;margin-top:5px;}
.cartSlider ul.prod li:last-child  {margin-right:0;}
.cartSlider ul.prod li div.item {margin-bottom:10px}
.cartSlider ul.prod li div.prod_img, .cartSlider ul.prod li div.prod_img a,
.cartSlider ul.prod li div.prod_img img {width:122px;height:122px;display:block}

/* IMPORTANT here has to override: #account_body p, #account_new p settings */
/* This slider is also in tiger for quote suggestions */
.cartSlider ul.prod li div.info p.title, .cartSlider ul.prod li div.info p.title a {display:block;height:30px;overflow:hidden;width:100% !important;line-height:normal !important;font-size:11px !important }

/* for tiger only */
.cartPopUpQuote .cartSlider {padding-top:15px;padding-bottom:15px}
.cartPopUpQuote .cartSlider .jcarousel-next-horizontal {right: 10px;}
.cartPopUpQuote .cartSlider .jcarousel-clip {margin-left: 45px;}
.cartPopUpQuote .cartSlider .jcarousel-next-horizontal {right: 10px;}
.cartPopUpQuote .viewItems p input {background: url(images/sprite_btns_main.png) -185px -253px;width:161px;height:31px;display:inline-block;}
/* for tiger only */

div.warrantyCart {
	width:950px;
	display:none;
	margin-top:15px;
	margin-bottom:20px;
	height:250px;
}

.warrantyCart .midWarranty {width:auto; margin-left:50px;}
.warrantyCart .midWarranty .warrantyBadge {float:left;margin-left:0;margin-right:60px;} 
.warrantyCart #warrantyForm {float:right}
.warrantyCart .midWarranty #warrantyForm ul li p {font-size:11px; margin-bottom: 3px;}
.warrantyCart .midWarranty #warrantyForm ul li p.price {margin-bottom:0;}
.warrantyCart .midWarranty ul li p span {font-weight:normal}
.warrantyCart .midWarranty ul li p span.plan {font-weight:bold}
.warrantyCart .rightWarranty ul {margin:0}

.warrantyCart a#addWarrantyBtn {
	clear:both;
	margin-top:15px;
	margin-left:280px;
	display:block;
}

p#warrantyCart {
	margin-left:5px;
	padding-left:15px;
	padding-right:15px;
}

p#warrantyCart span:first-child {
	background:url(images/sprite_prod.png) -377px -1px;
	width:22px;
	height:22px;
	display:inline-block;
	margin-right:5px;
	vertical-align:-10%;
}

p#warrantyCart span.price.tag {
	background:none;
	display:inline;
	vertical-align:0;
}

#addWarranty {
	font-size:11px;
	font-weight:bold;
	float:left;
}

#warrantyPrice {display:table;width:249px; float:right;}
#warrantyPrice span:first-child {visibility:hidden;}

.cartSlider ul.prod a.btn.remove, .cartSlider .compsel, .cartSlider .sel, .cartSlider .see_pgroup,
.cartSlider .reviews, .cartSlider .freeship, .cartSlider .rebate_details, .cartSlider .add_compare,
.cartSlider .orig_price, .cartSlider .clearance_savings, .cartSlider ul.prod li .mailin_rebate,  .cartSlider a.more_info,
.cartSlider .clearance_price, .cartSlider .listprice { display:none;}

/*pzTemplate: For Personalization Product Customization*/
.pzTemplate #ajaxIndicator {bottom: 50%;position:absolute; width:500px;}
.pzTemplate .leftCol { float:left;width:500px;}
.pzTemplate .leftCol img { border:1px solid #d6d6d6;width:500px;}
.pzTemplate .rightCol { float:left; width:430px; padding-left:25px;}
.pzTemplate .rightCol .hdr { font-size:16px; font-weight:bold; padding:0 0 25px; line-height:normal; color:#01698E;}
.pzTemplate .rightCol .pzSizes { clear:both; padding-bottom:15px;}
.pzTemplate .rightCol .pzSizes label { clear:both; float:left; width:30%; margin:5px 5px 0 20px; font-size:12px; font-weight:normal;}
.pzTemplate .rightCol .pzSizes input { float:left; width:10%; margin:2px 5px 2px -20px; height:10px; text-align:center; }
.pzTemplate .rightCol .pzSizes input:last-child { margin-bottom:15px;}
.pzTemplate .rightCol div.Pzqty { float:left; width:35%; margin:8px 5px 0 15px;  font-weight:bold; font-size:13px;}
.pzTemplate .rightCol label { float:left; width:30%; margin:10px 5px 0 0; font-weight:bold; font-size:13px;}
.pzTemplate .rightCol input { float:left; width:95%; margin:3px 5px 3px 0; }
.pzTemplate .rightCol input.disablePreview, .pzTemplate .rightCol input.preview { width:97px; clear:both;} 
.pzTemplate .rightCol .uploadBtns .info { float:left; font-size:12px; font-weight: normal; padding-top:10px;}
.pzTemplate .rightCol .uploadBtns input { width:auto; clear:both;}
.pzTemplate .rightCol select { float:left; border: 1px solid #ccc;box-shadow: 0 20px 15px -20px #D6D6D6 inset;color: #555555;outline: medium none;padding: 4px; width:67%; margin:3px 5px 15px 0;}
.pzTemplate .rightCol input.full { width:95%; margin:3px 5px 10px 0;}
.pzTemplate .rightCol .pzhdr { clear:both; padding:10px; margin:15px 8px 10px 0; background:#f1f1f1; font-weight:bold; font-size:14px; cursor:pointer;}
.pzTemplate .rightCol .pzhdr .minus { background: url(images/sprite.png) no-repeat -191px -73px;width: 9px;height: 9px;display: block;float: left;margin: 3px 0 0 0;border: 0; float:right;}
.pzTemplate .rightCol .pzhdr .plus { background: url(images/sprite.png) no-repeat -191px -92px;width: 9px;height: 9px;display: block;float: left;margin: 3px 0 0 0;border: 0; float:right;}
.pzTemplate .rightCol p { clear:both; font-size:13px; font-weight:bold; padding:15px 0 3px; }
.pzTemplate .rightCol .instructions { font-size:11px; color:#990000; font-weight:normal; padding:0; margin:0;}
.pzTemplate .rightCol .uploadtext { font-size:12px; padding-top:15px; margin:0; padding-bottom:0px; font-weight:normal;}
.pzTemplate .pzDetails {background: #efefef; padding: 10px; margin:0 15px 15px; height: 50px;}
.pzTemplate .pzDetails .tableCol .pztable { width:375px; border: 1px solid #666666; background: #fff; }
.pzTemplate .pzDetails .tableCol .pztable th { width:125px; padding:5px; border-right:2px solid #fff;  background:#eeeeee; font-weight:bold; text-align:center; }
.pzTemplate .pzDetails .tableCol .pztable td { width:125px;  padding:8px;text-align:center !important;}
.pzTemplate .pzDetails div { float:left;}
.pzTemplate .pzDetails .totalPrice { padding:5px 25px;}
.pzTemplate .pzDetails .totalPrice .tprice { font-size:16px; color:#990000; font-weight:bold;}
.pzTemplate .pzDetails .totalPrice .tprice_info { padding-top:10px;} 
.pzTemplate .pzDetails .totalPrice .tprice_info .bigTxt { font-size:14px; font-weight:bold;} 
.pzTemplate .pzDetails .Qty_Addtocart { padding:0 10px;}
.pzTemplate .pzDetails .Qty_Addtocart .qty { font-size:18px;  font-weight:bold; padding:20px 10px 0 0;}
.pzTemplate .pzDetails .Qty_Addtocart .qtyinput input{ width:40px; border: 1px solid #090; padding:10px; margin:10px 15px 0 0; font-weight:bold; font-size:14px;}
.pzReview .leftCol { float:left;width:350px;}
.pzReview .leftCol img { border:1px solid #d6d6d6;width:350px;}
.pzReview .rightCol { float:left; width:450px; padding-left:25px;}
.pzReview .rightCol .hdr { font-size:16px; font-weight:bold; padding:0 0 10px; line-height:normal; color:#01698E;}
.pzReview .rightCol .pzReviewLable { float:left; width:40%; margin:10px 5px 0 0; font-weight:bold; font-size:13px; clear:both;}
.pzReview .rightCol .pzdetail { float:left; width:50%; margin: 10px 5px 0 -10px;}
.pzReview .rightCol .pzSizeLable { float:left; width:40%; margin:3px 5px 0 15px; font-size:11px; clear:both;}
.pzReview .rightCol .pzSizedetail { float:left; width:50%; margin: 3px 5px 0 -10px; font-size:11px}
.pzReview .rightCol .pzSizeQty { float:left; width:50%; margin:10px 5px 0 10px; font-weight:bold; font-size:13px;}
.pzReview .rightCol .pzSizes { clear:both; padding-bottom:15px;}
.pzReview .rightCol .pzSizes label { clear:both; float:left; width:40%; margin:5px 5px 0 20px; font-size:12px; font-weight:normal;}
.pzReview .rightCol .pzSizes input { float:left; width:13%; margin:2px 5px 2px -28px; height:10px; text-align:center; }
.pzReview .rightCol .pzSizes input.update { float:left; width:72px; margin:2px 5px 2px -28px; height:24px; text-align:center; }
.pzReview .rightCol .pzSizes input:last-child { margin-bottom:15px;}
.pzReview .rightCol .pzhdr { clear:both; padding:10px; margin:0 8px 0 0; background:#f1f1f1; font-weight:bold; font-size:14px; cursor:pointer;}
.pzLine_44 {height:230px;}
.pzlineAttrDiv_44_2 {height:230px;}
.pzTemplate #warning {color: #CC0000;float: left;font-weight: bold;margin-top: 4px; width: 280px;}


/*WriteReview Popup*/
.writeReview .two_cols label {clear:both}
.writeReview { width:850px; padding:10px;}
.writeReview .hdr { font-size:12px; font-weight:bold; padding:10px 0 ;}
.writeReview .hdr_info { font-size:11px; padding:0 0 10px;}
.writeReview .prodhdr { font-size:14px; padding:0 0 10px; font-weight:bold;}
.writeReview .prodhdr span { padding:0 10px 0 0;}
.writeReview ol { list-style: decimal; }
.writeReview ol li { font-size:11px; padding:0 0 2px 0; margin:0 0 0 40px;}
.writeReview ol li:nth-child(3) { padding-bottom:15px;} 
.writeReview .req_field { font-size:11px;}
.writeReview .rating_review p {clear:both;}
.writeReview .rating_review p span:first-child {margin-right:5px;}
.writeReview .rating_review p span:last-child {line-height:150%;}
.writeReview .rating_review p:first-child {float:left;margin-right:20px;}
.writeReview .rating_review  {clear:both;width:180px; height:40px;}
.writeReview .rating.star_1 {width: 19px;}

/* edit payment method */
#editPaymentMethod .form_2col {margin-bottom:20px}
#editPaymentMethod div.btns {margin-top:20px}
#editPaymentMethod span#ccTypeId {display:table;margin-left:174px}

/* scroll item pop up on prod detail page */
.pt-popup {
	display:none;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #064964;
  	box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.25);
    height: 260px;
    margin-left:275px;
    bottom:0;
    width: 450px;
	position:fixed;
	z-index:1500;
}

.pt-popup .pt-close, .pt-popup .pt-open {
	float: right;
	margin-top: 2px;
	margin-right: 7px;
	font-size: 12px;
	font-weight: bold;
	cursor:pointer;
}

.tx-ribbon span.plus {float:right;display:none;margin-right:50px;color:white;cursor:pointer;}

.pt-popup .pt-ribbon {
    background: url(images/ribbonBG.png);
    color: #fff;
    height: 30px;
    margin-top: 30px;
    width: 470px;
	margin-bottom:10px;
}

.tx-ribbon {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 0 20px;
}

div.pt-popup .img {
	float: left;
	width:120px;
	height:120px;
	margin-left:10px;
}

div.pt-popup .img img {width:120px;height:120px;}

div.pt-popup .col {float: left; width: 280px; margin-left: 20px;}
div.pt-popup .col div {margin-bottom:2px}

div.pt-popup .title, div.pt-popup .title a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 100%;
    overflow: hidden;
}

div.pt-popup .mnumber {font-size: 12px;color: #000;}

div.pt-popup .soldby {
	color: #064964;
	font-size: 11px;
	font-weight: bold;
	clear:none;
}

div.pt-popup .ships {
	font-size: 12px;
	color: #000;
}

div.pt-popup div.reviews {
	height: 18px;
	line-height: 18px;
}

div.pt-popup div.reviews a {
	padding-left:10px;
	font-size: 12px;
}

div.pt-popup .itmprice {
	font-size: 16px;
	font-weight: bold;
	color: #cc0000;
}

div.pt-popup .rebate {
	font-size: 11px;
	color: #cc0000;
	text-decoration: underline;
	background:none;
	padding-left:0;
	margin-top:0;
}

div.pt-popup span.pt-close span {font-size:18px; font-weight:bold;}
div.tx-ribbon span {color:#55ff43;}
div.mnumber span {font-weight:bold;}