/* --------------------------------------- RESETS --------------------------------------- */

html { overflow-y: scroll } /* Always force a scrollbar in non-IE */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  
    display:block;
}

html, body, p, h1, h2, h3, h4, h5, h6,  dl, dt, dd, ol, ul, li, fieldset, form, label, input {
    margin: 0;
	padding: 0;
	font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #333;
}

dl, dt, dd, ol, ul, li, fieldset, form, label, input, p{
     line-height: 100%;	
}

ul, ol {
	list-style: none;	
}

header, nav { display: block }

img, fieldset { border:0 }

input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 1px solid #ccc;
    box-shadow: 0 20px 15px -20px #D6D6D6 inset;
    color: #555555;
    outline: medium none;
    padding: 4px;
}

textarea { resize: none }

a {
	color: #333; 
	font-size: 12px;
	text-decoration: none; 
	cursor: pointer;
	outline:none;
	-moz-outline-style:none;
}

a:active, a:focus  {outline:none;-moz-outline-style:none;}

p { margin: 0 }  /* Have to find out */

p.last { margin-bottom: 0 }

strong { font-weight: bold; }


