/* Styles for Shob By tabs*/

div#mainShopByContainer {
	width: 1000px;
	margin: 40px auto;
}

div#mainShopByContainer div.col {
	float:left;
	width:22%;
	display:block;
	margin-left:5px;
}

div#mainShopByContainer .tabTxt {
	width: 1000px;
}

@media screen and (min-width: 1300px)  {
	
div#mainShopByContainer, div#mainShopByContainer .tabTxt {
	width: 1300px;
}

}

div#mainShopByContainer div.cat_brand a {
	margin-bottom:3px;
	display:block;
	/*border-bottom: 1px dotted #CCCCCC;*/
}

div#mainShopByContainer div.tabTxtContainer {
	overflow:visible
}

div#mainShopByContainer div.cat_brand {
    width: 100%;
	height: 155px;
    margin-top: 10px;
}

div#mainShopByContainer div.tabContainer {
	height:35px
}

div#mainShopByContainer .shopAll {
    float: right;
	padding: 15px 5px 0 0;
}

div#mainShopByContainer div.tabContainer div.tab:first-child {
	margin-left:0;
}

div#mainShopByContainer div.tabContainer div.over {
	cursor:pointer; 
	background-color:#eee;
}

div#mainShopByContainer div.tabTxtContainer div.alpha {
	height:30px;
	padding:20px 20px 0;
}

div#mainShopByContainer div.tabTxtContainer {
	clear:both;
	border:1px solid #666;
	height:210px;
	padding-bottom:15px;
}

div#mainShopByContainer div.tabTxtContainer a h5 {
    color: #414141;
    cursor: pointer;
    line-height: normal;
    text-decoration: none;
	font-size:11px;
	word-wrap:break-word;
}

div.tabTxtContainer div.alpha a {
	float:left;
	width:30px;
	color:#fff;
	text-align:center;
	border-left: 2px solid #0177A4;
	font-weight:bold;
	font-size:12px;
	line-height:24px;
	background-color:#035B81;
	height:24px;
}

div.tabTxtContainer div.alpha a:first-child {
	width:41px;
}

/* scroll bar */
.cat_brand div.jspDrag {
	background:none;
	width:10px;
	height:68px !important;
	background-color:#035B81;
	left:-5px;
	border-radius:12px;
}

.cat_brand .jspContainer {
    margin-left: 20px;
}

.cat_brand .jspTrack {
	 border: 1px solid #dedede;
	 width:1px;
	border-radius:2px;
}

.cat_brand .jspVerticalBar {
    right: 40px;
}