/* css for sliders */

/* css for category banners slide show*/
ul#catBnrShow li {
	width:390px;
}

.jcarousel-clip-horizontal {
	width:390px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

td#play {
	display:none
} 


/* add on slider product detail page */
.sliderHdr  {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}

.addon_col {
	clear:both;
    width: 750px;
}

ul#addOnSlider div.addon_img {
	width:50px;
	float:left;
	padding-right:15px;
}

.addon_checkbox {
    clear: both;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
	padding-top:5px;
}

ul#addOnSlider .addon_checkbox span {
	color:#990000; 
	font-weight:bold;
	padding-left:15px;
}


ul#addOnSlider .addon_checkbox a.btn2 {
    background-image: linear-gradient(#FEFEFE, #F4F4F4);
    border: 1px solid #BFC8D0;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    outline: medium none;
    text-decoration: none;
}

ul#addOnSlider .addon_checkbox a.btn2 span {color:#333}

.add_hdr {
	position:relative;
	top:5px;
}

.addon_hdr {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 5px 0 50px;
}

.addon_slider_wrapper {
    border-top: 1px solid #CEECF6;
    padding-left:60px;
	padding-top:20px;
    width: 700px;
}

.addon_slider_wrapper .jcarousel-skin-tango .jcarousel-container-horizontal {
   padding-left:0;
   
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}


.jcarousel-prev-horizontal, .jcarousel-next-horizontal  {
    background: url(images/sprite_prod.png) no-repeat;
    cursor: pointer;
    position: absolute;
}


/* css for image movie slider under Product Info tab*/
#imageMovie .jcarousel-skin-tango .jcarousel-clip-horizontal {
    height:auto;
    width: auto;
}

#imageMovie .jcarousel-skin-tango .jcarousel-container {
    background: none;
    border: 0;
    border-radius: 0;
}

#prodInfo_txt div.sliderArea .jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;

}

#prodInfo_txt div.sliderArea .jcarousel-skin-tango li,
#prodInfo_txt div.sliderArea div.jcarousel-clip,
#prodInfo_txt div.sliderArea .jcarousel-skin-tango li img  {
    width: 500px;
}

.slider-start {
    float:left;
	cursor:pointer;
	background: url(images/controls.png) no-repeat scroll;
    outline: 0 none;
	background-position: -86px 0px;
    height: 11px;
    width: 10px;
	margin-right:10px;
}

div.slider-controls {
	width:auto;
	float:right
}

.slider-start.pause {
	background-position: -86px -33px;
	opacity:.25;
	float:left;
}

.slider-controls .controls a.on {
	background: #ccc;
	cursor:default
}

.slider-controls .controls a {
	background: #333;
	width: 8px;
	height: 8px;
	display:inline-block;
	margin-right:3px;
} 

.slider-controls .controls a:last-child {
	margin-right:0
}

.slider-controls .controls a:hover {
	background: #ccc;
}

.slider-controls .controls {
	float:left;
	margin-bottom:10px;
}


/* css for top slider on pic group list page and search*/
#pgrouplist_body div.sliderHdr, #search_body div.sliderHdr {
    border-bottom: 1px solid #D6D6D6;
    margin-left: 40px;
    padding: 15px 0 0;
    position: relative;
    width: 564px;
}

#pgrouplist_body div.sliderHdr span, #cat_body div.sliderHdr span, #search_body div.sliderHdr span {
    background: none repeat scroll 0 0 #fff;
    color: #007CAA;
    font-size: 12px;
    font-weight: bold;
    padding-right: 15px;
	margin: 7px 0 0 20px; 
}

#pgrouplist_body div.sliderHdr span h1, #search_body div.sliderHdr span h1, #cat_body div.sliderHdr span h1 {
    color: #007CAA;
    font-size: 12px;
    font-weight: bold;
	display: inline;
}

#search_body .pgroups_container {
	margin-bottom: 20px;
}

.pgroups_nav .jcarousel-clip-horizontal {
	width:auto
}

.pgroups_container .jcarousel-skin-tango .jcarousel-item {
    width: 130px;
}

.pgroups_container .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin: 0;
}

.pgroups_container .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background-position:-210px 0;
    left: -30px;
}

.pgroups_container .jcarousel-skin-tango .jcarousel-prev,
.pgroups_container .jcarousel-skin-tango .jcarousel-next {
	top:35px;
	height: 46px;
    width: 25px;
}

.pgroups_container .jcarousel-skin-tango .jcarousel-next-horizontal {
   background-position:-232px 0;
   right: -30px;
 }
 
.pgroups_container .jcarousel-skin-tango .jcarousel-prev-disabled  {
	background-position:-195px -148px;
}

.pgroups_container .jcarousel-skin-tango .jcarousel-next-disabled {
	background-position:-220px -150px
}
 
.pgroups_container {
	width:520px;
	margin-top:25px;
	margin-left:60px;
} 
 
ul#pgroups_slider li p {
	font-size:11px;
	text-align:center;
	width:90%;
	margin:auto;
	margin-bottom:3px;
	line-height:11px;
}

/* Add on slider for prod detail*/

#popularAddOnsSlider .jcarousel-container {display:none}

#popularAddOnsSlider.slide-4  {
	margin-left: 30px;
	width:920px;
}

#popularAddOnsSlider.slide-3  {
	margin-left: 70px;
	width: 620px;
}

#popularAddOnsSlider.slide-4 .jcarousel-clip {
	width: 912px
}

#popularAddOnsSlider.slide-3 .jcarousel-clip {
	width: 684px
}

.jcarousel-clip {overflow:hidden}
	
div.addon_slider_wrapper .jcarousel-next, div.addon_slider_wrapper .jcarousel-prev,
#popularAddOnsSlider .jcarousel-next, #popularAddOnsSlider .jcarousel-prev {
	width:15px; 
	height:45px;
}

#popularAddOnsSlider .jcarousel-prev {
	background-position:-22px -328px;
	top:15px;
	left:-35px;
}

#popularAddOnsSlider .jcarousel-next {
	background-position:-40px -328px;
	top:10px;
	right:-30px;
}

#popularAddOnsSlider .jcarousel-next-disabled,
#popularAddOnsSlider .jcarousel-prev-disabled {
	opacity:.25;
}

/* css for left column with slider */
.prodDetailContainer p.hdr a.back {
    line-height: 11px;
    margin-left: 15px;
    padding: 2px 5px;
    position: absolute;
  	background-color: hsl(34, 0%, 91%) !important; 
    background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc, endColorstr=#dfdfdf); 
	background: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dfdfdf)); 
	background: -moz-linear-gradient(top, #fcfcfc, #dfdfdf); background-image: -ms-linear-gradient(top, #fcfcfc, #dfdfdf); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #dfdfdf)); 
	background: -webkit-linear-gradient(top, #fcfcfc, #dfdfdf); 
	background: -o-linear-gradient(top, #fcfcfc, #dfdfdf); 
	background: linear-gradient(#fcfcfc, #dfdfdf);
    border: 1px solid #B3B3B3;
    border-radius: 3px;
	background-image:none;
}

.searchIcon p.hdr {
    background: url(images/hdr_prod_search_bg.png) no-repeat;
    font-size: 18px;
    padding: 30px 0;
	width:265px;
}


div.search ul li div.item,
div.search ul li div.info {display:table }


div.prodDetailContainer div.searchIcon {
	position:fixed;
	top:60px;
	width:265px;
}

div.prodDetailContainer div.searchIcon p.hdr span {padding-left:20px;}

#prod_search_layout {
   width: 255px;
   top: 140px;
   position: fixed;
}	 

/* CSS Styles that are needed by jScrollPane for it to operate correctly.  */
.scroll-pane {
	height: 80%;
	overflow: auto;
}


/* scroll pane for top sellers on category/cat page  */
.catbnr_sec .scroll-pane {
	height: 100%;
	overflow: auto;
}

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	border-radius: 10px;
    height: 100%;
    margin: 0 auto;
    width: 2px;
	background-color:#999;
	position: relative;
}

.jspDrag {
	background: url(images/sprite_prod.png) no-repeat -2px -327px;
    width: 15px;
	position: relative;
	top: 0;
	left: -7px;
	cursor: pointer;
	/*height:112px;*/
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspHorizontalBar .jspTrack {}
	
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}


/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}

@media screen and (min-width: 1300px)  { /* for larger screens - bigger than 1000px  - size made for 1300px */

.pgroups_container {
	width: 780px;	
	margin-left: 75px;
}

#pgrouplist_body div.sliderHdr, #search_body div.sliderHdr {
	width: 847px;	
}

}