body {
    background: #ffffff;
    font: 12px Verdana, Arial, Sans-serif;
    color: #000000;
}

h1 {
    font-size: 140%;
    margin: 0.5em 1em;
}


td {
    color: #000000;
    font-family: verdana, arial, helvetica, tahoma; 
    font-size: 12px; 
    font-weight:none;
    scrollbar-face-color: #ffffff;
    scrollbar-shadow-color: #000000;
    scrollbar-base-color : #ffffff;
    scrollbar-highlight-color: #000000;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #000000;
    scrollbar-arrow-color: #000000;
}

a { color:#0000FF; text-decoration:none; font-weight:bold;}
a:hover { color:#ff0000; text-decoration:none; font-weight:bold;}
a:active { color:#00FF00; text-decoration:none; font-weight:bold ;}

.Menu
{width: 100%; height: 15px; padding:2 5 3 2; border-right: buttonshadow 1px solid; border-top: #F8F3A8 1px solid; border-left: #f5f5f5 1px solid; border-bottom: buttonshadow 1px solid; background-color: #177ED8; cursor:hand; color:#FFFFFF;}
.Option
{width: 100%; height: 15px; padding:2 5 3 16; border: 1 1 1 1 solid #ffffff; background-color: #ffffff; cursor:hand;}
.Options {padding:1 1 1 1}

.styled-button-9 {
    background:#00A0D1;
    background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
    background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
    padding:8px 20px;
    color:#cfebf3;
    font-family:'Helvetica Neue',sans-serif;
    font-size:13px;
    border-radius:40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border:1px solid #095B7E
}


div.pagination {
    padding: 3px;
    margin: 3px;
    text-align:center;
    color:#000;
    font-size:16px;
}
div.pagination a {
    border: 1px solid #909090;
    margin-right:3px;
    padding:2px 5px;
    background-position:bottom;
    text-decoration: none;
    color: #000;
    font-size:16px;
}
div.pagination a:hover, div.meneame a:active {
    border: 1px solid #f0f0f0;
    background-color:#404040;
    color: #000;
    font-size:16px;
}
div.pagination span.current {
    margin-right:3px;
    padding:2px 5px;
    border: 1px solid #ffffff;
    font-weight: bold;
    background-color: #606060;
    color: #000;
    font-size:16px;
}
div.pagination span.disabled {
    margin-right:3px;
    padding:2px 5px;
    border: 1px solid #606060;
    color: #000;
    font-size:16px;
}

div.error{
    padding:2px 4px;
    margin:0px;
    border:solid 1px #FBD3C6;
    background:#FDE4E1;
    color:#CB4721;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    text-align:center; 
}
div.success{
    padding:2px 4px;
    margin:0px;
    border:solid 1px #C0F0B9;
    background:#D5FFC6;
    color:#48A41C;
    font-family:Arial, Helvetica, sans-serif; font-size:14px;
    font-weight:bold;
    text-align:center; 
}
